<html>
<head>
    <title>Test alınması gereken kalıplar listesi hk.</title>
</head>
<body>
    <p>Merhabalar,</p>
    <p>{{ user_info }} tarafından, {{ die_location }} konumuna yeni bir <span style="color: red;">TEST</span> kalıbı transferi yapılmıştır.</p>

    <p>Aşağıda transfer edilen <span style="color: red;">TEST</span> kalıpların listesi bulunmaktadır:</p>
    <ul>
        {% for die in dieList %}
            <li>{{ die }}</li>
        {% endfor %}
    </ul>
    <p>Yukarıda yer alan kalıplar için <span style="color: red;">DENEME</span> siparişi açılmasını ve baskılarının takip edilmesini rica ederim.</p>
    <p>İyi çalışmalar dilerim.</p>
</body>
</html>
