{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'tabulator/dist/css/tabulator_bootstrap5.min.css' %}">
  
  <style>
    .callout.callout-info {
        border-width: 40px; /* Adjust the size as needed */
        border-color: #6aafac; /* Change the color if necessary */
    }
  </style>

{% endblock %}

{% block content %}
    <div class="card">
      <div class="card-header">
        <h3>BİLDİRİMLER</h3>
      </div>
      <div class="card-body">
        <div id="tabNoti"></div>
      </div>
    </div>

    <hr>
    
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'tabulator/dist/js/tabulator.js' %} "></script>

<script>
  // var data = JSON.parse('{{ notifications|escapejs }}');

  var notiMessages = document.getElementsByClassName('notiMessage');
  for (var i = 0; i < notiMessages.length; i++) {
      notiMessages[i].innerHTML = notiMessages[i].textContent;
  };

  function markNotificationAsRead(notificationId) {
    window.location.href = `/notif/${notificationId}`;
    const data = {
        type: 'mark_as_read',
        notification_id: notificationId
    };
    socket.send(JSON.stringify(data));
  };

  function markAsMarked(notificationId) {
    var notificationBorder = $(`#nb${notificationId}`);
    //if class has blue remove if it doesn't have add
    var isCurrentlyBlue = notificationBorder.css('background-color') === 'rgb(0, 0, 255)'; // Checking if the color is blue

    if (isCurrentlyBlue) {
        notificationBorder.css('background-color', '#e0e0e0'); // Set to grey if it's currently blue
    } else {
        notificationBorder.css('background-color', 'blue'); // Set to blue if it's not
    }

    const data = {
        type: 'mark_as_marked',
        notification_id: notificationId,
    };
    socket.send(JSON.stringify(data));

  }

  var tableNoti = new Tabulator("#tabNoti", {
    height:"500px",
    layout:"fitColumns",
    placeholder:"Bildirimler",
    ajaxURL:"/notifications/all", 
    progressiveLoad:"scroll",
    paginationMode:"remote",
    filterMode:"remote",
    paginationSize:30,
    ajaxURLGenerator:function(url, config, params){
        return url + "?params=" + encodeURI(JSON.stringify(params)); //encode parameters as a json object
    },
    rowFormatter:function(row){
        if(row.getData().col_marked == "#4B56D2"){
            row.getElement().style.backgroundColor = "#DFECF9 ";
        }
    },
    columns:[
            {title:"", field:"col_marked" ,formatter:"color", width:50},
            {title:"Kim", field:"Kisi"},
            {title:"İçerik", field:"message"},
            {title:"Çizim No", field:"CizimNo"},
            {title:"Zaman", field:"timestamp"},
    ],
  });

  tableNoti.on("cellClick", function(e, cell){
    var cellField = cell.getElement().getAttribute('tabulator-field');
    var nId = cell.getData().id; // Get the ID from the row data
    if (cellField != "col_marked") {
      markNotificationAsRead(nId);
    }
    else {
      // change is_marked
      markAsMarked(nId);
    }
      
  });
  
</script>

{% endblock %}