{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}

{% endblock %}

{% block content %}
    <h1>Bildirimler</h1>
    <div class="row ml-2 mr-2">
        {% for notification in notifications %}
        <div class="callout callout-info col-md-4">
            <div class="d-flex justify-content-between">
                <div>
                    <i class="fas fa-file mr-2"></i>
                    {{ notification.Kisi }}
                </div>
                <a>{{ notification.timestamp }}</a>
            </div>
            <div>{{ notification.message }}</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}