{% extends 'adminlte/base.html' %}
{% block body_class %}{% block bodyclass %}sidebar-collapse {% endblock %}{% endblock %}

{% load static %}

{% block title %}Üretim - Kart Bölüştürme{% endblock %}

{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'tabulator/dist/css/tabulator_bootstrap5.min.css' %}">

<style>

</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="profilDiv">
        <label for="profilSelect">Profil Numarası Seçiniz: </label>
        <select name="profil" id="profilSelect" class="form-control">
            <option value="" disabled selected>Profil No</option>
            {% for p in profils %}
            <option value={{p}}>{{p}}</option>
            {% endfor %}
        </select>
        <label for="gramaj">Profil Gramajı Giriniz:</label>
        <input type="text" class="form-control" name="gramaj" id="gramaj">
    </div>
    <hr>
    <div class="hideDiv" style="display: none;">
        <div class="row">
            <div class="extDiv col-6">
                <div id="extTable"></div>
            </div>
            <div class="sepetDiv col-6">
                <div id="sepetTable"></div>
            </div>       
        </div>
        <div class="siparisDiv mt-2">
            <div id="siparisTable"></div>
        </div>
        <div class="buttonDiv">
            <hr>
            <button id="hesaplaButton" class="btn btn-primary form-control">Hesapla</button>
        </div>        
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    var profilSelect = document.getElementById('profilSelect');
    var hideDiv = document.querySelector('.hideDiv');
    var hesaplaButton = document.getElementById('hesaplaButton');
    var gramajInp = document.getElementById('gramaj');
    var data = [];

    extTable = new Tabulator("#extTable", {
        height: "250px",
        layout:"fitColumns",
        placeholder: "Ext Geçmişi",
        data: data || '[]',
        columns: [
            {formatter:"rowSelection", titleFormatter:"rowSelection", width:40, hozAlign:"center", headerSort:false, cellClick:function(e, cell){
                cell.getRow().toggleSelect();
            }},
            { title: "Kart", field: "kart_no" },
            { title: "Kalıp No", field: "kalip_no" },
            { title: "Başlangıç", field: "imalat_baslangici_2" },
            { title: "Bitiş", field: "imalat_sonu_2" },
            { title: "Brüt", field: "brüt_imalat", formatter:"money", formatterParams:{
                decimal:",",
                thousand:".",
                symbol:"kg",
                symbolAfter:"kg",
                precision:true,
            } },
            { title: "Billet Sayısı", field: "billet_count" },
        ]
    });

    sepetTable = new Tabulator("#sepetTable", {
        height: "250px",
        layout:"fitColumns",
        placeholder: "Sepetler",
        data: data || '[]',
        columns: [
            {formatter:"rowSelection", titleFormatter:"rowSelection", width:40, hozAlign:"center", headerSort:false, cellClick:function(e, cell){
                cell.getRow().toggleSelect();
            }},
            { title: "Sepet No", field: "SepetNo" },
            { title: "Kart No", field: "KartNo" },
            { title: "Adet", field: "Adet" },
            { title: "Boy", field: "Boy" },
        ]
    });

    siparisTable = new Tabulator("#siparisTable", {
        height: "250px",
        layout:"fitColumns",
        placeholder: "Siparisler",
        data: data || '[]',
        columns: [
            {formatter:"rowSelection", titleFormatter:"rowSelection", width:40, hozAlign:"center", headerSort:false, cellClick:function(e, cell){
                cell.getRow().toggleSelect();
            }},
            { title: "Kart No", field: "KartNo" },
            { title: "Kg", field: "Kg" },
            { title: "Adet", field: "Adet" },
            { title: "Boy", field: "PlanlananMm" },
            { title: "Kondüsyon", field: "KondusyonTuru" },
            { title: "Yüzey", field: "YuzeyOzelligi" },
            { title: "Termin", field: "SonTermin" },
            { title: "Firma", field: "FirmaAdi" },
        ]
    });
    
    profilSelect.addEventListener("change",function () {
        var selectedProfilNo = this.value;
        $.ajax({
            url: '/4500/hesaplama/get_ext_info/',
            type: 'GET',
            data: {
                profil_no: selectedProfilNo
            },
            success: function (response) {
                console.log(response.ext_data);
                extTable.replaceData(response.ext_data);
            },
            error: function (xhr, status, error) {
                console.error("Error fetching Ext info:", error);
            }
        });
        
        $.ajax({
            url: '/4500/hesaplama/get_sepet_info/',
            type: 'GET',
            data: {
                profil_no: selectedProfilNo
            },
            success: function (response) {
                console.log(response.sepet_data);
                sepetTable.replaceData(response.sepet_data);
            },
            error: function (xhr, status, error) {
                console.error("Error fetching Ext info:", error);
            }
        });

        $.ajax({
            url: '/4500/hesaplama/get_kart_info/',
            type: 'GET',
            data: {
                profil_no: selectedProfilNo
            },
            success: function (response) {
                console.log(response.siparis_data);
                siparisTable.replaceData(response.siparis_data);
            },
            error: function (xhr, status, error) {
                console.error("Error fetching Ext info:", error);
            }
        });

        hideDiv.style.display = 'block';
    });

    hesaplaButton.addEventListener("click", function () { 
        // 3 tabulatorden de seçim yapılmış mı kontrol et.
        // yapılmayan varsa alert ile uyar işlem yapma.
        var ext = extTable.getSelectedData();
        var sepet = sepetTable.getSelectedData();
        var siparis = siparisTable.getSelectedData();
        var gramaj = gramajInp.value;
        var sonuc = [];

        var extSelected = ext.length > 0;
        var sepetSelected = sepet.length > 0;
        var siparisSelected = siparis.length > 0;

        if (!gramaj) {
            alert("Lütfen gramaj girin.");
            return;
        }

        if (ext.length === 0 || sepet.length === 0 || siparis.length === 0) {
            alert("Lütfen her tablodan seçim yapın.");
            return;
        }
        
        var baslangicSaat = new Date(ext[0].imalat_baslangici);
        var netSepet = 0;
        var totalNetBoy = 0;
        for (var i = 0; i < sepet.length; i++) {
            var net = sepet[i].Adet * sepet[i].Boy * gramaj / 1000;
            netSepet += net;
            totalNetBoy += sepet[i].Adet * sepet[i].Boy / 1000;
        }
        console.log("Net Sepet: ", netSepet);
        console.log("Toplam Net Boy: ", totalNetBoy);

        var brutExt = 0;
        var toplamBilletAdet = 0;
        var minStartTime = Infinity;
        var maxEndTime = -Infinity;
        for (var i = 0; i < ext.length; i++) {
            brutExt += ext[i].brüt_imalat;

            var start = new Date(ext[i].imalat_baslangici);
            var end = new Date(ext[i].imalat_sonu);
            if (start < minStartTime) minStartTime = start;
            if (end > maxEndTime) maxEndTime = end;

            toplamBilletAdet += ext[i].billet_count;
        }
        console.log("Brüt Ext: ", brutExt);
        console.log("Toplam Billet Adet: ", toplamBilletAdet);
        // console.log("Min Start: ", minStartTime);
        // console.log("Max End: ", maxEndTime);
        var sure = (maxEndTime - minStartTime) / 60000;
        console.log("Süre: ", sure);

        var verim = netSepet / brutExt;
        console.log("Verim: ", verim);

        var netUretimHizi = sure / totalNetBoy;
        console.log("Net Üretim Hızı: ", netUretimHizi);

        var ortBilletBoyu = brutExt / toplamBilletAdet / 1.367;
        console.log("Ortalama Billet Boyu: ", ortBilletBoyu);

        var siparisByBoy = {};

        // Boylara göre grupla
        for (var i = 0; i < siparis.length; i++) {
            var boy = siparis[i].PlanlananMm;
            if (!siparisByBoy[boy]) {
                siparisByBoy[boy] = [];
            }
            siparisByBoy[boy].push(siparis[i]);
        }

        for(var boy in siparisByBoy) {
            var siparisler = siparisByBoy[boy];

            var toplamSepetAdet = 0;
            var toplamSepetBoy = 0;
            for (var i = 0; i < sepet.length; i++) {
                if (sepet[i].Boy === parseFloat(boy)) {
                    toplamSepetAdet += sepet[i].Adet;
                    toplamSepetBoy += sepet[i].Boy;
                }
            }
            var toplamKartAdet = 0;
            for (var i = 0; i < siparisler.length; i++) {
                toplamKartAdet += siparisler[i].Adet;
            }
            var fazlaUretim = toplamSepetAdet / toplamKartAdet;
            // var fazlaUretim = netSepet / toplamBilletAdet;
            console.log("toplamSepetAdet: ", toplamSepetAdet);
            console.log("toplamSepetBoy: ", toplamSepetBoy);
            console.log("toplamKartAdet: ", toplamKartAdet);
            console.log("fazlaUretim: ", fazlaUretim);

            siparisler.forEach(function(siparisData) {
                if (fazlaUretim > 1) { 
                    var uretilenAdet = Math.round(siparisData.Adet * fazlaUretim);
                }
                else {
                    var uretilenAdet = Math.round(siparisData.Adet * 1.05);
                }
                console.log("UretilenAdet: ", uretilenAdet);
                var uretilenBoy = uretilenAdet * siparisData.PlanlananMm / 1000; // metre
                console.log("uretilenBoy", uretilenBoy);
                var hesaplananSure = uretilenBoy * netUretimHizi; // metre * dk/metre = dk
                console.log("hesaplananSure", hesaplananSure)
                var hesaplananBrut = (uretilenBoy * gramaj) / (verim * 1.367);
                console.log("Hesaplanan Brüt: ", hesaplananBrut);
                var hesaplananBilletAdeti = Math.round(hesaplananBrut / ortBilletBoyu);
                console.log("Hesaplanan Billet Adeti: ", hesaplananBilletAdeti);
                var hesaplananBilletBoyu = hesaplananBrut / hesaplananBilletAdeti;
                console.log("Hesaplanan Billet Boyu: ", hesaplananBilletBoyu);
                console.log(baslangicSaat);
                var bitisSaati = moment(baslangicSaat).add(hesaplananSure, 'm').toDate();
                console.log(bitisSaati);
                var row = {"KartNo": siparisData.KartNo, "Baslangic": baslangicSaat, "Bitis": bitisSaati, "Brut": hesaplananBrut, "billetAdet": hesaplananBilletAdeti, 
                            "billetBoy": hesaplananBilletBoyu, "uretAdet": uretilenAdet, "uretBoy": uretilenBoy};
                sonuc.push(row);
                baslangicSaat = bitisSaati;
            });

        }

        console.log("sonuç: ", sonuc)
        // + net = seçili her sepet için adet*boy*gramaj hesaplanır ve toplanır
        // + brüt = seçili üretimlerin toplam brütü
        // + verim = net / brüt
        // + süre = seçili üretimlerin bitiş max - başlangıç min (dk cinsinden)
        // + toplam net boy = sepetlerin (adet * boy / 1000) hesaplanıp toplamı 
        // + net üretim hızı = süre / toplam net boy  (dk/m)
        // + ortalama billet boyu = brüt / toplam billet adeti
        // (kart her boy için for)
        //     + fazla üretim =  seçili sepetlerin toplam adeti / seçili kartların toplam adeti
        //     if fazla üretim > 1 (fazla üretim her karta eşit dağıtılır)
        //     (her kart için for)
        //         üretilen adet = sipariş adeti * fazla üretim (tam sayıya yuvarla)
        //         hesaplanan süre = (her kart için for) üretilen adet * net üretim hızı
        //         hesaplanan brüt = (üretilen adet*boy*gramaj) / (verim * 1.367)
        //         hesaplanan billet adeti = hesaplanan brüt / ortalama billet boyu (tam sayıya yuvarla)
        //         hesaplanan billet boyu = hesaplanan brüt / hesaplanan billet adeti (iki basamak decimal)
        //     else: (termini en geç kartın üretilen adeti eksik kalır)
        //     (her kart için for)
        //     üretilen adet = sipariş adeti * 1,05
        //     geri kalan hesaplanan değerler aynı
    
    });

});
</script>

{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'tabulator/dist/js/tabulator.js' %} "></script>
<script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>

{% endblock %}