{% extends 'adminlte/base.html' %}
{% block body_class %}{% block bodyclass %}sidebar-collapse {% endblock %}{% endblock %}

{% load static %}

{% block title %}Testere - Sepet Listesi{% endblock %}

{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'tabulator/dist/css/tabulator_bootstrap5.min.css' %}">
<style>
    .sepetno-container {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .sepet-container .row {
        margin-left: 0;
        margin-right: 0;
        width: 100%; /* Ensure it doesn’t exceed its parent */
        
        gap: 5px; /* Adjust spacing */
    }
    .show-con {
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h3>SEPETLER</h3>
    <hr>
    <div class="card" >
        <div class="card-header">
            <div class="card-title">
                <h5>Sepetler</h5>
            </div>
        </div>
        <div class="card-body">
            <div id="sepetlerTable"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h5>Atanan Sepetler</h5>
            </div>
        </div>
        <div class="card-body">
            <div id="atananSepetTable"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="sepetModal" tabindex="-1" aria-labelledby="sepetModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sepet Düzenle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="sepetno-container">
                    <label for="sepetNo">Sepet No:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">S</span>
                        </div>
                        <input type="text" id="sepetNo" class="form-control" placeholder="Sepet Numarası Giriniz" aria-describedby="basic-addon1" />
                    </div>
                </div>
                <div class="sepet-container">
                    <div class="row">
                        <select class="form-control col" id="kalipNoSelect" name="KalipNoSelect" data-placeholder="Kalıp Numarası Seçiniz">
                            <option value=""></option>
                        </select>
                        <select name="BilletLot" class="form-control show-con col" id="billetLotSelect">
                            <option value="" id="billetLotSelected" selected disabled>Şarj No* </option>
            
                        </select>
                        <select name="KartNoSelect" class="form-control show-con col" id="kartNoSelect">
                            <option value="" id="kartNoSelected" selected disabled>Kart No* </option>
                            
                        </select>
                        <input type="text" id="adet" class="form-control show-con col" placeholder="Adet">
                        <button id="ekleButton" class="btn btn-primary show-con col" disabled>Yükle</button>
                    </div>
                    <div id="siparisInfo">
                        <table class="table table-bordered" id="siparisTable" style="width: 100%; display: none;">
                            <thead>
                                <tr>
                                    <th>Profil No</th>
                                    <th>Kalan Kg</th>
                                    <th>Kalan Adet</th>
                                    <th>Boy</th>
                                    <th>Kondusyon Turu</th>
                                    <th>Yuzey Ozelligi</th>
                                    <th>Profil Gramaj</th>
                                    <th>Firma Adi</th>
                                </tr>
                            </thead>
                            <tbody id="siparisTableBody">

                            </tbody>
                        </table>
                    </div>
                    <div class="mt-3" id="sepet-tabulator"></div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" id="btnSepetKaydet" class="btn btn-primary">Kaydet</button>
        </div>
      </div>
    </div>
  </div>
<div  class="modal fade" id="atananSepetModal" tabindex="-1" aria-labelledby="atananSepetModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sepet Görüntüle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="atananSepetNo">Sepet No:</label>
                <input type="text" class="form-control" name="atananSepetNo" id="atananSepetNo" disabled>
                <div class="mt-3" id="atanan-sepet-tabulator"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>        
    function checkKartNo() {
        var kartNo = document.getElementById('kartNo').value;
        if (kartNo) {
            $.ajax({
                url: '/4500/sepetler/get_siparis_kart_info/',
                type: 'GET',
                data: {
                    kart_no: kartNo
                },
                success: function (response) {
                    if (response.success) {
                        var orders = response.orders;
                        var table = document.getElementById('siparisTable');
                        table.style.display = "table";
                        var tableBody = document.getElementById('siparisTableBody');
                        tableBody.innerHTML = "";
                        console.log(orders)
                        orders.forEach(function (order) {
                            var row = document.createElement('tr');
                            var FirmaAdi = order.FirmaAdi.split(' ')[0];

                            row.innerHTML = `
                                <td>${order.ProfilNo}</td>
                                <td>${order.Kg}</td>
                                <td>${order.Adet}</td>
                                <td>${order.Boy}</td>
                                <td>${order.KondusyonTuru}</td>
                                <td>${order.YuzeyOzelligi}</td>
                                <td>${order.Profil_Gramaj}</td>
                                <td>${FirmaAdi}</td>
                            `;

                            tableBody.appendChild(row);
                        });

                    } else {
                        console.error("Error fetching Siparis info:", response.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching Siparis info:", error);
                }
            });
        }
    }
    var sepetTable = null;
    var sepet_id = 0;
    document.addEventListener("DOMContentLoaded", function () { 
        var sepetNoInput = document.getElementById('sepetNo');
        var atananSepetNoInput = document.getElementById('atananSepetNo');
        var kalipNoSelect = document.getElementById('kalipNoSelect');
        var kartNoSelect = document.getElementById('kartNoSelect');
        var billetLotSelect = document.getElementById('billetLotSelect');
        var adet = document.getElementById('adet');
        var showContainer = document.querySelectorAll(".show-con");
        var duzenleButton = document.getElementById('duzenleButton');
        var ekleButton = document.getElementById('ekleButton');
        var kaydetButton = document.getElementById('btnSepetKaydet');
        
        function fillModal(data) {
            sepetNoInput.value = data.sepet_no.slice(1);
            sepet_id = data.id;
            initializeTabulator(data.yuklenen);
            getKalipNoList();
        }
        function fillAtananModal(data) {
            atananSepetNoInput.value = data.sepet_no;
            sepet_id = data.id;
            initializeAtananTabulator(data.yuklenen);
        }
        var editIcon = function(cell, formatterParams, onRendered){ 
            return "<i class='fa fa-edit'></i>";
        };
        var sepetlerTable = new Tabulator("#sepetlerTable", {
            height: "500px",
            layout:"fitColumns",
            placeholder: "Sepetler",
            ajaxURL:"/4500/sepetler/get_sepetler",
            columns: [
                {formatter:editIcon, width:80, hozAlign:"center", headerSort:false ,cellClick: function (e, cell) {
                    var data = cell.getData();
                    fillModal(data);
                    $('#sepetModal').modal('show');
                }},
                { title: "Sepet No", field: "sepet_no" },
                { title: "Başlangıç", field: "baslangic_saati", formatter:function(cell, formatterParams, onRendered){
                    var value = cell.getValue();
                    value = moment(value).format("DD/MM HH:mm");
                    return value;
                }},
                { title: "Bitiş", field: "bitis_saati", formatter:function(cell, formatterParams, onRendered){
                    var value = cell.getValue();
                    value = moment(value).format("DD/MM HH:mm");
                    return value;
                }},
            ]
        });
        var atananSepetTable = new Tabulator("#atananSepetTable", {
            height: "500px",
            layout:"fitColumns",
            placeholder: "Atanan Sepetler",
            ajaxURL:"/4500/sepetler/get_atanan_sepetler",
            columns: [
                {formatter:editIcon, width:80, hozAlign:"center", headerSort:false ,cellClick: function (e, cell) {
                    var data = cell.getData();
                    fillAtananModal(data);
                    $('#atananSepetModal').modal('show');
                }},
                { title: "Sepet No", field: "sepet_no" },
                { title: "Başlangıç", field: "baslangic_saati", formatter:function(cell, formatterParams, onRendered){
                    var value = cell.getValue();
                    value = moment(value).format("DD/MM HH:mm");
                    return value;
                }},
                { title: "Bitiş", field: "bitis_saati", formatter:function(cell, formatterParams, onRendered){
                    var value = cell.getValue();
                    value = moment(value).format("DD/MM HH:mm");
                    return value;
                }},
            ]
        });

        function getKalipNoList() { 
            $.ajax({
                url: "/4500/sepetler/get_kalip_nos/",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    populateKalipNoSelect(data);
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching KartNo list:", error);
                }
            });
        }

        function populateKalipNoSelect(data) {
            kalipNoSelect.innerHTML = `<option value="" id="kalipNoSelected" selected disabled>Kalıp No Seçiniz</option>`;
            data.forEach(kalipNo => {
                const option = document.createElement("option");
                option.value = kalipNo;
                option.textContent = kalipNo;
                kalipNoSelect.appendChild(option);
            });
        }

        function populateKartNoSelect(data) {
            // Clear existing options
            kartNoSelect.innerHTML = `<option value="" id="kartNoSelected" selected disabled>Kart No Seçiniz</option>`;
            data.forEach(kartNo => {
                const option = document.createElement("option");
                option.value = kartNo;
                option.textContent = kartNo;
                kartNoSelect.appendChild(option);
            });
        }

        function populateSarjNoSelect(data) {
            billetLotSelect.innerHTML = `<option value="" id="billetLotSelected" selected disabled>Şarj No Seçiniz</option>`;
            data.forEach(sarjNo => {
                const option = document.createElement("option");
                option.value = sarjNo;
                option.textContent = sarjNo;
                billetLotSelect.appendChild(option);
            });
        }

        function toggleEkleButtonState() {
            if (kalipNoSelect.value && kartNoSelect.value && billetLotSelect.value && adet.value && parseInt(adet.value) > 0) {
                ekleButton.disabled = false;
            } else {
                ekleButton.disabled = true;
            }
        }
        $("select, input").change(function(){
            toggleEkleButtonState();
        });
        
        kalipNoSelect.addEventListener("change", function () {
            var selectedKalipNo = this.value;
            if (selectedKalipNo) {
                $.ajax({
                    url: '/4500/sepetler/get_billet_lots/',
                    type: 'GET',
                    data: {
                        kalip_no: selectedKalipNo
                    },
                    success: function (data) {
                        populateSarjNoSelect(data);
                        var index = 0, length = showContainer.length;
                        for ( ; index < length; index++) {
                            showContainer[index].style.display = "block";
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching billet lots:", error);
                    }
                });
                $.ajax({
                    url: '/4500/sepetler/get_siparis_nos/',
                    type: 'GET',
                    data: {
                        kalip_no: selectedKalipNo
                    },
                    success: function (data) {
                        populateKartNoSelect(data);
                        var index = 0, length = showContainer.length;
                        for ( ; index < length; index++) {
                            showContainer[index].style.display = "block";
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching siparis nos:", error);
                    }
                });
            }
        })

        
        function initializeTabulator(data) { 
            var deleteIcon = function(cell, formatterParams, onRendered){ 
                return "<i class='fa fa-trash'></i>";
            };
            sepetTable = new Tabulator("#sepet-tabulator", {
                height: "300px",
                layout:"fitColumns",
                placeholder: "Sepet",
                data: data || '[]',
                columns: [
                    { title: "Kalıp No", field: "KalipNo" },
                    { title: "Kart No", field: "KartNo" },
                    { title: "Şarj No", field: "BilletLot" },
                    { title: "Adet", field: "Adet" },
                    {formatter:deleteIcon, width:40, hozAlign:"center", headerSort:false ,cellClick: function (e, cell) {
                        var kartNo = cell.getRow().getData().KartNo;
                        if (confirm("Silmek istediğinizden emin misiniz?")) {
                            sepetTable.deleteRow(cell.getRow());
                        }
                    }},
                ]
            });
        }

        function initializeAtananTabulator(data) { 
            var deleteIcon = function(cell, formatterParams, onRendered){ 
                return "<i class='fa fa-trash'></i>";
            };
            sepetTable = new Tabulator("#atanan-sepet-tabulator", {
                height: "300px",
                layout:"fitColumns",
                placeholder: "Atanan Sepet",
                data: data || '[]',
                columns: [
                    { title: "Kalıp No", field: "KalipNo" },
                    { title: "Kart No", field: "KartNo" },
                    { title: "Şarj No", field: "BilletLot" },
                    { title: "Adet", field: "Adet" },
                ]
            });
        }
        ekleButton.addEventListener('click', function() {
            // Kart No ve Adet var mı kontrol et
            if (kalipNoSelect.value == "" || kartNoSelect.value == "" || billetLotSelect.value == "" || adet.value == "") {
                alert("Lütfen boş alan bırakmayınız.");
                return;
            }
            sepetTable.addData([{"KalipNo": kalipNoSelect.value, "KartNo": kartNoSelect.value, "BilletLot": billetLotSelect.value, "Adet": adet.value}], true);
        });
    
        kaydetButton.addEventListener('click', function(){
            var data = JSON.stringify(sepetTable.getData());
            if (data.length > 0) {
                $.ajax({
                    url: '/4500/sepetler/update_sepet/',
                    type: 'POST',
                    data: {
                        sepet_id: sepet_id,
                        sepet_no: "S" + sepetNoInput.value,
                        yuklenen: data,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        alert("Güncelleme başarıyla kaydedildi.");
                        $('#sepetModal').modal('hide');
                        sepet_id = 0;
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error("Error deleting item:", error);
                    }
                });
            }
            else {
                alert("Lütfen boş bırakmayınız!");
                return;
            }
        })
     })


</script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'tabulator/dist/js/tabulator.js' %} "></script>
<script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>

{% endblock %}