{% load comment_tags %}
<div class="post" id="comment-{{ node.comment.id }}">
    <div class="user-block">
        <img class="img-circle img-bordered-sm" src="/static/ArslanTakipApp/aaLogo.png" alt="user image">
        <span class="username" style="color: blue;">{{ node.comment.KullaniciAdi }}</span>
        <span class="description">{{ node.comment.Tarih|date:"d-m-Y H:s" }}</span>
    </div>
    <div id="p{{node.comment.id}}">
       {{ node.comment.Aciklama|safe }}
    </div>
    
    {% if node.comment.cfiles %}
        <div class="gallery">
            {% for cf in node.comment.cfiles %}
                <img src="/media/{{ cf.File }}" alt="{{ cf.File }}" />
            {% endfor %}
        </div>
    {% endif %}

    <span>
        <a role="button" class="ml-2" style="color: green" data-toggle="collapse" href="#replyComment{{ node.comment.id }}">cevapla</a>
    </span>

    <div class="collapse mt-2" id="replyComment{{ node.comment.id }}">
        <!-- Reply form can go here -->
    </div>

    {% if node.replies %}
        <div class="nested-replies">
            {% for reply in node.replies %}
                {% render_comment reply %}
            {% endfor %}
        </div>
    {% endif %}
</div>



