{% extends 'adminlte/base.html' %}
{% block body_class %}{% block bodyclass %}sidebar-collapse {% endblock %}{% endblock %}

{% load static %}

{% block title %}Arslan Alüminyum{% endblock %}

{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
    
{% endblock %}

{% block content %}

<div class="container-fluid col-lg-11">
    <iframe src="http://192.168.150.230:3000/d-solo/fe1c6ph9rkdfke/ueretim-verileri?orgId=1&refresh=1s&from=1731744000000&to=1731768986589&theme=light&panelId=10" width="450" height="200" frameborder="0"></iframe>
</div>
{% endblock %}

{% block extra_js %}


{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<!-- indirmek zorunda kalmayacağımız bir yolunu bul -->
{% endblock %}