{% extends 'adminlte/base.html' %}
{% block body_class %}{% block bodyclass %}sidebar-collapse {% endblock %}{% endblock %}

{% load static %}

{% block title %}Arslan Alüminyum{% endblock %}

{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'tabulator/dist/css/tabulator_bootstrap5.min.css' %}">
<link rel="stylesheet" href="{% static 'admin-lte/plugins/ekko-lightbox/ekko-lightbox.css' %}">
<link rel="stylesheet" href="{% static 'admin-lte/plugins/summernote/summernote-bs4.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/file-icon-vectors/dist/file-icon-vectors.min.css' %}">


<style>
    .custom-file-input ~ .custom-file-label::after {
        content: "Gözat";
    }
    .overflow {
        display: block;
        white-space: nowrap;
        width: 120px; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .fiv-cla, .fiv-viv, .fiv-sqo { font-size: 3.5em; }
    .tabulator-menu{
        width: 200px;
        height: 150px;
        overflow-y: auto;
    }
    .tabulator { 
        background-color: #ccc;
        font-weight: bold;
        /* width: 535px; */
    }
    #photos{
        width:100%;
        height:100%;
    }
    img {
        width:100%;
        height:100%;
    }
    .nested-replies {
        margin-left: 20px; /* Adjust the indentation level as needed */
    }
</style>
    
{% endblock %}

{% block content %}

<div class="container-fluid col-lg-11">
    <h1 class="col-lg-11">Arslan Alüminyum Kalıp Listesi</h1>
    <div class="row">
        <div class="container-fluid col-lg-12">
            <div class="row col-lg-12">
                <div class="col-lg-6">
                    <span id="deneme"></span>
                </div>
                <div class="col-lg-6">
                    <a class="btn btn-app bg-success" style="float: right;" id="download-xlsx" >
                        <i class="fas fa-file-excel"></i>
                        excell
                    </a>
                </div>
            </div>
            <div class="card" id="kalipListe-table"></div>
        </div>
        <div class="container-fluid col-lg-7">
                <div class="card container-fluid " id="kalip_karti" style="display: none;">
                <!-- Kalıp Kartı -->
                <div class="card-body">
                    <div class="row">
                        <div class="row col-lg-4">
                            <div class="container-fluid col-lg-12">
                                <div class="card col-lg-12">
                                    <div class="card-body" id="photos">  <!-- Fotoğraflar  -->
                                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <a href="{% static '/ArslanTakipApp/arslanLogo.png' %}" data-toggle="lightbox" id="TeknikA">
                                                        <img id="TeknikResim" class="d-block w-100" alt="First slide" src="{% static '/ArslanTakipApp/arslanLogo.png' %}" > </a>
                                                </div>
                                                <div class="carousel-item">
                                                    <a href="{% static '/ArslanTakipApp/arslanLogo.png' %}" data-toggle="lightbox" id="TeknikB">
                                                        <img id="TeknikResim2" class="d-block w-100" alt="Second slide" src="{% static '/ArslanTakipApp/arslanLogo.png' %}" > </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card col-lg-12">
                                    <div class="card-body">
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <span class="carousel-control-custom-icon" aria-hidden="true"  style="color: rgb(158, 27, 22);"><i class="fas fa-chevron-left"></i> </span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <span class="carousel-control-custom-icon" aria-hidden="true"  style="color: rgb(158, 27, 22);"><i class="fas fa-chevron-right"></i> </span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                        <ol class="carousel-indicators">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="" style="background-color: rgb(226, 141, 43);"></li>
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""  style="background-color: rgb(226, 141, 43);"></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-lg-8">
                            <div class="container-fluid">
                                <div class="info-box">
                                    <div class="info-box-content">
                                    <span class="info-box-text">KALIP NO:</span>
                                    <span class="info-box-number" id="infoKalipNo">Kalıp No</span>
                                    </div>
                                </div>
                                <div class="info-box">
                                    <div class="info-box-content">
                                    <span class="info-box-text">MÜŞTERİ (FİRMA) ADI:</span>
                                    <span class="info-box-number" id="infoFirmaAdi">Firma Adı</span>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                <div class="row">
                                    <div class="info-box col-lg-6">
                                        <div class="info-box-content">
                                        <span class="info-box-text">RESİM GRAMAJ:</span>
                                        <span class="info-box-number" id="infoGramaj">Resim Gramaj</span>
                                        </div>
                                    </div>
                                    <div class="info-box col-lg-6">
                                        <div class="info-box-content">
                                        <span class="info-box-text">SON ÜRETİM GRAMAJ:</span>
                                        <span class="info-box-number" id="infoSonUretimGramaj">Son Üretim Gramaj</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-lg-12">
                        <div class="container-fluid">
                        <div class="row ">
                            <div class="info-box col-lg-4">
                                <div class="info-box-content">
                                <span class="info-box-text">ÜRETİCİ FİRMA:</span>
                                <span class="info-box-number" id="infoUreticiFirma">Üretici Firma</span>
                                </div>
                            </div>
                            <div class="info-box col-lg-4">
                                <div class="info-box-content">
                                <span class="info-box-text">CİNSİ:</span>
                                <span class="info-box-number" id="infoCins">Cinsi</span>
                                </div>
                            </div>
                            <div class="info-box col-lg-4">
                                <div class="info-box-content">
                                <span class="info-box-text">FİGÜR:</span>
                                <span class="info-box-number" id="infoFigür">Figür</span>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="info-box col-lg-4">
                                <div class="info-box-content">
                                    <div class="row">
                                        <span class="info-box-text col-lg-5" style="line-height: 30px; vertical-align: middle;">Ø ÇAPI:</span>
                                        <span class="info-box-text col-lg-2">x</span>
                                        <span class="info-box-text col-lg-5" style="line-height: 30px; vertical-align: middle;">PAKET BOYU:</span>
                                    </div>
                                    <div class="row">
                                        <span class="info-box-number col-lg-5" id="infoCap">Ø ÇAPI</span>
                                        <span class="info-box-text col-lg-2">x</span>
                                        <span class="info-box-number col-lg-5" id="infoPaket">PAKET BOYU</span>
                                    </div>
                                </div>
                            </div>
                            <div class="info-box col-lg-4">
                                <div class="info-box-content">
                                <span class="info-box-text">SON ÜRETİM TARİHİ:</span>
                                <span class="info-box-number" id="infoSonUretimTarihi">Son Üretim Tarihi</span>
                                </div>
                            </div>
                            <div class="info-box col-lg-4">
                                <div class="info-box-content">
                                <span class="info-box-text">SON TEN. TARİHİ:</span>
                                <span class="info-box-number" id="infoSonTenTarihi">Son Ten Tarihi</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="info-box col-lg-4">
                                <div class="info-box-content">
                                <span class="info-box-text">ÜRETİM TOPLAM KG:</span>
                                <span class="info-box-number" id="infoUretimTopKG">Üretim Toplam Kg</span>
                                </div>
                            </div>
                            <div class="info-box col-lg-4">
                                <div class="info-box-content">
                                <span class="info-box-text">TEN KALAN OMUR KG:</span>
                                <span class="info-box-number" id="infoSonTen"></span>
                                </div>
                            </div>
                            <div class="info-box col-lg-4">
                                <div class="info-box-content">
                                <span class="info-box-text">Sıradaki Tenifer:</span>
                                <span class="info-box-number" id="infoTeniferNo">Sıradaki Tenifer</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="info-box col-lg-4">
                                <div class="info-box-content">
                                <span class="info-box-text">DURUMU:</span>
                                <span class="info-box-number" id="infoDurumu">Durumu</span>
                                </div>
                            </div>
                            <div class="info-box col-lg-4">
                                <div class="info-box-content">
                                <span class="info-box-text">KALIP AÇIKLAMA:</span>
                                <span class="info-box-number" id="infoKalipAciklama">Kalıp Açıklama</span>
                                </div>
                            </div>
                            <div class="info-box col-lg-4">
                                <div class="info-box-content">
                                <span class="info-box-text">KALİTE AÇIKLAMA:</span>
                                <span class="info-box-number" id="infoKaliteAciklama">Kalite Açıklama</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!--row end-->
                </div>
            </div>
                <!--kalipKart end-->
        </div>
        <!--Pres Üretim Raporu start -->
        <div class="container-fluid col-lg-5">
            <div class="card" id="presURaporListe-table" style="display: none;"></div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid col-lg-12">
            <div class="card" id="dieComment" style="display: none;">
                <div class="card-header">
                    <h3 class="card-title">Paylaşılanlar</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Daralt">
                        <i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12" id="commentCol"></div>
                    </div>
                </div>
            </div>
            <div class="card" id="diePostComment" style="display: none;">
                <div class="card-header">
                  <h3 class="card-title">Paylaşım Yap</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Daralt">
                      <i class="fas fa-minus"></i></button>
                  </div>
                </div> <!-- yorum cardına bir bölüm daha eklenecek onay anket -->
                <div class="card-body" id="yorumCard">
                  <div class="row" style="height: 265px;">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1" id="yorumTextCol">
                      <textarea class="textarea" name="ilkYorumText" data-kalip="" id="yorumText" placeholder=" . . . "
                                      style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-2 order-md-1" id="dosyaEkleCol" style="height: 265px;display: none;">
                      <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="Dosyalar" id="fileInput" lang="tr" multiple>
                            <label class="custom-file-label" for="fileInput" style="overflow: hidden;">Dosyaları Seçin</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text" id="dosyaTemizle" onclick="DosyaTemizle()">Temizle</span>
                        </div>
                      </div>
                      <div id="fileTitles" class="form-group border border-secondary rounded" style="height: 215px ;overflow-y: scroll; overflow-x:hidden;"></div>
                    </div>
                  </div>
                  <i class="fas fa-link ml-1 mr-2" onclick="DosyaEkle()"></i>
                  <button type="button" class="btn btn-primary" id="yorumPaylas">Paylaş</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pictureModal" tabindex="-1" aria-labelledby="pictureModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="model-body">
                    <img class="modal-content" id="imgModal">
                </div>
            </div>
        </div>
      </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    
let userID = "{{user.id}}";
var selectedFiles = [];
$(function () {
    // Summernote
    $('.textarea').summernote({
      disableResizeEditor: true,
      height:200,
      toolbar: [
        //['misc', ['undo', 'redo']],
        ['style', ['bold', 'italic', 'underline']],
        ['font', ['superscript', 'subscript']],
        ['fontsize', ['fontsize']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']],
        ['table'],
        ['custom', ['specialchars']],
      ]
    });
    
  });

//define column header menu as column visibility toggle
var headerMenu = function(){
    var menu = [];
    var columns = this.getColumns();

    for(let column of columns){
        if (column.getDefinition().title != ""){
        //create checkbox element using font awesome icons
            let icon = document.createElement("i");
            icon.classList.add("fas");
            
            icon.classList.add(column.isVisible() ? "fa-check-square" : "fa-square");
            
            //build label
            let label = document.createElement("span");
            let title = document.createElement("span");

            title.textContent = " " + column.getDefinition().title;
            label.appendChild(icon);
            label.appendChild(title);

            //create menu item
            menu.push({
                label:label,
                action:function(e){
                    //prevent menu closing
                    e.stopPropagation();
                    //toggle current column visibility
                    column.toggle();

                    //change menu item icon
                    if(column.isVisible()){
                        icon.classList.remove("fa-square");
                        icon.classList.add("fa-check-square");
                    }else{
                        icon.classList.remove("fa-check-square");
                        icon.classList.add("fa-square");
                    }
                }
            });
    }};

   return menu;
};

var listIcon = function(cell, formatterParams, onRendered){ 
    //<a href="#kalip_karti"></a>
    return "<a href='#kalip_karti'><i class='fa fa-list-ul'></i></a> ";
};
var msgIcon = function(cell, formatterParams, onRendered) {
    return `<a href='#dieComment'><i class='fa fa-comments'></i></a>`;
}
var aktifIcon = function(cell, formatterParams, onRendered){
    return "<i class='fa fa-list-ul'></i> ";
};

var hatAccessor = function(value, data, type, params, column){
    if (value == params.Hatasiz){
        value = 'Hatasız';
    }
    else if (value == params.Hatali){
        value = 'Hatalı';
    };
    return value;
};
var aktAccessor = function(value, data, type, params, column) {
    if (value == params.Akt){
        value = 'Aktif';
    }
    else if (value == params.Pas){
        value = 'Pasif';
    };
    return value;
};

var kSayisi = 0;
var toplamKalip = function(values, data, calcParams) {
    $.ajax({
      url: `/kalip/tum`,
      method: 'GET',
      dataType: 'json',
      success: function (sayi) {
        kSayisi = parseInt(sayi);
      },
      error: function (error) {
          console.error('Error loading kalip sayisi:', error);
      }
    });
    return kSayisi;
}

function updateInfoElements(kal) {
    const elementMappings = {
        "infoDurumu": kal.Silindi == 1 ? "Silindi, Sebebi: " + kal.SilinmeSebebi : (kal.AktifPasif ? (kal.Hatali ? "Aktif" : "Hatalı ve Aktif") : (kal.Hatali ? "Pasif" : "Hatalı ve Pasif")),
        "infoKalipNo": kal.KalipNo, "infoFirmaAdi": kal.FirmaAdi, "infoGramaj": kal.ProfilGramaj + " kg/m",
        "infoSonUretimGramaj": kal.SonUretimGr + " kg/m", "infoUreticiFirma": kal.UreticiFirma, "infoSonUretimTarihi": kal.SonUretimTarih,
        "infoKaliteAciklama": kal.KaliteAciklama, "infoKalipAciklama": kal.KalipAciklama, "infoCins": kal.Cinsi,
        "infoFigür": kal.GozAdedi, "infoUretimTopKG": kal.UretimToplamKg + " kg", "infoSonTen": kal.TeniferKalanOmurKg + " kg",
        "infoSonTenTarihi": kal.SonTeniferTarih, "infoTeniferNo": kal.TeniferNo, "infoCap": kal.Capi + " mm", "infoPaket": kal.PaketBoyu + " mm",
    };

    for (const key in elementMappings) {
        if (elementMappings.hasOwnProperty(key)) {
            document.getElementById(key).innerText = elementMappings[key];
        }
    }

    const rdizin = kal.ResimDizini.replace(/\s/g, '') + "Teknik1.jpg";
    const rdizin2 = kal.ResimDizini.replace(/\s/g, '') + "Teknik2.jpg";
    document.getElementById("TeknikResim").src = "http://arslan/static" + rdizin.slice(13);
    document.getElementById("TeknikA").href = "http://arslan/static" + rdizin.slice(13);
    document.getElementById("TeknikResim2").src = "http://arslan/static" + rdizin2.slice(13);
    document.getElementById("TeknikB").href = "http://arslan/static" + rdizin2.slice(13);
}

function handleCommentPost() {
    let kNo = $('#yorumText').data("kalip");
    yorumPaylas(kNo);
}

var tableKalip = new Tabulator("#kalipListe-table", {
    height:"700px",
    layout:"fitDataFill",
    placeholder:"Kalıp Liste",
    ajaxURL:"/kalip/liste",
    progressiveLoad:"scroll",
    paginationMode:"remote",
    filterMode:"remote",
    paginationSize:30,
    popupContainer:true,
    rowFormatter: row => {
        let data = row.getData();
        if (data.Hatali === 0) {
            row.getElement().style.color = "#6e2bcc" //renkleri sor ne olsun
        }
        if (data.AktifPasif === false) {
            row.getElement().style.color = "#a3050a"
        }
    },
    ajaxURLGenerator:function(url, config, params){
        return url + "?params=" + encodeURI(JSON.stringify(params)); //encode parameters as a json object
    },
    columns:[
        {
            title:"Gösterilen Sütunlar",
            headerMenu:headerMenu, //add a menu to this column header
            columns:[
            {formatter:listIcon, title: "", width:40, hozAlign:"center", headerSort:false, cellClick:function(e, cell){
                presURaporu.setFilter([{ field: 'KalipNo', type: '=', value: cell.getData().KalipNo }, 
                    ]);
                presURaporu.redraw(true);
                document.getElementById("kalip_karti").style.display = 'block';
                document.getElementById("presURaporListe-table").style.display = 'block';
                kal = cell.getData();
                updateInfoElements(kal);
            },
            },
            {formatter:msgIcon, title:"", width:45, hozAlign:"center", headerSort:false, cellClick:function(e, cell){
                let kId = cell.getData().KalipNo;
                clickComment(kId);
                $('#yorumText').data('kalip', kId);
                // document.getElementsByName("ilkYorumText")[0].setAttribute("id", `yorumText${kId}`);
                document.getElementById("yorumPaylas").removeEventListener("click", handleCommentPost);
                document.getElementById("yorumPaylas").addEventListener("click", handleCommentPost);
                
                document.getElementById("dieComment").style.display = 'block';
                document.getElementById("diePostComment").style.display = 'block';
            }},
            {title:"AKTİF", field:"AktifPasif", headerVertical:true, formatter:"tickCross", headerFilter:"tickCross", headerFilterParams:{"tristate":true}, headerFilterEmptyCheck:function(value){return value === null},
            accessorDownload:aktAccessor, accessorDownloadParams:{Akt:true, Pas:false}},
            {title:"HATA", field:"Hatali", headerVertical:true, headerFilter:"input", formatter:"tickCross", headerFilter:"tickCross", headerFilterParams:{"tristate":true}, headerFilterEmptyCheck:function(value){return value === null}, visible:false,
            accessorDownload:hatAccessor, accessorDownloadParams:{Hatali:0, Hatasiz:1}},
            {title:"KALIP NO", field:"KalipNo", headerFilter:"input", topCalc: toplamKalip},//"count"},
            {title:"PROFİL NO", field:"ProfilNo", headerFilter:"input"},
            {title:"FİRMA KODU", field:"FirmaKodu", headerFilter:"input", visible:false},
            {title:"FİRMA ADI", field:"FirmaAdi", headerFilter:"input", visible:false},
            {title:"CİNSİ", field:"Cinsi", headerFilter:"input", visible:false},
            {title:"GRAMAJ", field:"Miktar", headerFilter:"input", visible:false},
            {title:"CAPİ", field:"Capi", headerFilter:"input", visible:false},
            {title:"PAKET BOYU", field:"PaketBoyu", headerFilter:"input", visible:false},
            {title:"URETİM TARİHİ", field:"UretimTarihi", headerFilter:"input", visible:false},
            {title:"FİGÜR", field:"GozAdedi", headerFilter:"input", visible:false},
            {title:"BOLSTER", field:"Bolster", headerFilter:"input", visible:false},
            {title:"KALIP ÇEVRESİ", field:"KalipCevresi", headerFilter:"input", visible:false},
            {title:"KALİTE OKEY", field:"KaliteOkey", headerFilter:"input", visible:false},
            {title:"ÜRETİCİ FİRMA", field:"UreticiFirma", headerFilter:"input", visible:false},
            {title:"KALAN TENİFER", field:"TeniferKalanOmurKg", headerFilter:"input", formatter:"money", formatterParams:{decimal:",",thousand:".",symbol: " kg",symbolAfter:" kg",negativeSign:false,},
             topCalc:"sum", topCalcFormatter: "money", topCalcFormatterParams:{decimal:",",thousand:".",symbol: " kg",symbolAfter:" kg",negativeSign:false,}},
            {title:"TENİFER ÖMRÜ", field:"TeniferOmruMt", headerFilter:"input", visible:false, formatter:"money", formatterParams:{decimal:",",thousand:".",symbol: " m.",symbolAfter:" m.",negativeSign:false,},
             topCalc:"sum", topCalcFormatter: "money", topCalcFormatterParams:{decimal:",",thousand:".",symbol: " m.",symbolAfter:" m.",negativeSign:false,}},
            {title:"TENİFER ÖMRÜ", field:"TeniferOmruKg", headerFilter:"input", visible:false, formatter:"money", formatterParams:{decimal:",",thousand:".",symbol: " kg",symbolAfter:" kg",negativeSign:false,},
             topCalc:"sum", topCalcFormatter: "money", topCalcFormatterParams:{decimal:",",thousand:".",symbol: " kg",symbolAfter:" kg",negativeSign:false,}},
            {title:"SON TENİFER TARİHİ", field:"SonTeniferTarih", headerFilter:"input", visible:false},
            {title:"SON TENİFER", field:"SonTeniferKg", headerFilter:"input", visible:false, formatter:"money", formatterParams:{decimal:",",thousand:".",symbol: " kg",symbolAfter:" kg",negativeSign:false,},
             topCalc:"sum", topCalcFormatter: "money", topCalcFormatterParams:{decimal:",",thousand:".",symbol: " kg",symbolAfter:" kg",negativeSign:false,}},
            {title:"SON TENİFER SEBEBİ", field:"SonTeniferSebebi", headerFilter:"input", visible:false},
            {title:"SIRADAKİ TENİFER NO", field:"TeniferNo", headerFilter:"input", visible:false},
            {title:"SON ÜRETİM TARİHİ", field:"SonUretimTarih", headerFilter:"input", visible:false},
            {title:"SON ÜRETİM GR", field:"SonUretimGr", headerFilter:"input", visible:false},
            {title:"ÜRETİM TEN SONRASI", field:"UretimTenSonrasiKg", headerFilter:"input", visible:false, formatter:"money", formatterParams:{decimal:",",thousand:".",symbol: " kg",symbolAfter:" kg",negativeSign:false,},
             topCalc:"sum", topCalcFormatter: "money", topCalcFormatterParams:{decimal:",",thousand:".",symbol: " kg",symbolAfter:" kg",negativeSign:false,}},
            {title:"ÜRETİM TOPLAM", field:"UretimToplamKg", headerFilter:"input", formatter:"money", formatterParams:{decimal:",",thousand:".",symbol: " kg",symbolAfter:" kg",negativeSign:false,},
             topCalc:"sum", topCalcFormatter: "money", topCalcFormatterParams:{decimal:",",thousand:".",symbol: " kg",symbolAfter:" kg",negativeSign:false,}},
            {title:"PROFİL GRAMAJ", field:"ProfilGramaj", headerFilter:"input", visible:false},
            {title:"KALIP AÇIKLAMA", field:"KalipAciklama", headerFilter:"input", visible:false},
            {title:"ŞİKAYET VAR", field:"SikayetVar", headerFilter:"input", visible:false},
            {title:"KALİTE AÇIKLAMA", field:"KaliteAciklama", headerFilter:"input", visible:false},
            {title:"SİLİNDİ", field:"Silindi", headerFilter:"input", visible:false},
            {title:"SİLİNME SEBEBİ", field:"SilinmeSebebi", headerFilter:"input", visible:false},
            {title:"PRES KODU", field:"PresKodu", headerFilter:"input"},
            {title:"KONUM", field:"kalipLocation", formatter:"html"},
            {title:"RESİM DİZİNİ", field:"ResimDizini", headerFilter:"input", visible:false},
            ],
            
        },
    ],
}); 

var presURaporu = new Tabulator("#presURaporListe-table", {
    height:"720px",
    layout:"fitDataFill",
    placeholder:"Pres Üretim Raporu",
    ajaxURL:"/kalip/rapor",
    progressiveLoad:"scroll",
    paginationMode:"remote",
    filterMode:"remote",
    paginationSize:30,
    ajaxURLGenerator:function(url, config, params){
        return url + "?params=" + encodeURI(JSON.stringify(params)); //encode parameters as a json object
    },
    columns:[
        {title:"PRES KODU", field:"PresKodu", headerFilter:"input"},
        {title:"TARİH", field:"Tarih",formatter:"html", headerFilter:"input"},
        {title:"DURUM", field:"Durum", headerFilter:"input"},
        {title:"AÇIKLAMA", field:"HataAciklama", headerFilter:"input"},
    ]
});

function createUserBlock(comment) {
    return `<div class="user-block">
                <img class="img-circle img-bordered-sm" src="/static/ArslanTakipApp/aaLogo.png" alt="user image">
                <span class="username" style="color: blue;">${comment.KullaniciAdi}</span>
                <span class="description">${comment.Tarih}</span>
            </div>`;
};

// Define a function to create file link HTML
function createFileLink(cf) {
    return `<p><a href="/media/${cf.File}" target="_blank" class="link-black text-sm">
                <i class="fas fa-link mr-1"></i>${cf.File.substring(6)}
            </a></p>`;
};

// Define a function to create a reply form HTML
function createReplyForm(replyId, modelId) {
    return `<div class="collapse" id="replyComment${replyId}">
                <form>
                    <div class="form-group">
                        <div class="row" style="height: 265px;">
                        <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1" id="yorumTextCol${replyId}">
                            <textarea class="textarea" name="yorumText" id="yorumText${replyId}" placeholder=" . . . "
                                            style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4 order-2 order-md-1" id="dosyaEkleCol${replyId}" style="height: 265px;display: none;">
                            <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="Dosyalar" id="fileInput${replyId}" lang="tr" onchange="fileInputChange(event, ${replyId})" multiple>
                                <label class="custom-file-label" for="fileInput" style="overflow: hidden;">Dosyaları Seçin</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text" id="dosyaTemizle" onclick="DosyaTemizle(${replyId})">Temizle</span>
                            </div>
                            </div>
                            <div id="fileTitles${replyId}" class="form-group border border-secondary rounded" style="height: 215px ;overflow-y: scroll; overflow-x:hidden;"></div>
                        </div>
                        </div>
                        <i class="fas fa-link ml-1 mr-2" onclick="DosyaEkle(${replyId})"></i>
                    </div>
                    <button type="button" class="btn btn-default" id="gonder${replyId}" onclick="handleReply(${modelId}, ${replyId})">Gönder</button>
                </form>
            </div>`;
}

function replyEditBtnClick(id, action) {
    const replyForm = $(`#replyComment${id}`); // boş döndürüyor düzgün alınmıyor
    replyForm.collapse('toggle');
    if (action === "Düzenle") { 
        const existingText = $(`#yorumText${id}`).val();
        $(`#yorumText${id}`).summernote("code", existingText); 
    }
    const sendButton = $(`#gonder${id}`);
    sendButton.text(action);
}

function createReplyButton(id) {
    return `<span><a role="button" style="color:green" data-toggle="collapse" href="#replyComment${id}" onclick="replyEditBtnClick(${id}, 'Gönder')" aria-expanded="false" aria-controls="collapseExample">cevapla</a></span>`;
}

function createEditButton(id) {
    return `<span class="ml-2"><a role="button" style="color:blue" data-toggle="collapse" href="#replyComment${id}" onclick="replyEditBtnClick(${id}, 'Düzenle')" aria-expanded="false" aria-controls="collapseExample">düzenle</a></span>`;
}

function createDeleteButton(id) {
    return `<span class="ml-2"><a role="button" style="color:red" onclick="deleteComment(${id})">sil</a></span>`;
}

function nestedReplies(replies) {
    const nestedRepliesContainer = $('<div class="replies-container nested-replies"></div>');

    replies.forEach(reply => {
        const replyElement = createReplyElement(reply);
        nestedRepliesContainer.append(replyElement);
    });

    return nestedRepliesContainer;
}

function fileInputChange(e, r){
      Array.from(e.target.files).forEach(function(newFile) {
          if (!fileAlreadySelected(newFile)) {
              selectedFiles.push(newFile);
              updateFileList(r);
          }
      });
  }

function createReplyElement(reply) {
    const userBlock = createUserBlock(reply);
    const replyContent = `<p>${reply.Aciklama}</p>`;
    const replyElement = $('<div class="reply"></div>').append(userBlock, replyContent);

    reply.cfiles.forEach(cf => { replyElement.append(createFileLink(cf)); });

    replyElement.append(createReplyButton(reply.id));

    const replyFormCollapse = createReplyForm(reply.id, reply.FormModelId);
    if (reply.Kullanici_id == userID) {
        replyElement.append(createEditButton(reply.id), createDeleteButton(reply.id));
    };
    replyElement.append(replyFormCollapse);

    if (reply.replies.length > 0) {
        const nestedRepliesContainer = $('<div class="replies-container nested-replies"></div>').append(nestedReplies(reply.replies));
        replyElement.append(nestedRepliesContainer);
    }

    return replyElement;
}

function createCommentElement(comment) {
    const userBlock = createUserBlock(comment);
    const commentContent = `<p>${comment.Aciklama}</p>`;
    const commentElement = $('<div class="post"></div>').append(userBlock, commentContent);

    comment.cfiles.forEach(cf => { commentElement.append(createFileLink(cf)); });
    commentElement.append(createReplyButton(comment.id));

    const replyFormCollapse = createReplyForm(comment.id, comment.FormModelId);
    if (comment.Kullanici_id == userID) {
        commentElement.append(createEditButton(comment.id), createDeleteButton(comment.id));
    };
    commentElement.append(replyFormCollapse);

    if (comment.replies.length > 0) {
        const repliesContainer = $('<div class="replies-container nested-replies"></div>').append(nestedReplies(comment.replies));
        commentElement.append(repliesContainer);
    }

    return commentElement;
};

function getComments(comments) {
    const commentCol = $('#commentCol');
    commentCol.empty();

    comments.forEach(comment => {
        const commentElement = createCommentElement(comment);
        commentCol.append(commentElement);
    });
}

function clickComment(kalipNo) {
    $.ajax({
        url: `/kalip/comments/${kalipNo}`,
        method: 'GET',
        dataType: 'json',
        success: function (commentData) {
            getComments(JSON.parse(commentData));
        },
        error: function (error) {
            console.error('Error loading comments data:', error);
        }
    });
}

$('#fileInput').on('change', function(e) {
    Array.from(e.target.files).forEach(function(newFile) {
        if (!fileAlreadySelected(newFile)) {
            selectedFiles.push(newFile);
        }
    });
    updateFileList();
});

function fileAlreadySelected(newFile) {
      return selectedFiles.some(function(existingFile) {
          return newFile.name === existingFile.name && newFile.size === existingFile.size;
      });
  };

function updateFileList(cId="") {
    var fileTitles = $(`#fileTitles${cId}`);
    fileTitles.empty(); // Önceki başlık alanlarını temizle

    var row = $('<div class="row"></div>');
    fileTitles.append(row);

    // <label class="overflow">${file.name}</label>
    selectedFiles.forEach(function(file, index){
        let fileType = file.name.split(".").pop().toLowerCase();
        var column = $(
            `<div class="col-md-6 mt-3">
                <div class="mp-2 d-flex ml-2 mr-2 justify-content-between border rounded">
                    <span class="fiv-cla fiv-icon-${fileType} border-right-0" rounded-left"></span>
                    <div class="p-1 flex-grow-1">
                      <label class="overflow" data-index="${index}">${file.name}</label>
                    </div>
                    <button type="button" class="btn btn-lg rounded-right" onclick="removeFile(${index}, ${cId})">
                        <i class="fas fa-times fa-spin-hover fa-lg text-danger"></i>
                    </button>
                </div>
            </div>`
        );

        row.append(column);

        if ((index + 1) % 2 === 0 && index + 1 < selectedFiles.length) {
            row = $('<div class="row"></div>');
            fileTitles.append(row);
        }
    });

  };

function handleReply(modelId, commentId) {
    if ($(`#gonder${commentId}`).text() == 'Düzenle') {
      editComment(commentId);
    }
    else {
        alert(commentId);
        yorumPaylas(kId=modelId, cId=commentId);
    }
};

function DosyaEkle(a="") {
    changedClass = "col-12 col-md-12 col-lg-8 order-2 order-md-1";
    
    document.getElementById('yorumTextCol'+a).setAttribute("class", changedClass);
    $('#dosyaEkleCol'+a).show();
};

$('#fileInput').on('change', function(e) {
    Array.from(e.target.files).forEach(function(newFile) {
        if (!fileAlreadySelected(newFile)) {
            selectedFiles.push(newFile);
        }
    });
    updateFileList();
  });

function yorumPaylas(kId="", cId=""){
    var yorumData = new FormData();
    var textareaValue = $(`#yorumText${cId}`).summernote('code');
    
    yorumData.append("csrfmiddlewaretoken", "{{csrf_token}}");
    yorumData.append("formID", kId);
    yorumData.append("yorum", textareaValue);
    selectedFiles.forEach(function(file) {
        yorumData.append('yfiles', file);
    });
    if (cId != "") { yorumData.append("replyID", cId); }
    $.ajax({
            url: `/kalip/postcomment`,
            type: 'POST',
            data: yorumData,
            contentType: false,
            processData: false,
            success: function(response) {
                window.location.reload();
            },
            error: function(response) {
                alert('Paylaşım kaydedilemedi. '+response.responseJSON.error);
            }
    });

};

window.removeFile = function(index, cId) {
    selectedFiles.splice(index, 1);
    updateFileList(cId);
};

function DosyaTemizle(cId){
    selectedFiles = [];
    updateFileList(cId);
};

function editComment(commentId) {
    const editData = new FormData();
    var textareaValue = $(`#yorumText${commentId}`).summernote('code');
    editData.append("csrfmiddlewaretoken", "{{csrf_token}}");
    editData.append("commentId", commentId);
    editData.append("commentText", textareaValue);

    $.ajax({
        url: '/kalip/editcomment',
        type: 'POST',
        data: editData,
        contentType: false,
        processData: false,
        success: function(response) {
            alert(response.message);
            window.location.reload();
        },
        error: function(response) {
            alert('Yorum düzenlenemedi.');
        }
    });
}

function deleteComment(cId) {
    let con = confirm("Silmek istediğinize emin misiniz?");
    if (con == true) {
      $.ajax({
        url: '/kalip/deletecomment/'+cId,
        type: 'GET',
        success: function (response) {
            alert(response.message);
            window.location.reload();
        },
        error: function (error) {
          alert('Yorum silinemedi. '+error);
        }
      });
    }
};

$(function () {
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox({
        alwaysShowClose: true
        });
    });
});

$("input[data-bootstrap-switch]").each(function(){
    $(this).bootstrapSwitch('state', $(this).prop('checked'));
});

//trigger download of data.xlsx file
document.getElementById("download-xlsx").addEventListener("click", function(){
    tableKalip.download("xlsx", "data.xlsx", {sheetName:"My Data"});
});

</script>

{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'tabulator/dist/js/tabulator.js' %} "></script>
<script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/ekko-lightbox/ekko-lightbox.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

<script src="{% static 'admin-lte/plugins/summernote/summernote-bs4.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/summernote/plugin/specialchars/summernote-ext-specialchars.js' %}"></script>
<!-- indirmek zorunda kalmayacağımız bir yolunu bul -->
{% endblock %}