{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'tabulator/dist/css/tabulator_bootstrap5.min.css' %}">
  <style>
  #hammaddeTable, #yuzeyTable, #sureTable{
      max-width:450px;
      margin-right: 5px;
      border: 1px solid gray;
      border-radius: 6px;
  }
  </style>
{% endblock %}

{% block content %}

<div class="container col-lg-12">
  <h1 class="col-lg-11" style="text-align: center;">Arslan Alüminyum Üretim Planı</h1>
  <div class="card">
    <button type="button" id="btnAcilListeDuzenle" class="btn btn-info" >PLANLAMA LİSTESİ DÜZENLE</button>
  </div>
  <!-- <div class="card">
    <div class="card-body">
      <div class="row">
        <div id="hammaddeTable"></div>
        <div id="yuzeyTable"></div>
        <div id="sureTable"></div>
      </div>
    </div>
  </div> -->
  <div class="card">
    <div class="card-body">
        <div id="ekSiparisTable"></div>
    </div>
  </div>
  <div class="modal fade" id="acilModal" tabindex="-1" aria-labelledby="acilModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Planlama Listesi Düzenle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <div id="ekSiparisAcilTable"></div>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnAcilListeKaydet" class="btn btn-primary">Kaydet</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="kalipSokmeModal" tabindex="-1" aria-labelledby="kalipSokmeModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Üretimi Bitir</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <div class="row ml-1 mr-1"> 
            <select name="uretimBitirmeSebebi" id="uretimBitirmeSebebi" data-pkodu="" class="form-control col-lg-5">
              <option value="" disabled selected>Bitirme Sebebi</option>
              <option value="Kalıbı Sök" onclick="">Kalıbı Sök</option>
              <option value="Kalıbı Fırına At">Kalıbı Fırına At</option>
            </select>
            <select name="kalipAciklama" id="kalipAciklama" class="form-control col-lg-7">
              <option value="" disabled selected>Açıklama</option>
            </select>
          </div>
          <div class="row ml-1 mr-1 mt-1">
            <select name="kalipGozleri" id="kalipGozleri" class="form-control" style="display: none;">
            </select>
          </div>
          <hr>
          <button type="button" id="btnKalipSokmeKaydet" data-sid="" class="btn btn-primary" disabled>Kaydet</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="kaliplarModal" tabindex="-1" aria-labelledby="kaliplarModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Fırındaki Kalıplar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <select name="kalipSelect" id="kalipSelect" class="form-control">
            <option value="">Kalıp Seçiniz</option>
          </select>
          <hr>
          <button type="button" class="btn btn-primary" id="btnKalipUretim">Üretime Başla</button>
          <input type="hidden" name="sId" id="sId" data-sid="0" style="display: none;">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}

<script>

  var headerMenu = function(){
    var menu = [];
    var columns = this.getColumns();

    for(let column of columns){
        if (column.getDefinition().title != ""){
        //create checkbox element using font awesome icons
            let icon = document.createElement("i");
            icon.classList.add("fas");
            
            icon.classList.add(column.isVisible() ? "fa-check-square" : "fa-square");
            
            //build label
            let label = document.createElement("span");
            let title = document.createElement("span");

            
            title.textContent = " " + column.getDefinition().title;
            label.appendChild(icon);
            label.appendChild(title);

            //create menu item
            menu.push({
                label:label,
                action:function(e){
                    //prevent menu closing
                    e.stopPropagation();
                    //toggle current column visibility
                    column.toggle();

                    //change menu item icon
                    if(column.isVisible()){
                        icon.classList.remove("fa-square");
                        icon.classList.add("fa-check-square");
                    }else{
                        icon.classList.remove("fa-check-square");
                        icon.classList.add("fa-square");
                    }
                }
            });
    }};

    return menu;
  };
  var handleIcon = function(cell, formatterParams, onRendered){ 
      return "<i class='fa fa-circle'></i>";
  };
  var kalipIcon = function(cell, formatterParams, onRendered){ 
    let data = cell.getData();
    let kalip = data.KalipSokmeDurum;
    let id = data.id;
    let pKodu = data.EkPresKodu;
    let kalipbutton = `<button type='button' class='btn btn-primary'>ÜRETİME BAŞLA</button>`
    if (kalip==1) {
      kalipbutton = `<button type='button' class='btn btn-danger' data-pkodu='${pKodu}' data-sid='${id}' onclick='uretimiBitir(this)'>ÜRETİMİ BİTİR</button>`
    }
    else if (kalip==2) {
      kalipbutton = ``
    }
    else if (kalip==3) {
      kalipbutton = `<button type='button' class='btn btn-primary' onclick='uretimeBasla(${id})'>ÜRETİME BAŞLA</button>`
    }
    else if (kalip==4) {
      kalipbutton = `<button type='button' class='btn btn-primary' onclick='uretimeBasla(${id})' disabled>ÜRETİME BAŞLA</button>`
    }
    return kalipbutton;
  };

  function checkButtonStatus() {
    const visibleSelects = $('select').filter(':visible');
    let allSelected = true;
    
    visibleSelects.each(function() {
      if ($(this).val() === null || $(this).val() === "") {
        allSelected = false;
        return false;
      }
    });

    // Enable or disable the button based on the condition
    $('#btnKalipSokmeKaydet').prop('disabled', !allSelected);
  };

  $('#uretimBitirmeSebebi, #kalipAciklama, #kalipGozleri').on('change', checkButtonStatus);

  var uretimeBasla = function(id, kNo="") {
    const params = {
      sId: id,
      kalipNo: kNo,
    }
    $.ajax({
      url: `/eksiparis/uretim`,
      method: 'GET',
      data: { params: JSON.stringify(params)},
      dataType: 'json',
          success: function (response) {
            let message = response.message;
            if (message != "") {
              alert(message);
              window.location.reload();
            }
            else {
              $('#kalipSelect').empty();
              $('#kalipSelect').append('<option value="" disabled selected>Kalıp Seçiniz</option>');
              $.each(response.kaliplar, function(key, value) {
                  $('#kalipSelect').append('<option value=' + value + '>' + value + '</option>');
              });
              $('#sId').attr('data-sid', id);
              $('#kaliplarModal').modal('show'); // birden fazla kalıp olan durumlarda modal açılsın ve kalıp seçilsin.
            }
          },
          error: function (error) {
            console.error('Error loading data:', error);
        }
    })
  }

  $('#btnKalipUretim').click(function() {
      $('#kaliplarModal').modal('hide');
      let sId = $('#sId').data('sid');
      let kNo = $('#kalipSelect').find(":selected").val();
      uretimeBasla(id=sId, kNo=kNo);
  });

  var uretimiBitir = function(e) { // üretimi bitire tıklandığında modal açılacak ve bitirme sebebi işaretlenecek.
    let pKodu = $(e).data('pkodu');
    let sId = $(e).data('sid');
    $('#uretimBitirmeSebebi').attr('data-pKodu', pKodu);
    $('#btnKalipSokmeKaydet').attr('data-sid', sId);
    $('#kalipSokmeModal').modal('show');
  };

  var uretimiBitirSend = function() {
    
    const gonderData = new FormData();
    gonderData.append("csrfmiddlewaretoken", "{{csrf_token}}");
    const visibleSelects = $('select').filter(':visible');

    visibleSelects.each(function() {
      if ($(this).attr('id') == "kalipAciklama") {
        if ($('#uretimBitirmeSebebi').val() === "Kalıbı Sök") {
          gonderData.append($(this).attr('id'), $('#kalipAciklama option:selected').text());
          gonderData.append('HataKodu', $(this).val());
        }
        else {
          gonderData.append($(this).attr('id'), $(this).val());
        }
      }
      else {
        gonderData.append($(this).attr('id'), $(this).val());
      }
    });
    gonderData.append('EkSiparisId', $('#btnKalipSokmeKaydet').data('sid'));
    gonderData.append('EkSiparisPresKodu', $('#uretimBitirmeSebebi').data('pkodu'));
    $.ajax({
      url: '/eksiparis/uretimbitir',
      method: 'POST',
      data: gonderData,
      contentType: false,
      processData: false,
      success: function(resonse) {
        $('#kalipSokmeModal').modal('hide');
        alert('Success:', response.message);
        window.location.reload();
      },
      error: function(error) {
        console.error('Error:', error);
      }
    });
  };
  $('#btnKalipSokmeKaydet').on('click', uretimiBitirSend);

  $('#uretimBitirmeSebebi').on('change', function(){
    let selected = this.value;
    let pKodu = $(this).data('pkodu');
    $('#kalipAciklama').empty();
    $('#kalipAciklama').append('<option value="" disabled selected>Açıklama</option>');
    $('#kalipGozleri').hide();
    const params = {
      secim: selected,
      pres: pKodu,
    }
    $.ajax({
      url:`/eksiparis/selectgetir`,
      method: 'GET',
      data: { params: JSON.stringify(params) },
      dataType: 'json',
      success: function(response) {
        if (selected == "Kalıbı Sök") {
          $.each(response.data, function(key, value) {
              $('#kalipAciklama').append('<option value=' + value.HataKodu + '>' + value.HataTuru + '</option>');
          });
        }
        else if (selected == "Kalıbı Fırına At") {
          $.each(response.data, function(key, value) {
              $('#kalipAciklama').append('<option value=' + value.Sebep + '>' + value.Sebep + '</option>');
          });
          $('#kalipGozleri').empty();
          $('#kalipGozleri').append('<option value="" disabled selected>Fırın Gözü Seçiniz</option>');
          $.each(response.gozler, function(key, value) {
              $('#kalipGozleri').append('<option value=' + value.id + '>' + value.locationName + '</option>');
          });
          $('#kalipGozleri').show();
        // gözleri getir
        }
        checkButtonStatus();
      },
      error: function (error) {
        console.log(error);
      }
    });
    
  });

  // var sureTable =new Tabulator("#sureTable", {
  //   maxHeight:"400px",
  //   layout:"fitDataFill",
  //   placeholder:"Sipariş Süre",
  //   ajaxURL:"/eksiparis/timeline",
  //   columns: [
  //     {title:"Kart No", field: "SipKartNo"},
  //     {title:"Billet Türü", field: "EkBilletTuru"},
  //     {title:"Pres Kodu", field: "EkPresKodu"},
  //     {title:"Sure", field: "TahminiSure"}
  //   ]
  // });

  // var hammaddeTable =new Tabulator("#hammaddeTable", {
  //   maxHeight:"400px",
  //   layout:"fitDataFill",
  //   placeholder:"Sipariş Hammadde",
  //   ajaxURL:"/eksiparis/hammadde",
  //   columns: [
  //     {title:"Billet Türü", field: "EkBilletTuru"},
  //     {title:"Brüt", field: "Brut"},
  //     {title:"Net", field: "Net"}
  //   ]
  // }); 
  // var yuzeyTable =new Tabulator("#yuzeyTable", {
  //   maxHeight:"400px",
  //   layout:"fitDataFill",
  //   placeholder:"Sipariş Hammadde",
  //   ajaxURL:"/eksiparis/yuzey",
  //   columns: [
  //     {title:"Yüzey Özelliği", field: "EkYuzeyOzelligi"},
  //     {title:"Net", field: "Net"},
  //   ]
  // });

  var ekSiparisTable = new Tabulator("#ekSiparisTable", {
    height:"650px",
    layout:"fitDataFill",
    placeholder:"Sipariş Liste",
    ajaxURL:"/eksiparis/list",
    ajaxURLGenerator:function(url, config, params){
        return url + "?params=" + encodeURI(JSON.stringify(params)); //encode parameters as a json object
    },
    progressiveLoad:"scroll",
    paginationMode:"remote",
    filterMode:"remote",
    paginationSize:30,
    popupContainer:true,
    columns:[
        // sil ikonu ekle
        {formatter:handleIcon, headerMenu:headerMenu, hozAlign:"center", title:"", headerSort:false, frozen:true, width:50, minWidth:50},
        {title:"Kart No", field:"SipKartNo", headerFilter:"input"},
        {title:"Silindi", field:"Silindi", visible:false, headerFilter:"input"},
        {title:"Profil No", field:"ProfilNo", headerFilter:"input"},
        // ne kadar üretim yapılmış nasıl hesaplanacak?
        // ek sipariş eklenme gününü tut, pres üretim raporunda o tarihten sonra, o profil noda yapılan üretimler??
        // data-max = ek kg ve ek kalan kgye göre progress olabilir tamamlandı tamamlanmadı yeşil renk bloke kırmızı renk
        {title:"Pres Kodu", field:"EkPresKodu", headerFilter:"input"},
        {title:"Termin", field:"EkTermin", headerFilter:"input"},
        {title:"Kg", field:"EkKg", headerFilter:"input"},
        {title:"Adet", field:"EkAdet", headerFilter:"input"},
        {title:"Firma Adı", field:"FirmaAdi", visible:false, headerFilter:"input"},
        {title:"Billet Türü", field:"EkBilletTuru", headerFilter:"input"},
        {title:"Yüzey Özelliği", field:"EkYuzeyOzelligi", headerFilter:"input"},
        {title:"Son Termin", field:"SonTermin", visible:false, headerFilter:"input"},
        {title:"Sipariş Kg", field:"GirenKg", headerFilter:"input"},
        {title:"Sipariş Kalan", field:"Kg", headerFilter:"input"},
        {title:"Kondüsyon Türü", field:"KondusyonTuru", headerFilter:"input"},
        {formatter:kalipIcon, hozAlign:"center", title:"", headerSort:false, frozen:true},
    ],
  });

  btnAcilListe = document.getElementById('btnAcilListeDuzenle');
  btnAcilListe.addEventListener('click', () => {
    $('#acilModal').modal('show');
    let data = ekSiparisAcilTable.getData();
  });

  var deleteIcon = function(cell, formatterParams, onRendered){ 
    return "<i class='fa fa-trash'></i>";
  };

  var silinenler = [];

  var ekSiparisAcilTable = new Tabulator("#ekSiparisAcilTable", {
    height:"700px",
    layout:"fitDataFill",
    placeholder:"Ek Sipariş Acil Liste",
    ajaxURL:"/eksiparis/acil",
    popupContainer:true,
    movableRows:true,
    columns:[
        {rowHandle:true, formatter:"handle", title:"", headerMenu:headerMenu, headerSort:false, frozen:true, width:40, minWidth:40},
        {title:"Kart No", field:"SipKartNo", visible:false},
        {title:"Silindi", field:"Silindi", visible:false},
        {title:"Profil No", field:"ProfilNo"},
        {title:"Durumu", field:"EkDurumu", visible:false},
        {title:"Ek Pres Kodu", field:"EkPresKodu", visible:false},
        {title:"Ek Termin", field:"EkTermin"},
        {title:"Ek Kg", field:"EkKg"},
        {title:"Firma Adı", field:"FirmaAdi"},
        {title:"Yüzey Özelliği", field:"EkYuzeyOzelligi"},
        {title:"Billet Türü", field:"EkBilletTuru"},
        {title:"Billet Türü", field:"BilletTuru", visible:false},
        {title:"Son Termin", field:"SonTermin", visible:false},
        {title:"Sipariş Kg", field:"GirenKg", visible:false},
        {title:"Kalan Kg", field:"Kg", visible:false},
        {title:"Kondüsyon Türü", field:"KondusyonTuru", visible:false},
        {title:"Toplam Kalan Tenifer", field:"TopTenKg", visible:false},
        {formatter:deleteIcon, width:40, hozAlign:"center", headerSort:false ,cellClick: function (e, cell) {
            var row = cell.getRow();
            var ekNo = cell.getData().id;
            //if ekle eğer listeyse listeden çıkar de
            if (!silinenler.includes(ekNo)){
              silinenler.push(ekNo);
              row.getElement().style.backgroundColor= '#C08261'
              //üstünü çiz? silinenlerin rengi değişebilir?
            }
            else{
              var index = silinenler.indexOf(ekNo);
              if (index > -1){
                silinenler.splice(index,1);
                row.getElement().style.backgroundColor= ''
              }
              //silinenenler.pop();böyle değil bu son elementi çıkartıyor 
            }
            //üstünü çiz kaydete bastıktan sonrra silinmesi için post
        }},
    ],
  });
  
  //table.deleteRow(silinenler); silinenleri gönder veritabanından da silinsinler
  var movedData = {}
  ekSiparisAcilTable.on("rowMoved", function(row){
      movedData = {};
      let rows = ekSiparisAcilTable.getRows();
      rows.forEach(r => {
        movedData[r._row.data.id] = r.getPosition();
    });
    movedDataUpdate();
  });

  let fark = [];
  const movedDataUpdate = () => {
    let data = ekSiparisAcilTable.getData();
    fark = [];
    data.forEach(d => {
      if (movedData[d.id] != d.Sira) {
        ekSiparisAcilTable.updateData([{id:d.id, Sira:movedData[d.id]}]);
        fark.push({id: d.id , Sira: movedData[d.id]});
      }
    });
  };

  btnAcilKaydet = document.getElementById('btnAcilListeKaydet');
  btnAcilKaydet.addEventListener('click', () => {
    $.ajax({
      url: "/eksiparis/acil",
      method: "post",
      data: {
        'fark': JSON.stringify(fark),
        'silinenler': JSON.stringify(silinenler),
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      success: function () {
        ekSiparisTable.setData();
        ekSiparisAcilTable.deleteRow(silinenler);
        $('#acilModal').modal('hide');
        //alert("Acil Liste Kaydedildi!");
      },
      error: function (error) {
      console.error('Error sending moved rows data:', error);
      }
    });
  });
  

</script>

{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'tabulator/dist/js/tabulator.js' %} "></script>

{% endblock %}
