{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
{% endblock %}

{% block content %}

<div class="container col-lg-12">
  <h1 class="col-lg-11" style="text-align: center;">Arslan Alüminyum Ek Sipariş Listesi</h1>
</div>

{% endblock %}

{% block extra_js %}

{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}

{% endblock %}
