{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <style>
    .input-group {
      align-items: center;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container col-12">
  <div class="card" id="transfer-card">
    <div class="card-header">
      <h3 class="card-title">Hammadde Billet Gelenler</h3>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>                  
          <tr>
            <th style="width: 10px"></th>
            <th>Tarih</th>
            <th>Parti No</th>
            <th>Boy</th>
            <th>Kg</th>
            <th>Adet</th>
            <th>Billet Cinsi</th>
            <th>Açıklama</th>
          </tr>
        </thead>
        <tbody id="transfer-table">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Stok</h3>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Parti No</th>
            <th>Boy</th>
            <th>Kg</th>
            <th>Adet</th>
            <th>Billet Cinsi</th>
            <th>Açıklama</th>
            <th>Durum</th>
          </tr>
        </thead>
        <tbody id="stok-table">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Fırın</h3>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Parti No</th>
            <th>Boy</th>
            <th>Billet Cinsi</th>
            <th>Billet No</th>
          </tr>
        </thead>
        <tbody id="firin-table">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="hammaddetable"></div>
  <div class="modal fade" id="stokAdetModal" tabindex="-1" aria-labelledby="stokAdetModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Adet Giriniz</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="form-group col-lg-6">
                <label for="stokAdet">Adet: </label>
                <input type="number" id="stokAdet" name="stokAdet" class="form-control mb-2">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnStokKaydet" class="btn btn-primary" onclick=firinaAt()>Fırına At</button>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  let selectedId;
  function showModal(id) {
    selectedId = id;
    $('#stokAdetModal').modal('show');
  };

  function firinaAt() {
    let adet = $('#stokAdet').val();

    const firinData = new FormData();
    firinData.append("csrfmiddlewaretoken", "{{csrf_token}}");
    firinData.append("adet", adet);
    firinData.append("id", selectedId);
    $.ajax({
      url:'/billet_firina_at/',
      method:'POST',
      data: firinData,
      contentType: false,
      processData: false,
      success: function(data) {
        $('#stokAdetModal').modal('hide');
        
        //refresh stok and fırın data
        fill_stok_table();
        fill_firin_table();
      }
    })
  };

  function fill_transfer_table() {
    $.ajax({
      url:'/get_transfer_billets/',
      method: 'GET',
      success: function(data) {
        console.log(data)
        const billettable = $('#transfer-table');
        billettable.empty();

        data.forEach(function(item) {
          let tablerow = `
            <td><button type='button' class='btn btn-sm btn-primary add-button' data-kimlik='${item.Kimlik}'>+</button></td>
            <td>${item.Create_Time}</td>
            <td>${item.GirenPartiNo}</td>
            <td>${item.GirenBoy}</td>
            <td>${item.GirenKg}</td>
            <td>${item.GirenAdet}</td>
            <td>${item.StokCinsi}</td>
            <td>${item.Aciklama}</td>
          `;
          const row = $('<tr></tr>').html(tablerow);
          billettable.append(row);
        });

        $('.add-button').on('click', function() {
          const kimlik = $(this).data('kimlik');
          const row = $(this).closest('tr');
          console.log(kimlik);

          row.animate({
            backgroundColor: "#f2f2f2"
          }, 500).animate({
            backgroundColor: ""
          }, 500);
          
          
          const hammaddeData = new FormData();
          hammaddeData.append("csrfmiddlewaretoken", "{{csrf_token}}");
          hammaddeData.append("Kimlik", kimlik);
          $.ajax({
            url: '/save_hammadde_billets/',
            method: 'POST',
            contentType: false,
            processData: false,
            data: hammaddeData,
            success: function(response) {
              console.log('Data saved successfully:', response);
              row.animate({opacity: 0}, 500, function() {
                $(this).remove();
                if ($('#transfer-table tr').length === 0) {
                  location.reload();
                };
                fill_stok_table();
              });

            },
            error: function(xhr, status, error) {
              console.error('Error saving data:', error);
            }
          });
        });
      },
      error: function() {
        const transfercard = $('#transfer-card');
        transfercard.remove();
      }

    });

    

  };

  function fill_stok_table() {
    $.ajax({
      url:'/get_stok_billets/',
      method: 'GET',
      success: function(data) {
        const stoktable = $('#stok-table');
        stoktable.empty();
        console.log(data);
        
        //item.firin_aktif fırında olan billet sayısı, item.firin_pasif fırına atılmış ve tüketilmiş billet sayısı, item.adet ile fırında olmayan billet sayısı
        data.forEach(function(item) {
          let total = item.firin_aktif + item.firin_pasif + item.adet;
          let aktif = (item.firin_aktif / total) * 100 || 0;
          let pasif = (item.firin_pasif / total) * 100 || 0;
          let stok = (item.adet / total) * 100 || 0;

          let progressHtml = `
            <div class="progress" style="height: 20px;">
              <div class="progress-bar bg-primary" role="progressbar" style="width: ${stok}%" aria-valuenow="${stok}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" title="Stokta: ${item.adet}">${item.adet}</div>
              <div class="progress-bar bg-success" role="progressbar" style="width: ${aktif}%" aria-valuenow="${aktif}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" title="Fırında: ${item.firin_aktif}">${item.firin_aktif}</div>
              <div class="progress-bar bg-secondary" role="progressbar" style="width: ${pasif}%" aria-valuenow="${pasif}" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" title="Tüketilen: ${item.firin_pasif}">${item.firin_pasif}</div>
            </div>
          `;
          let stablerow = `
            <td><button type='button' class='btn btn-sm btn-primary' onclick=showModal(${item.id})>Fırına At</button></td>
            <td>${item.parti_no}</td>
            <td>${item.boy}</td>
            <td>${item.kg}</td>
            <td>${item.adet}</td>
            <td>${item.stok_cinsi}</td>
            <td>${item.aciklama}</td>
            <td>${progressHtml}</td>
          `;
          const row = $('<tr></tr>').html(stablerow);
          stoktable.append(row);
        });
      },

      });
  };

  function fill_firin_table() {
      $.ajax({
      url:'/get_firin_billets/',
      method: 'GET',
      success: function(data) {
        const firintable = $('#firin-table');
        firintable.empty();

        data.forEach(function(item) {
          let tablerow = `
            <td>${item.parti_no}</td>
            <td>${item.guncel_boy}</td>
            <td>${item.billet_cinsi}</td>
            <td>${item.billet_no}</td>
          `;
          const row = $('<tr></tr>').html(tablerow);
          firintable.append(row);
        });
      },

      });
  }

  $(document).ready(function() {
    fill_transfer_table();
    fill_stok_table();
    fill_firin_table();
  });
</script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}

{% endblock %}