{% extends 'adminlte/base.html' %}
{% block body_class %}{% block bodyclass %}sidebar-collapse {% endblock %}{% endblock %}
<!-- Set title of app -->
{% block title %}Arslan Alüminyum{% endblock %}
<!-- Specify content of main body of page -->
{% block content %}
<h1>Arslan Alüminyum</h1>

<p>Test site for Arslan Alüminyum</p>
  
  {% if user.is_authenticated %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <a href="/location" class="small-box-footer">
            <i class="fas fa-arrow-circle-right"></i>
            <span>KALIP ARŞİVİ</span>
          </a>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <a href="/kalip" class="small-box-footer">
              <i class="fas fa-arrow-circle-right"></i>
              <span>KALIP LİSTESİ</span>
            </a>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <a href="/stockCard" class="small-box-footer">
            <i class="fas fa-arrow-circle-right"></i>
            <span>STOK KARTI</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <a href="/siparis" class="small-box-footer">
            <i class="fas fa-arrow-circle-right"></i>
            <span>SİPARİŞ LİSTESİ</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <a href="/eksiparis" class="small-box-footer">
            <i class="fas fa-arrow-circle-right"></i>
            <span>ÜRETİM PLANI</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <a href="/qr" class="small-box-footer">
            <i class="fas fa-arrow-circle-right"></i>
            <span>QR</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <a href="/baskigecmisi" class="small-box-footer">
            <i class="fas fa-arrow-circle-right"></i>
            <span>4000 TON PRES BASKI GEÇMİŞİ</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <a href="/yuda" class="small-box-footer">
            <i class="fas fa-arrow-circle-right"></i>
            <span>YENİ ÜRÜN DEVREYE ALMA FORMU</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <a href="/yudas" class="small-box-footer">
            <i class="fas fa-arrow-circle-right"></i>
            <span>YENİ ÜRÜN DEVREYE ALMA FORMLARI</span>
          </a>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <a href="/yudaDetail" class="small-box-footer">
            <i class="fas fa-arrow-circle-right"></i>
            <span>YENİ ÜRÜN DEVREYE ALMA FORMU DETAY</span>
          </a>
        </div>
      </div>
    </div> -->
    {% if perms.ArslanTakipApp.kalipEkran_view_location %} 
    <!-- and not superuser  -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <a href="/kalipfirini" class="small-box-footer">
              <i class="fas fa-arrow-circle-right"></i>
              <span>Kalip Fırını</span>
            </a>
          </div>
        </div>
      </div>
    {% endif %}
    </div>
  {% endif %}


  {% endblock %}