{% extends 'adminlte/base.html' %}

{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'tabulator/dist/css/tabulator_bootstrap5.min.css' %}">

  <style>
 .side-panel {
    height: 100%;
    width: 0; /* Start off as closed */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px; /* Add some top padding for content */
    transition: 0.5s; /* Smooth transition for opening and closing */
  }

  /* Button to close the side panel */
  #close-panel-btn {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 20px;
    padding: 0 15px;
    border: none;
    background-color: #f44336;
    color: white;
    cursor: pointer;
  }
  </style>
{% endblock %}

{% block content %}
<button id="open-panel-btn">KALIP EKLE</button>
<div class="container mt-3">
    {% for goz in gozData %}
        <div class="card mb-3">
            <div class="card-header" style="font-size: 3.7vh; text-align: center; font-weight: bold;">
                {{ goz.locationName }}
            </div>
            <div class="card-body">
                <div class="row">
                    {% for kalip in goz.kalıplar %}
                        <div class="col-md-4 col-sm-6">
                            <!-- Info box -->
                            <div class="info-box">
                                <div class="info-box-content">
                                    <div class="row">
                                        <div class="container col-lg-6">
                                          <span class="info-box-text" style="font-size: 3.7vh; text-align:center;">{{ kalip.kalipNo }}</span>
                                        </div>
                                        <div class="container col-lg-6" style= "margin-top:auto; margin-bottom:auto; display: flex; justify-content: center;">
                                            <div class="timer"  data-hareket-tarihi="{{ kalip.hareketTarihi }}" style="width: 200px; height: 200px;" id="timer-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="50" cy="50" stroke="#800" stroke-width="4" r="45" fill="grey" />
                                                    <path class="halfC" d="M 50 5 L 50 50 A 45 45 0 0 1 95 50 Z" fill="green" fill-opacity="0"></path>
                                                    <circle class="warnC" cx="50" cy="50" r="45" fill="red" fill-opacity="0"></circle>
                                                    <!-- Ensure the text is centered within the circle -->
                                                    <text class="base-timer__label--hours" x="50%" y="40%" dominant-baseline="middle" text-anchor="middle" font-size="2.8vh" fill="white">00</text>
                                                    <text class="base-timer__label--minutes" x="50%" y="60%" dominant-baseline="middle" text-anchor="middle" font-size="2.8vh" fill="white">00</text>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div id="side-panel" class="side-panel">
    <button id="close-panel-btn">Kapat</button>
    <div id="meydan-kalip-tabulator" class="mt-3"></div>
</div>

{% endblock %}

{% block extra_js %}

<script>
document.addEventListener("DOMContentLoaded", function() {
    const TIME_LIMIT = 86400;

    document.querySelectorAll(".timer").forEach(function(item) {
        let hareketZamani = item.getAttribute('data-hareket-tarihi');
        let hareketDate = new Date(hareketZamani);
        if (isNaN(hareketDate.getTime())) {
            console.error("Invalid date:", hareketZamani);
            return;
        }

        let timerInterval = setInterval(() => {
            let now = new Date().getTime();
            let elapsedTime = (now - hareketDate.getTime()) / 1000;
            let hours = Math.floor(elapsedTime / 3600);
            let minutes = Math.floor((elapsedTime % 3600) / 60);
            let seconds = Math.floor(elapsedTime % 60);

            // Calculate the fraction of the 24-hour period that has passed
            let fraction = elapsedTime / TIME_LIMIT;
            // Ensure the fraction does not exceed 1
            if (fraction > 1) fraction = 1;

            let halfC = item.querySelector('.halfC');
            let warnC = item.querySelector('.warnC');
            // let label = item.querySelector('.base-timer__label');
            let labelHours = item.querySelector('.base-timer__label--hours');
            let labelMinutes = item.querySelector('.base-timer__label--minutes');

            // Calculate the end angle and points for the SVG arc
            let endAngle = fraction * 2 * Math.PI; // Full circle is 2 * PI radians
            let endX = 50 + 45 * Math.sin(endAngle);
            let endY = 50 - 45 * Math.cos(endAngle);

            // Create the path for the SVG arc
            let largeArcFlag = fraction > 0.5 ? 1 : 0;
            let pathDescription = `M 50 5 
                                   A 45 45 0 ${largeArcFlag} 1 ${endX} ${endY}
                                   L 50 50 Z`;
            halfC.setAttribute('d', pathDescription);
            halfC.setAttribute('fill-opacity', '1');

            if (elapsedTime >= TIME_LIMIT) {
                // If more than 24 hours have passed
                warnC.setAttribute('fill-opacity', '1'); // Show warning visual
                halfC.setAttribute('fill-opacity', '0'); // Optionally, hide the normal state visual
            } else {
                // Less than 24 hours have passed
                halfC.setAttribute('fill-opacity', '1'); // Show normal visual
                warnC.setAttribute('fill-opacity', '0'); // Hide warning visual
            }

            // Set the label to show hours and minutes
            // label.textContent = `${hours}s ${minutes}d`;
            labelHours.textContent = `${hours} saat`;
            labelMinutes.textContent = `${minutes} dk`;
        }, 1000);
    });

    var table = new Tabulator("#meydan-kalip-tabulator", {
        layout:"fitColumns",
        placeholder:"Meydan Kalıp Liste",
        progressiveLoad:"scroll",
        paginationMode:"remote",
        paginationSize:20,
        filterMode: "remote",
        ajaxURL:"/kalipfirini/meydan",
        ajaxURLGenerator:function(url, config, params){
            return url + "?params=" + encodeURI(JSON.stringify(params));
        },
        columns: [
            {title:"Kalıp No", field:"kalipNo",  headerFilter:"input", cellClick:function(e, cell){
            let kalip = cell.getData().kalipNo;
            document.getElementById("kalipNo").value = kalip;
            
            //gözlerin kaç tane olacağını burda yaz 
            $('#kalipModal').modal('show');
            }},
        ],
    });
    
    function openSidePanel() {
      document.getElementById("side-panel").style.width = "250px"; // Set the width to open the panel
    }

    // Function to close the side panel
    function closeSidePanel() {
      document.getElementById("side-panel").style.width = "0"; // Set the width to close the panel
    }

    // Add click event listener to the close button
    document.getElementById("close-panel-btn").addEventListener("click", closeSidePanel);
    document.getElementById("open-panel-btn").addEventListener("click", openSidePanel);

});

</script>

{% endblock %}

{% block javascript %}
  {% include 'adminlte/lib/_scripts.html' %}
  <script src="{% static 'tabulator/dist/js/tabulator.js' %} "></script>

{% endblock %}