{% for reply in replies %}
  <div class="nested-reply">
    <div class="user-block">
      <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
      <span class="username" style="color: green;">{{ reply.KullaniciAdi }}</span>
      <span class="description">{{ reply.Tarih }}</span>
    </div>
    <!-- /.user-block -->
    <p>{{ reply.Aciklama }}</p>
    
    <!-- Display files for nested reply -->
    {% if reply.cfiles %}
      <div class="files-container">
        {% for file in reply.cfiles %}
          <a href="/media/{{ file.File }}" target="_blank" class="link-black text-sm">
            <i class="fas fa-link mr-1"></i>{{ file.File.name }}
          </a>
        {% endfor %}
      </div>
    {% endif %}
    
    <!-- Reply button for nested reply -->
    <button type="button" class="btn btn-sm btn-primary reply-btn" data-comment-id="{{ reply.id }}">Reply</button>
    
    <!-- Nested replies (recursive) -->
    {% if reply.replies %}
      <div class="nested-replies">
        {% include 'nested_replies.html' with replies=reply.replies %}
      </div>
    {% endif %}
  </div>
{% endfor %}