{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}
{% load comment_tags %}

{% block title %}
  Pres Üretim Takip
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'tabulator/dist/css/tabulator_bootstrap5.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/ekko-lightbox/ekko-lightbox.css' %}">

  <style>
    .nested-replies {
        margin-top: 5px;
        margin-left: 20px; /* Adjust the indentation level as needed */
    }
    .custom-file-input ~ .custom-file-label::after {
        content: "Gözat";
    }
    .overflow {
        display: block;
        white-space: nowrap;
        width: 120px; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .fiv-cla, .fiv-viv, .fiv-sqo { font-size: 3.5em; }
    #photos{
        width:100%;
        height:100%;
    }
    img {
        width:100%;
        height:100%;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-6 mb-4">
      <button type="button" class="btn btn-block btn-primary btn-lg">KALİTE KONTROL</button>
    </div>
    <div class="col-md-3 mb-4">
      <button type="button" class="btn btn-block btn-info btn-lg">SİPARİŞ TAMAM</button>
    </div>
    <div class="col-md-3 mb-4">
      <button type="button" class="btn btn-block btn-success btn-lg">ÜRETİMİ BİTİR</button>
    </div>
      <div class="col-md-6 mb-4">
          <div class="card">
              <div class="card-header">
                  <h5>Teknik Resim</h5> 
              </div>
              <div class="card-body">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="{{ teknik1 }}" data-toggle="lightbox" id="TeknikA">
                                <img id="TeknikResim1" class="d-block w-100" alt="First slide" src="{{ teknik1 }}" > </a>
                        </div>
                        <div class="carousel-item">
                            <a href="{{ teknik2 }}" data-toggle="lightbox" id="TeknikB">
                                <img id="TeknikResim2" class="d-block w-100" alt="Second slide" src="{{ teknik2 }}" > </a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-custom-icon" aria-hidden="true"  style="color: rgb(158, 27, 22);"><i class="fas fa-chevron-left"></i> </span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-custom-icon" aria-hidden="true"  style="color: rgb(158, 27, 22);"><i class="fas fa-chevron-right"></i> </span>
                    <span class="sr-only">Next</span>
                </a>
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="" style="background-color: rgb(226, 141, 43);"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""  style="background-color: rgb(226, 141, 43);"></li>
                </ol>
              </div>
          </div>
      </div>
      <div class="col-md-6 mb-4">
          <div class="card">
              <div class="card-header">
                  <h5>Notlar</h5>
              </div>
              <div class="card-body">
                  <p>Notlar...</p>
              </div>
          </div>
      </div>
      <div class="col-md-6 mb-4">
          <div class="card">
              <div class="card-header">
                  <h5>Pres Üretim Raporları</h5>
              </div>
              <div class="card-body">
                  <div id="raportable"></div>
              </div>
          </div>
      </div>
      <div class="col-md-6 mb-4">
          <div class="card">
              <div class="card-header">
                  <h5>Kalıp Yorumları</h5>
              </div>
              <div class="card-body">
                
                <div class="col-lg-12" id="commentCol">
                    {% for node in comment_tree %}
                        {% render_comment node %}
                    {% endfor %}
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    var raporTable = new Tabulator("#raportable", {
        height:"720px",
        layout:"fitDataFill",
        placeholder:"Pres Üretim Raporları",
        ajaxURL:"/presuretimtakip/rapor",
        progressiveLoad:"scroll",
        paginationMode:"remote",
        filterMode:"remote",
        paginationSize:30,
        ajaxParams: { kalip_no: "{{ kalip_no }}" }, 
        ajaxURLGenerator:function(url, config, params){
            return url + "?params=" + encodeURI(JSON.stringify(params)); //encode parameters as a json object
        },
        columns:[
            {title:"PRES KODU", field:"PresKodu", headerFilter:"input"},
            {title:"TARİH", field:"Tarih",formatter:"html", headerFilter:"input"},
            {title:"DURUM", field:"Durum", headerFilter:"input"},
            {title:"AÇIKLAMA", field:"HataAciklama", headerFilter:"input"},
        ]
    });

    $(function () {
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true
            });
        });
    });
</script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'tabulator/dist/js/tabulator.js' %} "></script>
<script type="text/javascript" src="{% static 'admin-lte/plugins/ekko-lightbox/ekko-lightbox.min.js' %}"></script>

{% endblock %}