{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Pres Üretim Takip
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'tabulator/dist/css/tabulator_bootstrap5.min.css' %}">

{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-6 mb-4">
      <button type="button" class="btn btn-block btn-primary btn-lg">KALİTE KONTROL</button>
    </div>
    <div class="col-md-3 mb-4">
      <button type="button" class="btn btn-block btn-info btn-lg">SİPARİŞ TAMAM</button>
    </div>
    <div class="col-md-3 mb-4">
      <button type="button" class="btn btn-block btn-success btn-lg">ÜRETİMİ BİTİR</button>
    </div>
      <div class="col-md-6 mb-4">
          <div class="card">
              <div class="card-header">
                  <h5>Kart 1</h5> 
              </div>
              <div class="card-body">
                  <p>Teknik Resim...</p>
              </div>
          </div>
      </div>
      <div class="col-md-6 mb-4">
          <div class="card">
              <div class="card-header">
                  <h5>Kart 2</h5>
              </div>
              <div class="card-body">
                  <p>Notlar...</p>
              </div>
          </div>
      </div>
      <div class="col-md-6 mb-4">
          <div class="card">
              <div class="card-header">
                  <h5>Kart 3</h5>
              </div>
              <div class="card-body">
                  <p>Pres Üretim Raporları...</p>
              </div>
          </div>
      </div>
      <div class="col-md-6 mb-4">
          <div class="card">
              <div class="card-header">
                  <h5>Kart 4</h5>
              </div>
              <div class="card-body">
                  <p>Kalıp Yorumları...</p>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>

</script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'tabulator/dist/js/tabulator.js' %} "></script>

{% endblock %}