{% extends 'adminlte/base.html' %}
{% block body_class %}{% block bodyclass %}sidebar-collapse {% endblock %}{% endblock %}

{% block title %}Arslan Alüminyum{% endblock %}

{% block content %}
<h1>Arslan Alüminyum</h1>
<h1>~~YAPIM AŞAMASINDA~~</h1>
<h2>{{type}}</h2>
<h2>{{no}}</h2>
<p id="de"></p>
<input type="button" name="deneme" id="btnDeneme" onclick="sendDeneme()">

{% endblock %}

{% block javascript %}

{% include 'adminlte/lib/_scripts.html' %}
<script>
    const socket = new WebSocket('ws://192.168.150.230:8000/ws/notifications/');
    console.log(socket);

    socket.onopen = function(e) {
        console.log("open");
    }
    
    socket.onclose = function(e) {
        console.log("close")
    };

    socket.onmessage = function(event) { //düzenlenecek
        const data = JSON.parse(event.data);
        console.log("DATA: ", data);
        document.getElementById('de').innerHTML = data.message;

        if (data.type != "connection_established") {
            const notificationList = document.getElementById('notification-list');
            const nCount = document.getElementById('notification-count');

            // // Update notification count
            if (nCount.innerText == "") {nCount.innerText = 0;};
            nCount.innerText = parseInt(nCount.innerText) + 1; //data.message;

            // Add new notification to the list
            const newNotification = document.createElement('a');
            newNotification.classList.add('dropdown-item');
            newNotification.href = '#';
            newNotification.innerHTML = `<i class="fas fa-envelope mr-2"></i> ${data.message}<span class="float-right text-muted text-sm">3 dk</span>`;
            notificationList.insertBefore(newNotification, data.firstChild);
        }
        
    };

    function markAsRead(notificationId) {
        const message = {
            type: 'mark_as_read',
            notification_id: notificationId,
        };
        socket.send(JSON.stringify(message));
    } //markAsRead(123);


    function sendDeneme() {
        // socket.send(JSON.stringify({
        //     'message': '4'
        // }));
        
        $.ajax({
            url: 'deneme',
            method: 'GET',
            success: function(response){
                console.log("Cevap: " + response.message);
            },
            error: function (error) {
            console.error('Error :', error);
            }
        });
    };

</script>
{% endblock %}