{% extends 'adminlte/base.html' %}
{% block body_class %}{% block bodyclass %}sidebar-collapse {% endblock %}{% endblock %}

{% block title %}Arslan Alüminyum{% endblock %}

{% block content %}
<h1>Arslan Alüminyum</h1>
<h1>~~YAPIM AŞAMASINDA~~</h1>
<h2>{{type}}</h2>
<h2>{{no}}</h2> 
<input type="button" name="deneme" id="btnDeneme" onclick="sendDeneme()">

{% endblock %}

{% block javascript %}

{% include 'adminlte/lib/_scripts.html' %}
<script>
    const socket = new WebSocket('ws://192.168.150.230:8000/ws/notifications/');
    // const socket = new WebSocket(`ws://${window.location.host}/ws/notifications/`);
    console.log(socket);
    console.log("socket altı");

    socket.onopen = function(e) {
        console.log("open")
    }

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        console.log("DATA: ", data);
        
        // document.getElementById('notification-count').innerHTML == (data.message + '\n');
        
        // const notification = JSON.parse(event.data);
        // const notificationList = document.getElementById('notification-list');
        // const notificationCount = document.getElementById('notification-count');

        // // Update notification count
        // notificationCount.innerText = parseInt(notificationCount.innerText) + 1;

        // // Add new notification to the list
        // const newNotification = document.createElement('a');
        // newNotification.classList.add('dropdown-item');
        // newNotification.href = '#';
        // newNotification.innerHTML = `<i class="fas fa-envelope mr-2"></i> ${notification.message}`;
        // notificationList.insertBefore(newNotification, notificationList.firstChild);
    };

    socket.onclose = function(e) {
        console.log("close")
    };

    function sendDeneme() {
        console.log("send deneme")
        socket.send(JSON.stringify({
            'message': 'Mesaj deneme'
        }));
        console.log("d2")
    };

</script>
{% endblock %}