{% extends 'adminlte/base.html' %}
{% block body_class %}{% block bodyclass %}sidebar-collapse {% endblock %}{% endblock %}

{% block title %}Arslan Alüminyum{% endblock %}

{% block content %}
<h1>Arslan Alüminyum</h1>
<h1>~~YAPIM AŞAMASINDA~~</h1>
<h2>{{type}}</h2>
<h2>{{no}}</h2> 

{% endblock %}

{% block javascript %}
<script>
    console.log("burda");
    
    const nCount = document.getElementById('notification-count');
    console.log(window.location.host);
    const socket = new WebSocket('ws://192.168.150.230:8000/ws/notifications/');

    socket.onmessage = function(event) {
        console.log("notif");
        const notification = JSON.parse(event.data);
        const notificationList = document.getElementById('notification-list');
        const notificationCount = document.getElementById('notification-count');

        // Update notification count
        notificationCount.innerText = parseInt(notificationCount.innerText) + 1;

        // Add new notification to the list
        const newNotification = document.createElement('a');
        newNotification.classList.add('dropdown-item');
        newNotification.href = '#';
        newNotification.innerHTML = `<i class="fas fa-envelope mr-2"></i> ${notification.message}`;
        notificationList.insertBefore(newNotification, notificationList.firstChild);
    };
</script>
{% endblock %}