{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'tabulator/dist/css/tabulator_bootstrap5.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/ion-rangeslider/css/ion.rangeSlider.min.css' %}">
  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.css' %} ">
  
  <style>
    /* Add your custom styles here */
    /* Center the loader */
  #loader {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }

  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }

  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

    .table {
      width: 98%;
        border-collapse: collapse;
        border: 1px solid #4a4a4a;
        background-color: #f9f9f9;
    }
    .table th{
        background-color: #82AAE3;
        border: 1px solid #6eabc7;
        padding: 10px;
        text-align: left;
        font-weight: 500;
        color: #ffffff;
    } 
    
    .table td {
        border: 1px solid #e0e0e0;
        padding: 8px;
        text-align: left;
        color: #333;
    }

    .table tr.main-row:hover{
        background-color: #BFEAF5;
    }

    tr.akordeon {
      width: 70%;
        max-height: 100%;
    }

    tr.akordeon table th {
        background-color: #91D8E4;
        border: 1px solid #96B6C5;
        padding: 8px;
        text-align: left;
        font-weight: 500;
        color: #ffffff;
    }

    tr.akordeon table td {
        border: 1px solid #ddd;
        padding: 6px;
        text-align: left;
        color: #555;
    }

    tr.akordeon table tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    tr.akordeon table tr:hover {
        background-color: #EAFDFC;
    }

    .modal.fade table.kalip th {
      background-color: #91D8E4;
        border: 1px solid #96B6C5;
        padding: 8px;
        text-align: left;
        font-weight: 500;
        color: #ffffff;
    }

    .modal.fade form {
      width: 80%;
    }
    
    .modal.fade form label, .modal.fade form input, .modal.fade form select {
      display: inline-block;
    }

    .modal.fade form label {
      width: 30%;
      text-align: left;
    }

    .modal.fade form label+input, .modal.fade form label+select {
      width: 30%;
      margin: 0 30% 0 4%;
    }

    @media print {
      .table {
        width: 98%;
        border-collapse: collapse;
        border: 1px solid #4a4a4a;
        background-color: #f9f9f9;
      }
      
      .table th{
        background-color: #96B6C5;
        padding: 4px;
        text-align: left;
        font-weight: bold;
        color: #2E8A99;
      } 

      .table td {
        border: 1px solid #e0e0e0;
        padding: 3px;
        text-align: left;
        color: #333;
      }

      tr.akordeon {
        width: 50%;
        max-height: 100%;
      }

      tr.akordeon table th {
        background-color: #ADC4CE;
        border: 1px solid #96B6C5;
        padding: 2px;
        text-align: left;
        font-weight: bold;
        color: #2E8A99;
      }

      tr.akordeon table td {
        border: 1px solid #ddd;
        padding: 2px;
        text-align: left;
        color: #555;
      }

      tr.akordeon table tr:nth-child(even) {
        background-color: #e6e6e6;
      }
      body {
        visibility: hidden;
      }
      .content{
        visibility: visible;
        left: 0;
        top: 0;
      }

      input, select, .pagination-container ,#pageSelectLabel, .btn{
        display: none;
      }
    }

  </style>
{% endblock %}

{% block content %}
<div class="container col-lg-12">
  <h1 class="col-lg-11" style="text-align: center;">Arslan Alüminyum Sipariş Listesi</h1>
  <div class="row">
    <div class="container-fluid col-lg-12">
      <div style="width: 98%;">
        <label for="perPageSelect" id="pageSelectLabel">Sipariş Sayısı:</label>
        <select id="perPageSelect">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="40">40</option>
          <option value="100">100</option>
          <option value="150">150</option>
          <option value="200">200</option>
          <!-- Diğer seçenekleri ekleyebilirsiniz -->
        </select>
        <button style="float: right;" type="button" id="btnEkSiparisList" class="btn bg-gradient-info">Üretim Planı</button>
        <button style="float: right; margin-right: 5px;" type="button" id="btnModal" class="btn bg-gradient-info">Arama</button>
        <button style="float: right; margin-right: 5px;" type="button" id="btnModalTabulator" class="btn bg-gradient-info">Sırala</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="loader"></div>
    <div class="container-fluid col-lg-12" id="myDiv">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 1%;"></th>
            <th scope="col" style="width: 5%;">Bloke</th>
            <th scope="col" style="width: 6%;">Kart No</th>
            <th scope="col" style="width: 10%;">Firma Adı</th>
            <th scope="col" style="width: 7%;">Profil No</th>
            <th scope="col" style="width: 6%;">Pres Kodu</th>
            <th scope="col" style="width: 6%;">Billet Turu</th>
            <th scope="col" colspan="2" style="width: 5%;">Sipariş Kg</th>
            <th scope="col" colspan="2" style="width: 4%;">Kalan Kg</th>
            <th scope="col" colspan="2" style="width: 2%;">Boy</th>
            <th scope="col" style="width: 12%;">Kondusyon Türü</th>
            <th scope="col" style="width: 9%;">Termin</th>
            <th scope="col" style="width: 8%;">Top Ten Kg </th>
            <th scope="col" style="width: 6%;">Kalıp Sayısı</th>
            
          </tr>
          <tr>
            <th scope="col"  style="width: 1%;"></th>
            <th scope="col"  style="width: 5%;"></th>
            <th scope="col" style="width: 6%;"></th>
            <th scope="col" style="width: 10%;"></th>
            <th scope="col" style="width: 7%;"></th>
            <th scope="col" style="width: 6%;"></th>
            <th scope="col" style="width: 6%;"></th>
            <th scope="col"  colspan="2" style="width: 5%; background-color: #a8ccdd;" id="sipTopKg"></th>
            <th scope="col" colspan="2" style="width: 4%; background-color: #a8ccdd;" id="sipKalKg"></th>
            <th scope="col" colspan="2" style="width: 2%;"></th>
            <th scope="col" style="width: 12%;"></th>
            <th scope="col" style="width: 9%;"></th>
            <th scope="col" style="width: 8%; background-color: #a8ccdd;" id="sipTopTen"></th>
            <th scope="col" style="width: 6%;"></th>
          </tr>
        </thead>
        <tbody id="tableBody">
          <!-- Veriler buraya -->
        </tbody>
      </table>
      <div class="pagination-container">
        <ul class="pagination"></ul>
      </div>
    </div>
  </div>
  <div class="modal fade" id="tabulatorModal" tabindex="-1" aria-labelledby="tabulatorModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sıralama</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <select name="kriter" class="form-control" id="kriter">
                  <option value="" id="selected" selected disabled>Kriter Seçin</option>
                  <option value="Kart No" data-field="KartNo" id="Kart No">Kart No</option>
                  <option value="Profil No" data-field="ProfilNo" id="Profil No">Profil No</option>
                  <option value="Pres Kodu" data-field="PresKodu" id="Pres Kodu">Pres Kodu</option>
                  <option value="Firma Adı" data-field="FirmaAdi" id="Firma Adı">Firma Adı</option>
                  <option value="Billet Türü" data-field="BilletTuru"id="Billet Türü">Billet Türü</option>
                  <option value="Son Termin" data-field="SonTermin" id="Son Termin">Termin</option>
                  <option value="Sipariş Kg" data-field="GirenKg" id="Sipariş Kg">Sipariş Kg</option>
                  <option value="Kalan Kg" data-field="Kg" id="Kalan Kg">Kalan Kg</option>
                  <option value="Kondüsyon Türü" data-field="KondusyonTuru" id="Kondüsyon Türü">Kondüsyon Türü</option>
                  <option value="Toplam Kalan Tenifer" data-field="TopTenKg" id="Toplam Kalan Tenifer">Toplam Kalan Tenifer</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <select name="sıralama" class="form-control" id="yon">
                  <option value="Artan" id="Artan">Artan</option>
                  <option value="Azalan" id="Azalan">Azalan</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <button type="button" id="add-row" class="btn btn-outline-info" >Kriter Ekle</button>
              </div>
            </div>
          </div>
          <div id="modalTable"></div>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnTabTemizle" class="btn btn-outline-secondary">Temizle</button>
          <button type="button" id="btnTabSirala" class="btn btn-primary">Sırala</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Gelişmiş Arama</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" id="formID"></form>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Kart No</label>
                    <input type="search" id="inKartNo" data-field="KartNo" class="form-control form-control-lg">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Pres Kodu</label>
                    <input type="search" id="inPresK" data-field="PresKodu" class="form-control form-control-lg">
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label>Firma Adı</label>
                    <input type="search" id="inFirma" data-field="FirmaAdi" class="form-control form-control-lg">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Profil No</label>
                    <input type="search" id="inProfilNo" data-field="ProfilNo" class="form-control form-control-lg">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Billet Türü</label>
                    <input type="search" id="inBillet" data-field="BilletTuru" class="form-control form-control-lg">
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label>Kondüsyon</label>
                    <input type="search" id="inKondus" data-field="KondusyonTuru" class="form-control form-control-lg">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <div class="row">
                      <label style="padding-right: 10px;">Sipariş Kg</label>
                      <input type="text" id="sip1" class="form-control form-control-sm col-lg-2">
                      <label>-</label>
                      <input type="text" id="sip2" class="form-control form-control-sm col-lg-2">
                    </div>
                    <input id="range_1" type="text" data-field="GirenKg" name="range_1" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <div class="row">
                      <label style="padding-right: 10px;">Kalan Kg</label>
                      <input type="text" id="kalan1" class="form-control form-control-sm col-lg-2">
                      <label>-</label>
                      <input type="text" id="kalan2" class="form-control form-control-sm col-lg-2">
                    </div>
                    <input id="range_2" type="text" data-field="Kg" name="range_2" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <div class="row">
                      <label style="padding-right: 10px;">Toplam Kalan Tenifer </label>
                      <input type="text" id="topten1" class="form-control form-control-sm col-lg-2">
                      <label>-</label>
                      <input type="text" id="topten2" class="form-control form-control-sm col-lg-2">
                    </div>
                    <input id="range_3" type="text" data-field="TopTenKg" name="range_3" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7">
                  <div class="form-group">
                    <label>Termin</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="far fa-calendar-alt"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control float-right" data-field="SonTermin" id="terminDate">
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label>Bloke Durumu</label>
                    <select class="form-control" id="blokeDurumu" data-field="SiparisTamam">
                      <option value="" disabled selected>Durum Seçin</option>
                      <option value="degil">Bloke Olmayanlar</option>
                      <option value="BLOKE">Bloke</option>
                      <option value="hepsi">Hepsi</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnTemizle" class="btn btn-secondary">Temizle</button>
          <button type="button" id="btnFiltre" class="btn btn-primary">Filtrele</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="siparisEkleModal" tabindex="-1" aria-labelledby="siparisEkleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ek Sipariş Kartı Ekle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="ekleBilgi" class="modal-body">
          <div class="row">
            <div class="container-fluid">
              <label for="KartNo" style=" padding-right: 30px;">Kart No: <label style="font-weight: 500;" id="ekleKartNo" data-field="KartNo"></label></label>
              <label for="ProfilNo" style=" padding-right: 30px;">Profil No: <label style="font-weight: 500;" id="ekleProfilNo" data-field="ProfilNo"></label></label>
              <label for="SiparisTamam">Bloke Durumu: <label id="ekleBloke" data-field="SiparisTamam" style="font-weight: 500;" ></label></label>
            </div>
          </div>
          <label for="FirmaAdi">Firma Adı: <label style="font-weight: 500;" id="ekleFirmaAdi" data-field="FirmaAdi"></label></label>
          <div style="overflow: auto;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="width: 6%;">Pres Kodu</th>
                  <th scope="col" style="width: 6%;">Billet Turu</th>
                  <th scope="col" colspan="2" style="width: 7%;">Sipariş Kg</th>
                  <th scope="col" colspan="2" style="width: 6%;">Kalan Kg</th>
                  <th scope="col" colspan="2" style="width: 3%;">Boy</th>
                  <th scope="col" style="width: 10%;">Kondusyon Türü</th>
                  <th scope="col" style="width: 10%;">Termin</th>
                  <th scope="col" style="width: 8%;">Top Ten Kg </th>
                  <th scope="col" style="width: 6%;">Kalıp Sayısı</th>
                  
                </tr>
              </thead>
              <tbody id="tableBody">
                <td id="eklePresKodu" data-field="PresKodu"></td>
                <td id="ekleBilletTuru" data-field="BilletTuru"></td>
                <td id="ekleGirenKg" data-field="GirenKg"></td>
                <td id="ekleGirenAdet" data-field="GirenAdet"></td>
                <td id="ekleKalanKg" data-field="KalanKg"></td>
                <td id="ekleKalanAdet" data-field="KalanAdet"></td>
                <td id="eklePlanlananMm" data-field="PlanlananMm"></td>
                <td id="ekleMm" data-field="Siparismm"></td>
                <td id="ekleKonusyonTuru" data-field="KondusyonTuru"></td>
                <td id="ekleTermin" data-field="SonTermin"></td>
                <td id="ekleTopTen" data-field="TopTenKg"></td>
                <td id="ekleKSayisi" data-field="KalipSayisi"></td>
              </tbody>
            </table>
          </div>

        </div>
        <div id="ekle" class="modal-body">
          <form action="" method="post" id="ekleForm">
            {% csrf_token %}
            <input type="hidden" name="sipKimlik" value="" id="sipKimlik">
            <div class="row">
              <div class="container-fluid">
                <label for="planlananPresKodu">Pres Kodu: </label>
                <select name="presKodu" id="planlananPresKodu">
                  <option value="" selected disabled>Seçiniz</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="container-fluid">
                <label for="planlananTermin">Planlanan Termin: </label>
                <input type="date" name="ekTermin" class="date-input" id="planlananTermin" data-field="planlananTermin">
              </div>
            </div>

            <div class="row">
              <div class="container-fluid">
                <label for="siparisEkleKg">Planlanan Miktar(kg): </label>
                <input type="number" name="sipEkleKg" id="siparisEkleKg">
              </div>
            </div>
            <div class="row">
              <div class="container-fluid">
                <label for="planlananAdet">Planlanan Adet: </label>
                <input type="number" name="planlananAdet" id="planlananAdet">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnSiparisEkle" class="btn btn-primary">Ekle</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
  
  var deleteIcon = function(cell, formatterParams, onRendered){ 
      return "<i class='fa fa-trash'></i>";
  };

  //Build Tabulator
  var modalTable = new Tabulator("#modalTable", {
      layout:"fitColumns",
      data:[],
      movableRows:true,
      columns:[
          {rowHandle:true, formatter:"handle", headerSort:false, frozen:true, width:30, minWidth:30},
          {title:"İsim", field:"isim"},
          {title:"Filtre", field:"type"},
          {formatter:deleteIcon, width:40, hozAlign:"center", headerSort:false ,cellClick: function (e, cell) {
            var data = cell.getData();
            document.getElementById(data.isim).disabled = false;
            cell.getRow().delete();}
          }
      ],
  });
  
  document.getElementById("btnEkSiparisList").addEventListener('click', function(){
    location.href = "/eksiparis";
  });

  document.getElementById("add-row").addEventListener('click', function(){
    if (document.getElementById("kriter").value != ""){
        deger = document.getElementById(document.getElementById("kriter").value).getAttribute("data-field");
        modalTable.addData({field:deger,isim:document.getElementById("kriter").value, type:document.getElementById("yon").value, }, false);
        document.getElementById(document.getElementById("kriter").value).disabled = true;
        document.getElementById("selected").selected = true;
    }
  });
  
  document.getElementById("btnTabTemizle").addEventListener("click", function(){
      modalTable.clearData();
      $('#kriter option').each(function(){
        if($(this).val() != ""){
          document.getElementById($(this).val()).disabled = false;
        }
      });
      sorterList = [];
      $('#tabulatorModal').modal('hide');
      document.getElementById("loader").style.display = "block";
      loadPage(currentPage);
  });

  document.getElementById("btnTabSirala").addEventListener("click", function(){
    let modalData = modalTable.getData();
    sorterList = modalData;

    $('#tabulatorModal').modal('hide');

    document.getElementById("loader").style.display = "block";
    console.log("sırala loader display block");
    loadPage(currentPage);
  });
    
  function initSlider(elementId, updateFunc) {
    $(elementId).ionRangeSlider({
      min     : 0,
      max     : 500000,
      from    : 0,
      to      : 10000,
      type    : 'double',
      step    : 1,
      postfix  : ' kg',
      prettify: false,
      hasGrid : true,
      onFinish: function(data){
        var field = $(elementId).data('field');
        filter = filter.filter(f => f.field !== field);
        filter.push({ field: field, type: data.from, value: data.to });
        updateFunc(data);
      },
      onChange: updateFunc
    });
  }

  initSlider("#range_1", updateInputs1);
  initSlider("#range_2", updateInputs2);
  initSlider("#range_3", updateInputs3);

  var from1 =0;
  var to1=0;
  var min1 = 0;
  var from2 =0;
  var to2=0;
  var min2 = 0;
  var from3 =0;
  var to3=0;
  var min3 = 0;

  function updateInputs1(data){
      from1 = data.from;
      to1 = data.to;
      $('#sip1').prop("value", from1);
      $('#sip2').prop("value", to1);
    };

  function updateInputs2(data){
    from2 = data.from;
    to2 = data.to;
    $('#kalan1').prop("value", from2);
    $('#kalan2').prop("value", to2);
  };
  
  function updateInputs3(data){
      from3 = data.from;
      to3 = data.to;
      $('#topten1').prop("value", from3);
      $('#topten2').prop("value", to3);

  };


  function addInputChangeHandler(inputElementId, sliderDataKey, fromToKey, minVal) {
  $(inputElementId).on("change", function() {
    var val = $(this).prop("value");
    var slider = $(sliderDataKey).data("ionRangeSlider");

    // validate
    if (val < minVal) val = minVal;
    else if (val > slider.result[fromToKey]) val = slider.result[fromToKey];

    var updateObj = {};
    updateObj[fromToKey] = val;
    slider.update(updateObj);
    $(this).prop("value", val);
  });
}

addInputChangeHandler('#sip1', '#range_1', 'from', min1);
addInputChangeHandler('#sip2', '#range_1', 'to', min1);
addInputChangeHandler('#kalan1', '#range_2', 'to', min2);
addInputChangeHandler('#kalan2', '#range_2', 'to', min2);
addInputChangeHandler('#topten1', '#range_3', 'to', min3);
addInputChangeHandler('#topten2', '#range_3', 'to', min3);

  // Add more calls as needed
    
/*     $('#range_1').ionRangeSlider({
      min     : 0,
      max     : 500000,
      from    : 0,
      to      : 10000,
      type    : 'double',
      step    : 1,
      postfix  : ' kg',
      prettify: false,
      hasGrid : true,
      onFinish: function(data){
        var from = data.from;   // input data-from attribute
        var to = data.to;       // input data-to attribute
        var field = $( "#range_1" ).data('field');
        filter = filter.filter(f => f.field !== field);
        filter.push({ field: field, type: from, value: to});
        updateInputs1;
      },
      onChange: updateInputs1
    });
    
    var sliders1 = $("#range_1").data("ionRangeSlider");
    var from1 =0;
    var to1=0;
    var min1 = 0;

    function updateInputs1(data){
      from1 = data.from;
      to1 = data.to;
      $('#sip1').prop("value", from1);
      $('#sip2').prop("value", to1);
    };

    $('#sip1').on("change", function () {
      var val = $(this).prop("value");
      if (val < min1) {val = min1;
      } else if (val > to1) {val = to1;}
      sliders1.update({
          from: val
      });
      $(this).prop("value", val);
    });

    $('#sip2').on("change", function () {
      var val = $(this).prop("value");

      if (val < from1) {val = from1;
      } else if (val > to1) {val = to1;}
      sliders1.update({
          to: val
      });
      $(this).prop("value", val);
    });

    $('#range_2').ionRangeSlider({
      min     : 0,
      max     : 500000,
      from    : 0,
      to      : 10000,
      type    : 'double',
      step    : 1,
      postfix  : ' kg',
      prettify: false,
      hasGrid : true,
      onFinish: function(data){
        var from = data.from;   
        var to = data.to;       
        var field = $( "#range_2" ).data('field');
        filter = filter.filter(f => f.field !== field);
        filter.push({ field: field, type: from, value: to});
        updateInputs2;
      },
      onChange: updateInputs2
    });
        
    var sliders2 = $("#range_2").data("ionRangeSlider");
    var from2 =0;
    var to2=0;
    var min2 = 0;

    function updateInputs2(data){
      from2 = data.from;
      to2 = data.to;
      $('#kalan1').prop("value", from2);
      $('#kalan2').prop("value", to2);
    };

    $('#kalan1').on("change", function () {
      var val = $(this).prop("value");

      if (val < min1) {val = min2;
      } else if (val > to2) {val = to2;}
      sliders2.update({
          from: val
      });
      $(this).prop("value", val);
    });

    $('#kalan2').on("change", function () {
      var val = $(this).prop("value");

      if (val < from2) {val = from2;
      } else if (val > to2) {val = to2;}
      sliders2.update({
          to: val
      });
      $(this).prop("value", val);
    });

    
    $('#range_3').ionRangeSlider({
      min     : 0,
      max     : 500000,
      type    : 'double',
      step    : 1,
      postfix  : ' kg',
      prettify: false,
      hasGrid : true,
      onFinish: function(data){
        var from = data.from;   
        var to = data.to;       
        var field = $( "#range_3" ).data('field');
        filter = filter.filter(f => f.field !== field);
        filter.push({ field: field, type: from, value: to});
        updateInputs3;
      },
      onChange: updateInputs3,
    });
    
    var slider3 = $("#range_3").data("ionRangeSlider");
    var from3 =0;
    var to3=0;
    var min3 = 0;

    function updateInputs3(data){
      from3 = data.from;
      to3 = data.to;
      $('#topten1').prop("value", from3);
      $('#topten2').prop("value", to3);

    };

    $('#topten1').on("change", function () {
      var sliders3 = $("#range_3").data("ionRangeSlider");
      var val = $('#topten1').prop("value");

      if (val < min3) {val = min3;
      } else if (val > to3) {val = to3;}
      sliders3.update({
          from: val
      });
      $(this).prop("value", val);
    });

    $('#topten2').on("change", function () {
      var val = $(this).prop("value");

      if (val < from3) {val = from3;
      } else if (val > to3) {val = to3;}
      slider3.update({
          to: val
      });
      $(this).prop("value", val);
    });
 */
    //Date range picker
    $('#terminDate').daterangepicker({
      "locale": {
        "format": "DD-MM-YYYY",
        "separator": " | ",
        "applyLabel": "Uygula",
        "cancelLabel": "İptal Et",
        "fromLabel": "From",
        "toLabel": "To",
        "customRangeLabel": "Custom",
        "weekLabel": "H",
        "daysOfWeek": [
            "Pa",
            "Pt",
            "Sa",
            "Ça",
            "Pe",
            "Cu",
            "Ct"
        ],
        "monthNames": [
            "Ocak",
            "Şubat",
            "Mart",
            "Nisan",
            "Mayıs",
            "Haziran",
            "Temmuz",
            "Ağustos",
            "Eylül",
            "Ekim",
            "Kasım",
            "Aralık"
        ],
        "firstDay": 1,
        
    },"autoUpdateInput": false,
  });

    btnTab = document.getElementById('btnModalTabulator');
    btnTab.addEventListener('click', () => {
      $('#tabulatorModal').modal('show');
    });

    btnMod = document.getElementById('btnModal');
    btnMod.addEventListener('click', () => {
      $('#searchModal').modal('show');
    });

    $('#terminDate').on('apply.daterangepicker', function(ev, picker) {
      var start = picker.startDate;
      var end = picker.endDate;
      let field = $( "#terminDate" ).data('field');
      filter = filter.filter(f => f.field !== field);
      filter.push({ field: field, type: start.format('YYYY-MM-DD'), value: end.format('YYYY-MM-DD')});
      $( "#terminDate" ).val(start.format('DD-MM-YYYY') + ' | '+ end.format('DD-MM-YYYY'));
    });

    function applyFilter(filter, fieldId, fieldType, condition = '=') {
      const fieldValue = $(`#${fieldId}`).val();
      const field = $(`#${fieldId}`).data('field');
      filter = filter.filter(f => f.field !== field);
      if (fieldValue && fieldValue.length > 0) {
        filter.push({ field, type: condition, value: fieldValue });
      }
      if (fieldType === 'select' && fieldValue === 'degil') {
        // Do nothing or some specific logic if needed.
      }
      return filter;
    }

    btnFiltre = document.getElementById('btnFiltre');
    btnFiltre.addEventListener('click', () => {

      // Bloke Durumu (Select box)
      filter = applyFilter(filter, 'blokeDurumu', 'select');

      // Kart No (Text input)
      filter = applyFilter(filter, 'inKartNo', 'text', 'like');

      // Pres (Text input)
      filter = applyFilter(filter, 'inPresK', 'text', 'like');

      // Firma Adi (Text input)
      filter = applyFilter(filter, 'inFirma', 'text', 'like');

      // Profil No (Text input)
      filter = applyFilter(filter, 'inProfilNo', 'text');

      // Billet (Text input)
      filter = applyFilter(filter, 'inBillet', 'text', 'like');

      // Kondus (Text input)
      filter = applyFilter(filter, 'inKondus', 'text', 'like');

      $('#searchModal').modal('hide');
      document.getElementById("loader").style.display = "block";
      loadPage(currentPage);
    });


    btnTemiz = document.getElementById('btnTemizle');
    btnTemiz.addEventListener('click', () => {
      $( "#inKartNo, #inPresK, #inFirma, #inProfilNo, #inBillet, #inKondus, #terminDate, #blokeDurumu" ).val("");
      slider = $("#range_1").data("ionRangeSlider");
      slider.update({
        from:0,
        to:girenMax
      });
      slider.reset();
      slider2 = $("#range_2").data("ionRangeSlider");
      slider2.update({
        from:0,
        to:kgMax
      });
      slider2.reset();
      slider3 = $("#range_3").data("ionRangeSlider");
      slider3.update({
        from:0,
        to:topMax
      });
      slider3.reset();
      filter = [];

      $('#searchModal').modal('hide');
      document.getElementById("loader").style.display = "block";
      loadPage(currentPage);
    });

    const kalipTableBody = $('#kalipTableBody');
    function myFunction (e) {
      kalipTableBody.empty();
      var blokeTD = e.nextSibling.nextSibling;
      var kartNoTD = blokeTD.nextSibling.nextSibling;
      var firmaAdiTD = kartNoTD.nextSibling.nextSibling;
      var profilNoTD = firmaAdiTD.nextSibling.nextSibling;
      var presKoduTD =profilNoTD.nextSibling.nextSibling;
      var billetTuruTD =presKoduTD.nextSibling.nextSibling;
      var girenKgTD = billetTuruTD.nextSibling.nextSibling;
      var girenAdetTD = girenKgTD.nextSibling.nextSibling;
      var kalanKgTD = girenAdetTD.nextSibling.nextSibling;
      var kalanAdetTD = kalanKgTD.nextSibling.nextSibling;
      var planlananMmTD = kalanAdetTD.nextSibling.nextSibling;
      var mmTD = planlananMmTD.nextSibling.nextSibling;
      var kondusTD = mmTD.nextSibling.nextSibling;
      var terminTD = kondusTD.nextSibling.nextSibling;
      var topTenTD = terminTD.nextSibling.nextSibling;
      var kSayisiTD = topTenTD.nextSibling.nextSibling;
      var sipKimlik = kSayisiTD.nextSibling.nextSibling;
      var profilGramaj = sipKimlik.nextSibling.nextSibling;
      if (blokeTD.innerHTML == "✓"){
        document.getElementById("ekleBloke").innerHTML = "Bloke Değil";
      }
      else {
        document.getElementById("ekleBloke").innerHTML = "Bloke";
      }
      document.getElementById("ekleKartNo").innerHTML = kartNoTD.innerHTML;
      document.getElementById("ekleFirmaAdi").innerHTML = firmaAdiTD.innerHTML;
      document.getElementById("ekleProfilNo").innerHTML = profilNoTD.innerHTML;
      document.getElementById("eklePresKodu").innerHTML = presKoduTD.innerHTML;
      document.getElementById("ekleBilletTuru").innerHTML = billetTuruTD.innerHTML;
      document.getElementById("ekleGirenKg").innerHTML = girenKgTD.innerHTML;
      document.getElementById("ekleGirenAdet").innerHTML = girenAdetTD.innerHTML;
      document.getElementById("ekleKalanKg").innerHTML = kalanKgTD.innerHTML;
      document.getElementById("ekleKalanAdet").innerHTML = kalanAdetTD.innerHTML;
      document.getElementById("eklePlanlananMm").innerHTML = planlananMmTD.innerHTML;
      document.getElementById("ekleMm").innerHTML = mmTD.innerHTML;
      document.getElementById("ekleKonusyonTuru").innerHTML = kondusTD.innerHTML;
      document.getElementById("ekleTermin").innerHTML =terminTD.innerHTML;
      document.getElementById("ekleTopTen").innerHTML = topTenTD.innerHTML;
      document.getElementById("ekleKSayisi").innerHTML = kSayisiTD.innerHTML;
      document.getElementById('sipKimlik').value = sipKimlik.value;
      document.getElementById('ProfilGramaj').value = profilGramaj.value;

      loadPresKodu(profilNoTD.innerHTML);
      $('#siparisEkleModal').modal('show'); 

    };

    $('#siparisEkleModal').on('hidden.bs.modal', function() {
      $('#planlananPresKodu').find('option').remove().end().append('<option value="">Seçiniz</option>');
    });

    const loadPresKodu = (profilNo) => {
      $.ajax({
      url: `/siparis/presKodu/${profilNo}`,
      method: 'GET',
      dataType: 'json',
      success: function (presData) {
          //$("#planlananPresKodu").attr('disabled', false);
          $.each(presData, function(key, value) {
            $('#planlananPresKodu').append('<option value=' + value + '>' + value + '</option>');
          });
      },
      error: function (error) {
          console.error('Error loading pres kodu data:', error);
      }
      });

    };

    $('#siparisEkleKg').on('change', () => {
      let boy = (document.getElementById("eklePlanlananMm").innerHTML).slice(0, -3);
      let gramaj = document.getElementById('ProfilGramaj').value;
      let kg = document.getElementById('siparisEkleKg').value;

      let adet = Math.ceil((kg*1000)/(boy*gramaj));
      document.getElementById('planlananAdet').value = adet;
    });

    $('#planlananAdet').on('change', () => {
      let boy = (document.getElementById("eklePlanlananMm").innerHTML).slice(0, -3);
      let gramaj = document.getElementById('ProfilGramaj').value;
      let adet = document.getElementById('planlananAdet').value;

      let kg = Math.ceil(boy*gramaj*adet/1000);
      document.getElementById('siparisEkleKg').value = kg;
    });

    document.getElementById("btnSiparisEkle").addEventListener("click", function(){
      let selectedPresKodu =document.getElementById('planlananPresKodu').value;
      
      if (siparisEkleKg != "" && selectedPresKodu != "" && terminDate != "") {
        $('#siparisEkleModal').modal('hide'); 
      }
      else if (siparisEkleKg == "" && selectedPresKodu == "" && terminDate == ""){
        alert("Lütfen pres ve termin seçip, kilogram değeri giriniz!");
      }
      else if (siparisEkleKg == "" && selectedPresKodu == "") {
        alert("Lütfen pres seçip, kilogram değeri giriniz!");
      }
      else if (siparisEkleKg == "" && terminDate == ""){
        alert("Lütfen termin seçip, kilogram değeri giriniz!");
      }
      else if (selectedPresKodu == "" && terminDate == ""){
        alert("Lütfen pres ve termin seçiniz!");
      }
      else if (siparisEkleKg == "") {
        alert("Lütfen kilogram değeri giriniz!");
      }
      else if (selectedPresKodu == "") {
        alert("Lütfen pres seçiniz!");
      }
      else if (terminDate == "") {
        alert("Lütfen planlanan termin seçiniz!");
      }
      SubForm();

    });

    function SubForm (){
    $.ajax({
        url: '/siparis/ekle',
        type: 'post',
        data: $('#ekleForm').serialize(),
        success: function(){
            alert("Ek Sipariş Kaydedildi!");
        },
        error: function (error) {
          console.error('Error posting data:', error);
        }
    });
    };
    
    const tableBody = $('#tableBody');
    let itemsPerPage = 5;  // Başlangıçta varsayılan değer
    let filter = [];
    let sorterList = [];
    const renderData = (data) => {
      tableBody.empty();  // Önceki verileri temizle
      data.forEach(item => { // Verileri render et...

        let SiparisTamamSymbol = (item.SiparisTamam === 'BLOKE') ? '✗' : '✓';
        // Decide whether to include a '+' symbol based on SiparisTamamSymbol
        let ek = (SiparisTamamSymbol === '✓') 
           ? `<td class="ekleTableBody" onclick="myFunction(this)">+</td>` 
           : `<td class="ekleTableBody"> </td>`;

        const aktifKalipSayisi = item.AktifKalipSayisi !== null ? item.AktifKalipSayisi : '-';
        const toplamKalipSayisi = item.ToplamKalipSayisi !== null ? item.ToplamKalipSayisi : '-';

        const row = $('<tr class="main-row"></tr>').html(`
        ${ek}
        <td class="blokeTableBody">${SiparisTamamSymbol}</td>
        <td class="kartTableBody">${item.KartNo}</td>
        <td class="firmaTableBody">${item.FirmaAdi}</td>
        <td class="profilNoTableBody">${item.ProfilNo}</td>
        <td class="presTableBody">${item.PresKodu}</td>
        <td class="billetTableBody">${item.BilletTuru}</td>
        <td class="girenKgTableBody">${item.GirenKg} kg</td>
        <td class="girenAdetTableBody">${item.GirenAdet} adet</td>
        <td class="kKgTableBody" style="color: #1F6E8C;font-weight:bold;">${item.Kg} kg</td>
        <td class="kAdetTableBody">${item.Adet} adet</td>
        <td class="planlananMmTableBody">${item.PlanlananMm} mm</td>
        <td class="mmTableBody">${item.Siparismm} mm</td>
        <td class="kondusTableBody">${item.KondusyonTuru}</td>
        <td class="terminTableBody">${item.SonTermin}</td>
        <td class="topTenTableBody">${item.TopTenKg} kg</td>
        <td class="kSayisiTableBody">${aktifKalipSayisi}/${toplamKalipSayisi}</td>
        <input type="hidden" name="Kimlik" id="Kimlik" value="${item.Kimlik}">
        <input type="hidden" name="ProfilGramaj" id="ProfilGramaj" value="${item.Profil_Gramaj}">
        `);

        tableBody.append(row);
      });
      document.getElementById("loader").style.display = "none";
    };

    let girenMax =0;
    let kgMax =0;
    let topMax = 0;
    let topSum = 0;
    let h = 0;

    const loadPage = (page) => {
        const params = {
            page: page,
            size: itemsPerPage,
            filter: filter,
            sL:sorterList,
            h:h,
        };
      $.ajax({
        url: `/siparis/list`,
        method: 'GET',
        data: { params: JSON.stringify(params)},
        dataType: 'json',
        success: function (paginatedData) {
          renderData(paginatedData.data);
          renderPagination(paginatedData.last_page);
          topSum = paginatedData.e.TopTenSum;
          if (h==1){
            $('#sipTopTen').html(topSum+" kg");
            h = 0;
          }
          else {$('#sipTopTen').html("hesapla");}
        },
        error: function (error) {
          console.error('Error loading paginated data:', error);
        }
      });

      $.ajax({
        url: `/siparis/max`,
        method: 'GET',
        data: { params: JSON.stringify(params)},
        dataType: 'json',
        success: function (maxData) {
          girenMax = maxData.GirenMax;
          kgMax = maxData.KgMax;
          topMax = maxData.TopTenMax;
          var slider1 = $("#range_1").data("ionRangeSlider");
          slider1.update({
              max: girenMax,
              to: girenMax,
          });
          var slider2 = $("#range_2").data("ionRangeSlider");
          slider2.update({
              max: kgMax,
              to: kgMax,
          });
          var slider3 = $("#range_3").data("ionRangeSlider");
          slider3.update({
              max: topMax,
              to: topMax,
          });
          from1 = 0;
          from2 = 0;
          from3 = 0;
          to1 = girenMax;
          to2 = kgMax;
          to3 = topMax;
          $('#sip1').prop("value", from1);
          $('#sip2').prop("value", to1);
          $('#kalan1').prop("value", from2);
          $('#kalan2').prop("value", to2);
          $('#topten1').prop("value", from3);
          $('#topten2').prop("value", to3);
          let girenSum = maxData.GirenSum;
          let kgSum = maxData.KgSum;
          $('#sipTopKg').html(girenSum+" kg");
          $('#sipKalKg').html(kgSum+" kg");

        }
      });

      
    };

    hesap = document.getElementById('sipTopTen');
    hesap.addEventListener('click', () => {
      h = 1;
      $('#sipTopTen').html("hesaplanıyor");
      loadPage(currentPage);
    });
    

    const renderPagination = (totalPages) => {
      const paginationUl = $('.pagination');
      paginationUl.empty();  // Önceki pagination'ı temizle

      const prevButton = `
      <li class="page-item prev ${currentPage === 1 ? 'disabled' : ''}">
            <a class="page-link" href="#" aria-label="Previous" style="color: #96B6C5;">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
      `;
      
      const nextButton = `
      <li class="page-item next ${currentPage === totalPages ? 'disabled' : ''}">
            <a class="page-link" href="#" aria-label="Next" style="color: #96B6C5;">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
      `;

      paginationUl.append(prevButton);

      const visiblePages = calculateVisiblePages(totalPages);

      for (let i = 1; i <= totalPages; i++) {
        if (i === 1 || i === totalPages || visiblePages.includes(i)) {
          const liClass = i === currentPage ? 'page-item active' : 'page-item';
          const li = `<li class="${liClass}"><a class="page-link" href="#" style="color: #96B6C5;">${i}</a></li>`;
          paginationUl.append(li);
        } else if (i === visiblePages[0] - 1 || i === visiblePages[visiblePages.length - 1] + 1) {
          paginationUl.append(`
            <li class="page-item disabled">
              <span class="page-link" style="color: #96B6C5;">...</span>
            </li>
          `);
        }
      }

      paginationUl.append(nextButton);

      paginationUl.find('.page-link').on('click', function (e) {
        const parentLi = $(this).closest('.page-item');

        if (parentLi.hasClass('disabled')) {
          return;
        }

        if (parentLi.hasClass('prev')) {
          currentPage = Math.max(1, currentPage - 1);
        } else if (parentLi.hasClass('next')) {
          currentPage = Math.min(totalPages, currentPage + 1);
        } else {
          currentPage = parseInt($(this).text());
        }

        document.getElementById("loader").style.display = "block";
        console.log("renderpag loader block");
        loadPage(currentPage);
      });
    };

    const calculateVisiblePages = (totalPages) => {
      const visiblePages = [];
      const maxVisiblePages = 20; // You can adjust this value

      const middlePage = Math.floor(maxVisiblePages / 2);
      const lowerBound = Math.max(1, currentPage - middlePage);
      const upperBound = Math.min(totalPages, lowerBound + maxVisiblePages - 1);

      for (let i = lowerBound; i <= upperBound; i++) {
        visiblePages.push(i);
      }

      return visiblePages;
    };


    const renderAccordionTable = (accordionData, mainTableRow) => {
      const accordionRow = $('<tr class="akordeon"><td colspan="17"><div class="container"><div class="row"><div class="col-md-12"><table class="table table-bordered"><thead><tr><th style="width: 6%;">Kalıp No</th><th style="width: 5%;">Üretici Firma</th><th style="width: 8%;">Tenifer Kalan Ömür Kg</th><th style="width: 8%;">Üretim Toplam Kg</th><th style="width: 5%;">Pres Kodu</th><th style="width: 3%;">Çapı</th><th style="width: 5%;">Son Pres Kodu</th><th style="width: 10%;">Konum</th></tr></thead><tbody id="accordionTableBody"></tbody></table></div></div></div></td></tr>');
      mainTableRow.after(accordionRow);
      const accordionTableBody = accordionRow.find('#accordionTableBody');
      accordionTableBody.empty();  // Clear existing accordion table data
      accordionData.forEach(item => {
        // Render accordion table row
        const row = $('<tr></tr>').html(`
            <td>${item.KalipNo || '-'}</td>
            <td>${item.UreticiFirma || '-'}</td>
            <td>${item.TeniferKalanOmurKg || '-'}</td>
            <td>${item.UretimToplamKg || '-'}</td>
            <td>${item.PresKodu || '-'}</td>
            <td>${item.Capi || '-'}</td>
            <td>${item.SonPresKodu || '-'}</td>
            <td>${item.Konum || '-'}</td>
          <!-- Add more columns as needed -->
        `);
        accordionTableBody.append(row);
        document.getElementById('tableBody').style="";
      });
      
    };

    // Function to load accordion table data
    const loadAccordionTable = (profilNo, mainTableRow) => {
      $.ajax({
      url: `/siparis/child/${profilNo}`,
      method: 'GET',
      dataType: 'json',
      success: function (accordionData) {
          renderAccordionTable(accordionData, mainTableRow);
      },
      error: function (error) {
          console.error('Error loading accordion table data:', error);
      }
      });
    };

    tableBody.on('click', '.main-row', function () {
      document.getElementById('tableBody').style="pointer-events:none;";
      const profilNo = $(this).find('td:nth-child(5)').text();  // Assuming ProfilNo is in the 3rd column
      if (profilNo) {
        const mainTableRow = $(this);
        const accordionRow = mainTableRow.next('.akordeon');
        
        if (accordionRow.length) { 
          accordionRow.slideToggle();
          document.getElementById('tableBody').style="";
        } else {
          // Load and render accordion table data
          loadAccordionTable(profilNo, mainTableRow);
        }
        
      }
    });

    $('#perPageSelect').on('change', function () {
      itemsPerPage = parseInt($(this).val());
      currentPage = 1;  // Sayfa değiştiğinde ilk sayfaya geç
      document.getElementById("loader").style.display = "block";
      loadPage(currentPage);
    });

    let currentPage = 1;
    loadPage(currentPage);  // İlk sayfa yüklendiğinde verileri ve pagination'ı getir


  </script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'tabulator/dist/js/tabulator.js' %} "></script>

<script src="{% static 'admin-lte/plugins/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
{% endblock %}
