{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/ion-rangeslider/css/ion.rangeSlider.min.css' %}">
  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.css' %} ">
  <style>
    /* Add your custom styles here */
    .table {
      width: 98%;
        border-collapse: collapse;
        border: 1px solid #4a4a4a;
        background-color: #f9f9f9;
    }
    .table th{
        background-color: #82AAE3;
        border: 1px solid #6eabc7;
        padding: 10px;
        text-align: left;
        font-weight: 500;
        color: #ffffff;
    } 
    
    .table td {
        border: 1px solid #e0e0e0;
        padding: 8px;
        text-align: left;
        color: #333;
    }

    .table tr.main-row:hover{
        background-color: #BFEAF5;
    }

    tr.akordeon {
      width: 70%;
        max-height: 100%;
    }

    tr.akordeon table th {
        background-color: #91D8E4;
        border: 1px solid #96B6C5;
        padding: 8px;
        text-align: left;
        font-weight: 500;
        color: #ffffff;
    }

    tr.akordeon table td {
        border: 1px solid #ddd;
        padding: 6px;
        text-align: left;
        color: #555;
    }

    tr.akordeon table tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    tr.akordeon table tr:hover {
        background-color: #EAFDFC;
    }

    @media print {
      .table {
        width: 98%;
        border-collapse: collapse;
        border: 1px solid #4a4a4a;
        background-color: #f9f9f9;
      }
      
      .table th{
        background-color: #96B6C5;
        padding: 4px;
        text-align: left;
        font-weight: bold;
        color: #2E8A99;
      } 

      .table td {
        border: 1px solid #e0e0e0;
        padding: 3px;
        text-align: left;
        color: #333;
      }

      tr.akordeon {
        width: 50%;
        max-height: 100%;
      }

      tr.akordeon table th {
        background-color: #ADC4CE;
        border: 1px solid #96B6C5;
        padding: 2px;
        text-align: left;
        font-weight: bold;
        color: #2E8A99;
      }

      tr.akordeon table td {
        border: 1px solid #ddd;
        padding: 2px;
        text-align: left;
        color: #555;
      }

      tr.akordeon table tr:nth-child(even) {
        background-color: #e6e6e6;
      }
      body {
        visibility: hidden;
      }
      .content{
        visibility: visible;
        left: 0;
        top: 0;
      }

      input, select, .pagination-container ,#pageSelectLabel, .btn{
        display: none;
      }
    }

  </style>
{% endblock %}

{% block content %}
<div class="container col-lg-12">
  <h1 class="col-lg-11" style="text-align: center;">Arslan Alüminyum Sipariş Listesi</h1>
  <div class="row">
    <div class="container-fluid col-lg-12">
      <button type="button" id="btnModal" class="btn bg-gradient-info">Arama</button>
        <label for="perPageSelect" id="pageSelectLabel">Sipariş Sayısı:</label>
        <select id="perPageSelect">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="40">40</option>
          <option value="100">100</option>
          <option value="150">150</option>
          <option value="200">200</option>
          <!-- Diğer seçenekleri ekleyebilirsiniz -->
        </select>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"  style="width: 6%;">Bloke</th>
            <th scope="col" style="width: 6%;">Kart No</th>
            <th scope="col" style="width: 12%;">Firma Adı</th>
            <th scope="col" style="width: 8%;">Profil No</th>
            <th scope="col" style="width: 6%;">Pres Kodu</th>
            <th scope="col" style="width: 6%;">Billet Turu</th>
            <th scope="col" style="width: 8%;">Sipariş Kg</th>
            <th scope="col" style="width: 8%;">Kalan Kg</th>
            <th scope="col" style="width: 12%;">Kondusyon Türü</th>
            <th scope="col" style="width: 10%;">Termin</th>
            <th scope="col" style="width: 8%;">Top Ten Kg </th>
            <th scope="col" style="width: 6%;">Kalıp Sayısı</th>

          </tr>
        </thead>
        <tbody id="tableBody">
          <!-- Veriler buraya -->
        </tbody>
      </table>
      <div class="pagination-container">
        <ul class="pagination"></ul>
      </div>
    </div>
  </div>
  <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Gelişmiş Arama</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" id="formID"></form>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Kart No</label>
                    <input type="search" id="inKartNo" data-field="KartNo" class="form-control form-control-lg">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Pres Kodu</label>
                    <input type="search" id="inPresK" data-field="PresKodu" class="form-control form-control-lg">
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label>Firma Adı</label>
                    <input type="search" id="inFirma" data-field="FirmaAdi" class="form-control form-control-lg">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label>Profil No</label>
                    <input type="search" id="inProfilNo" data-field="ProfilNo" class="form-control form-control-lg">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Billet Türü</label>
                    <input type="search" id="inBillet" data-field="BilletTuru" class="form-control form-control-lg">
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label>Kondüsyon</label>
                    <input type="search" id="inKondus" data-field="KondusyonTuru" class="form-control form-control-lg">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Sipariş Kg</label>
                    <input id="range_1" type="text" data-field="SiparisKg" name="range_1" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>Kalan Kg</label>
                    <input id="range_2" type="text" data-field="Kg" name="range_2" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label>TopTenKg</label>
                    <input id="range_3" type="text" data-field="TopTenKg" name="range_3" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-7">
                  <div class="form-group">
                    <label>Termin</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="far fa-calendar-alt"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control float-right" data-field="SonTermin" id="terminDate">
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label>Bloke Durumu</label>
                    <select class="form-control" id="blokeDurumu" data-field="SiparisTamam">
                      <option value="degil">Bloke Olmayanlar</option>
                      <option value="BLOKE">Bloke</option>
                      <option value="hepsi">Hepsi</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnTemizle" class="btn btn-secondary">Temizle</button>
          <button type="button" id="btnFiltre" class="btn btn-primary">Filtrele</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
  <script>
        /* ION SLIDER */
    $('#range_1, #range_2, #range_3').ionRangeSlider({
      min     : 0,
      max     : 5000000,
      from    : 0,
      to      : 5000000,
      type    : 'double',
      step    : 1,
      postfix  : ' kg',
      prettify: false,
      hasGrid : true
    });

    //Date range picker
    $('#terminDate').daterangepicker({
      "locale": {
        "format": "DD-MM-YYYY",
        "separator": " | ",
        "applyLabel": "Uygula",
        "cancelLabel": "İptal Et",
        "fromLabel": "From",
        "toLabel": "To",
        "customRangeLabel": "Custom",
        "weekLabel": "H",
        "daysOfWeek": [
            "Pa",
            "Pt",
            "Sa",
            "Ça",
            "Pe",
            "Cu",
            "Ct"
        ],
        "monthNames": [
            "Ocak",
            "Şubat",
            "Mart",
            "Nisan",
            "Mayıs",
            "Haziran",
            "Temmuz",
            "Ağustos",
            "Eylül",
            "Ekim",
            "Kasım",
            "Aralık"
        ],
        "firstDay": 1,
        
    },"autoUpdateInput": false,
  });

    btnMod = document.getElementById('btnModal');
    btnMod.addEventListener('click', () => {
      $('#searchModal').modal('show');
    });

    $('#terminDate').on('apply.daterangepicker', function(ev, picker) {
      var start = picker.startDate;
      var end = picker.endDate;
      var field = $( "#terminDate" ).data('field');
      filter = filter.filter(f => f.field !== field);
      filter.push({ field: field, type: start.format('YYYY-MM-DD'), value: end.format('YYYY-MM-DD')});
      $( "#terminDate" ).val(start.format('DD-MM-YYYY') + ' | '+ end.format('DD-MM-YYYY'));
    });

    btnFiltre = document.getElementById('btnFiltre');
    btnFiltre.addEventListener('click', () => {
      
      console.log($("#blokeDurumu").val());
      var blokeValue = $("#blokeDurumu").val();
      var field = $( "#blokeDurumu" ).data('field');
      filter = filter.filter(f => f.field !== field);
      if (blokeValue != 'degil'){
        filter.push({ field: field, type: '=', value: blokeValue});
      }
      var kartNoValue = $( "#inKartNo" ).val();
      if (kartNoValue.length > 0){
        var field = $( "#inKartNo" ).data('field');
        filter = filter.filter(f => f.field !== field);
        if (kartNoValue) {
            filter.push({ field: field, type: 'like', value: kartNoValue});
            console.log('if2 içi kartno')
        }
      };
      console.log('if dışı kartno')

      var PresValue = $( "#inPresK" ).val();
      if (PresValue.length > 0){
        var field = $( "#inPresK" ).data('field');
        filter = filter.filter(f => f.field !== field);
        if (PresValue) {
            filter.push({ field: field, type: 'like', value: PresValue});
        }
      };

      var FirmaAdiValue = $( "#inFirma" ).val();
      console.log(FirmaAdiValue);
      if (FirmaAdiValue.length > 0){
        console.log('if içi firma')
        var field = $( "#inFirma" ).data('field');
        filter = filter.filter(f => f.field !== field);
        if (FirmaAdiValue) {
            filter.push({ field: field, type: 'like', value: FirmaAdiValue});
            console.log('if2 içi firma')
        }
      };
      
      var profilNoValue = $( "#inProfilNo" ).val();
      if (profilNoValue.length > 0){
        var field = $( "#inProfilNo" ).data('field');
        filter = filter.filter(f => f.field !== field);
        if (profilNoValue) {
            filter.push({ field: field, type: '=', value: profilNoValue});
        }
      };
      
      var billetValue = $( "#inBillet" ).val();
      if (billetValue.length > 0){
        var field = $( "#inBillet" ).data('field');
        filter = filter.filter(f => f.field !== field);
        if (billetValue) {
            filter.push({ field: field, type: 'like', value: billetValue});
        }
      };
      
      var kondusValue = $( "#inKondus" ).val();
      if (kondusValue.length > 0){
        var field = $( "#inKondus" ).data('field');
        filter = filter.filter(f => f.field !== field);
        if (kondusValue) {
            filter.push({ field: field, type: 'like', value: kondusValue});
        }
      };
      $('#searchModal').modal('hide');

      loadPage(currentPage);

      /* const field = $(this).data('field');
      const value = $(this).val(); */

      /* filter = filter.filter(f => f.field !== field);

      if (value) {
          filter.push({ field: field, type: 'like', value: value});
      }
      if (value) {
            filter.push({ field: field, type: '=', value: value});
        } DATE

        // Add new filter for the field based on the selected value
        if (value === "degil") {
            filter.push({ field: field, type: '=', value: 'degil' });
        } else if (value === "BLOKE") {
            filter.push({ field: field, type: '=', value: 'BLOKE' });
        } else if (value === "hepsi") {
            filter.push({ field: field, type: '=', value: 'hepsi' });
        }


      loadPage(currentPage); */

    });

    btnTemiz = document.getElementById('btnTemizle');
    btnTemiz.addEventListener('click', () => {
      filter = [];
      $( "#inKartNo, #inPresK, #inFirma, #inProfilNo, #inBillet, #inKondus, #range_1, #range_2, #range_3, #terminDate" ).val("");
    });

    const tableBody = $('#tableBody');
    let itemsPerPage = 5;  // Başlangıçta varsayılan değer
    let filter = [];
    const renderData = (data) => {
      tableBody.empty();  // Önceki verileri temizle
      data.forEach(item => {
        let topten = parseFloat(item.TopTenKg).toFixed(2)
        // Verileri render et...
        let SiparisTamamSymbol = ""
        if (item.SiparisTamam == 'BLOKE'){ SiparisTamamSymbol = '✗'}else { SiparisTamamSymbol ='✓'} ;
        const row = $('<tr class="main-row"></tr>').html(`
        <td>${SiparisTamamSymbol}</td>
        <td>${item.KartNo}</td>
        <td>${item.FirmaAdi}</td>
        <td>${item.ProfilNo}</td>
        <td>${item.PresKodu}</td>
        <td>${item.BilletTuru}</td>
        <td>${item.GirenKg}</td>
        <td style="color: #1F6E8C;font-weight:bold;">${item.Kg}</td>
        <td>${item.KondusyonTuru}</td>
        <td>${item.SonTermin}</td>
        <td>${topten}</td>
        <td>${item.kalipSayisi || "-"}</td>
        `);

        tableBody.append(row);
      });
    };

    const loadPage = (page) => {
        const params = {
            page: page,
            size: itemsPerPage,
            filter: filter
        };
      $.ajax({
        url: `/siparis/list`,
        method: 'GET',
        data: { params: JSON.stringify(params)},
        dataType: 'json',
        success: function (paginatedData) {
          renderData(paginatedData.data);
          console.log(paginatedData.data);
          renderPagination(paginatedData.last_page);
        },
        error: function (error) {
          console.error('Error loading paginated data:', error);
        }
      });
    };
    

    const renderPagination = (totalPages) => {
      const paginationUl = $('.pagination');
      paginationUl.empty();  // Önceki pagination'ı temizle

      const prevButton = `
      <li class="page-item prev ${currentPage === 1 ? 'disabled' : ''}">
            <a class="page-link" href="#" aria-label="Previous" style="color: #96B6C5;">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
      `;
      
      const nextButton = `
      <li class="page-item next ${currentPage === totalPages ? 'disabled' : ''}">
            <a class="page-link" href="#" aria-label="Next" style="color: #96B6C5;">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
      `;

      paginationUl.append(prevButton);

      const visiblePages = calculateVisiblePages(totalPages);

      for (let i = 1; i <= totalPages; i++) {
        if (i === 1 || i === totalPages || visiblePages.includes(i)) {
          const liClass = i === currentPage ? 'page-item active' : 'page-item';
          const li = `<li class="${liClass}"><a class="page-link" href="#" style="color: #96B6C5;">${i}</a></li>`;
          paginationUl.append(li);
        } else if (i === visiblePages[0] - 1 || i === visiblePages[visiblePages.length - 1] + 1) {
          paginationUl.append(`
            <li class="page-item disabled">
              <span class="page-link" style="color: #96B6C5;">...</span>
            </li>
          `);
        }
      }

      paginationUl.append(nextButton);

      paginationUl.find('.page-link').on('click', function (e) {
        const parentLi = $(this).closest('.page-item');

        if (parentLi.hasClass('disabled')) {
          return;
        }

        if (parentLi.hasClass('prev')) {
          currentPage = Math.max(1, currentPage - 1);
        } else if (parentLi.hasClass('next')) {
          currentPage = Math.min(totalPages, currentPage + 1);
        } else {
          currentPage = parseInt($(this).text());
        }

        loadPage(currentPage);
      });
    };

    const calculateVisiblePages = (totalPages) => {
      const visiblePages = [];
      const maxVisiblePages = 20; // You can adjust this value

      const middlePage = Math.floor(maxVisiblePages / 2);
      const lowerBound = Math.max(1, currentPage - middlePage);
      const upperBound = Math.min(totalPages, lowerBound + maxVisiblePages - 1);

      for (let i = lowerBound; i <= upperBound; i++) {
        visiblePages.push(i);
      }

      return visiblePages;
    };

    
    $('.filter-dropdown').on('change', function(){
        const field = $(this).data('field');
        const value = $(this).val();

        // Remove existing filter for the field if it exists
        filter = filter.filter(f => f.field !== field);

        // Add new filter for the field based on the selected value
        if (value === "degil") {
            filter.push({ field: field, type: '=', value: 'degil' });
        } else if (value === "BLOKE") {
            filter.push({ field: field, type: '=', value: 'BLOKE' });
        } else if (value === "hepsi") {
            filter.push({ field: field, type: '=', value: 'hepsi' });
        }

        // Reload the current page with the updated filter
        loadPage(currentPage);
        });

    $('.search-input').on('input', function(){
        const field = $(this).data('field');
        const value = $(this).val();

        filter = filter.filter(f => f.field !== field);

        if (value) {
            filter.push({ field: field, type: 'like', value: value});
        }

        loadPage(currentPage);
    });
    $('.search-date-input').on('input', function(){
        const field = $(this).data('field');
        const value = $(this).val();

        filter = filter.filter(f => f.field !== field);

        if (value) {
            filter.push({ field: field, type: '=', value: value});
        }

        loadPage(currentPage);
    });

    
    tableBody.on('click', '.main-row', function () {
      const profilNo = $(this).find('td:nth-child(4)').text();  // Assuming ProfilNo is in the 3rd column
      if (profilNo) {
        const mainTableRow = $(this);
        const accordionRow = mainTableRow.next('.akordeon');

        if (accordionRow.length) { 
            accordionRow.slideToggle();
            console.log(accordionRow);
        } else {
          // Load and render accordion table data
          loadAccordionTable(profilNo, mainTableRow);
        }
      }
    });

    const renderAccordionTable = (accordionData, mainTableRow) => {
        const accordionRow = $('<tr class="akordeon"><td colspan="12"><div class="container"><div class="row"><div class="col-md-12"><table class="table table-bordered"><thead><tr><th style="width: 6%;">Kalıp No</th><th style="width: 5%;">Üretici Firma</th><th style="width: 8%;">Tenifer Kalan Ömür Kg</th><th style="width: 8%;">Üretim Toplam Kg</th><th style="width: 5%;">Pres Kodu</th><th style="width: 3%;">Çapı</th><th style="width: 5%;">Son Pres Kodu</th><th style="width: 10%;">Konum</th></tr></thead><tbody id="accordionTableBody"></tbody></table></div></div></div></td></tr>');
        mainTableRow.after(accordionRow);
      const accordionTableBody = accordionRow.find('#accordionTableBody');
      accordionTableBody.empty();  // Clear existing accordion table data
      accordionData.forEach(item => {
        // Render accordion table row
        const row = $('<tr></tr>').html(`
            <td>${item.KalipNo || '-'}</td>
            <td>${item.UreticiFirma || '-'}</td>
            <td>${item.TeniferKalanOmurKg || '-'}</td>
            <td>${item.UretimToplamKg || '-'}</td>
            <td>${item.PresKodu || '-'}</td>
            <td>${item.Capi || '-'}</td>
            <td>${item.SonPresKodu || '-'}</td>
            <td>${item.Konum || '-'}</td>
          <!-- Add more columns as needed -->
        `);
        accordionTableBody.append(row);
      });
      //accordionRow.find('.container').slideToggle();
    };

    // Function to load accordion table data
    const loadAccordionTable = (profilNo, mainTableRow) => {
      $.ajax({
      url: `/siparis/child/${profilNo}`,
      method: 'GET',
      dataType: 'json',
      success: function (accordionData) {
          console.log(accordionData)
          renderAccordionTable(accordionData, mainTableRow);
      },
      error: function (error) {
          console.error('Error loading accordion table data:', error);
      }
      });
    };


    $('#perPageSelect').on('change', function () {
      itemsPerPage = parseInt($(this).val());
      currentPage = 1;  // Sayfa değiştiğinde ilk sayfaya geç
      loadPage(currentPage);
    });

    let currentPage = 1;
    loadPage(currentPage);  // İlk sayfa yüklendiğinde verileri ve pagination'ı getir

    function printTable(){
      var printWindow = window.open('', '_blank');
      var tableHtml = document.querySelector('.table').outerHTML;

      /* var styles = document.querySelectorAll('link[rel="stylesheet"], style');
 */
      printWindow.document.write('<html><head><title>Yazdır</title>');

      /* styles.forEach(function(style){
        printWindow.document.write(style.outerHTML);
      }) */

      printWindow.document.write('</head><body>')

      printWindow.document.write(tableHtml);
      printWindow.document.write('</body></html>');

      printWindow.document.close();
      printWindow.focus();
      printWindow.print();
      printWindow.close();
    };
  </script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'admin-lte/plugins/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
{% endblock %}
