{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" href="{% static 'ArslanTakipApp/icons.css' %}">
  <style>
    #filterPanelOverlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
        z-index: 999; /* Ensure it overlays other content */
    }

    #filterPanel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    #filterPanel input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    #applyFilter {
        display: block;
        width: 100%;
    }
  </style>

{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="card">
    <div class="card-header">
      <h3 class="card-title" style="font-weight: bold;">YENİ ÜRÜN DEVREYE ALMA FORMLARI</h3>
      <div class="card-tools">
          <a class="btn btn-tool" data-toggle="tooltip" title="Filtrele" id="filterButton">
            <i class="fas fa-filter"></i></button></a>
          <a class="btn btn-tool" data-toggle="tooltip" title="Ekle" href="yuda">
            <i class="fas fa-plus"></i></button>
          </a>
      </div>
      <div id="filterPanelOverlay">
        <div id="filterPanel">
            <!-- Filter options -->
            <input type="text" id="yudaNoFilter" class="form-control mb-2" placeholder="YudaNo">
            <input type="text" id="musteriFirmaFilter" class="form-control mb-2" placeholder="Müşteri Firma">
            <button id="applyFilter" class="btn btn-success">Filtre Uygula</button>
        </div>
    </div>
    </div>
    <div class="card-body">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        #
                    </th>
                    <th style="width: 15%">
                        YUDA NO
                    </th>
                    <th style="width: 20%;">
                        Müşteri Firma
                    </th>
                    <th style="width: 39%;">
                        Onay
                    </th>
                    <th style="width: 10%" class="text-center">
                        Durum
                    </th>
                    <th style="width: 15%">
                    </th>
                </tr>
            </thead>
            <tbody id="yudaTBody">

            </tbody>
        </table>
        <br>
        <div class="pagination-container">
            <div class="row ml-1">
            <select id="perPageSelect" class="form-control col-lg-1">
              <option value="7" selected>7</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="40">40</option>
              <option value="100">100</option>
              <option value="150">150</option>
              <option value="200">200</option>
              <!-- Diğer seçenekleri ekleyebilirsiniz -->
            </select>
            <ul class="pagination col-lg-11"></ul>
            </div>
          </div>
    </div>
</div>
</div>
{% endblock %}

{% block extra_js %} 
<script>
    let itemsPerPage = 7;  // Başlangıçta varsayılan değer
    let filterList = [];
    const tableBody = $('#yudaTBody');

  $(document).ready(function() {
    $('#filterButton').click(function() {
        $('#filterPanelOverlay').toggle();
    });

    $('#applyFilter').click(function() {
        const yudaNoFilter = $('#yudaNoFilter').val();
        const musteriFirmaFilter = $('#musteriFirmaFilter').val();

        if (yudaNoFilter != "") {filterList.push({ field: 'YudaNo', type:'like', value: yudaNoFilter });};
        if (musteriFirmaFilter != ""){filterList.push({ field: 'MusteriFirmaAdi', type:'has', value: musteriFirmaFilter });};
        
        loadPage(1);

        // Hide the filter panel after applying filter
        $('#filterPanelOverlay').hide();
    });
  });

    function getProjects(data){
        tableBody.empty();  // Önceki verileri temizle
        data.forEach(item => {
            const row = $('<tr></tr>').html(`
            <td>
                #
            </td>
            <td>
                <a href="yudaDetail/${item.id}" style="color: black">
                    ${item.YudaNo}
                </a>
                <br/>
                <small>
                    ${item.Tarih} tarihinde oluşturuldu
                </small>
            </td>
            <td>
                <a>${item.MusteriFirmaAdi}</a>
            </td>
            <td class="project_progress">
                <span class="badge badge-success">Kalıphane</span>
                <span class="badge badge-success">Pres</span>
                <span class="badge badge-success">Kalite</span>
                <span class="badge badge-success">Planlama</span>
                <span class="badge badge-success">Yönetim</span>
                <span class="badge badge-success">Paketleme</span>
                <span class="badge badge-success">Success</span>
                <span class="badge badge-success">Success</span>
            </td>
            <td class="project-state">
                <span class="badge badge-success">Success</span>
            </td>
            <td class="project-actions text-right">
                <a class="btn btn-primary btn-sm" href="yudaDetail/${item.id}">
                    <i class="fas fa-eye">
                    </i>
                </a>
                <a class="btn btn-info btn-sm" href="yudaEdit/${item.id}">
                    <i class="fas fa-pencil-alt">
                    </i>
                </a>
                <a class="btn btn-info btn-sm" href="yudaDelete/${item.id}">
                    <i class="fas fa-trash">
                    </i>
                </a>
            </td>
            `);
            tableBody.append(row);
        });
    };

    const renderPagination = (totalPages) => {
      const paginationUl = $('.pagination');
      paginationUl.empty();  // Önceki pagination'ı temizle

      const prevButton = `
      <li class="page-item prev ${currentPage === 1 ? 'disabled' : ''}">
            <a class="page-link" href="#" aria-label="Previous" style="color: #96B6C5;">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
      `;
      
      const nextButton = `
      <li class="page-item next ${currentPage === totalPages ? 'disabled' : ''}">
            <a class="page-link" href="#" aria-label="Next" style="color: #96B6C5;">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
      `;

      paginationUl.append(prevButton);

      const visiblePages = calculateVisiblePages(totalPages);

      for (let i = 1; i <= totalPages; i++) {
        if (i === 1 || i === totalPages || visiblePages.includes(i)) {
          const liClass = i === currentPage ? 'page-item active' : 'page-item';
          const li = `<li class="${liClass}"><a class="page-link" href="#" style="color: #96B6C5;">${i}</a></li>`;
          paginationUl.append(li);
        } else if (i === visiblePages[0] - 1 || i === visiblePages[visiblePages.length - 1] + 1) {
          paginationUl.append(`
            <li class="page-item disabled">
              <span class="page-link" style="color: #96B6C5;">...</span>
            </li>
          `);
        }
      }

      paginationUl.append(nextButton);

      paginationUl.find('.page-link').on('click', function (e) {
        const parentLi = $(this).closest('.page-item');

        if (parentLi.hasClass('disabled')) {
          return;
        }

        if (parentLi.hasClass('prev')) {
          currentPage = Math.max(1, currentPage - 1);
        } else if (parentLi.hasClass('next')) {
          currentPage = Math.min(totalPages, currentPage + 1);
        } else {
          currentPage = parseInt($(this).text());
        }

        loadPage(currentPage);
      });
    };

    const calculateVisiblePages = (totalPages) => {
      const visiblePages = [];
      const maxVisiblePages = 20; // You can adjust this value

      const middlePage = Math.floor(maxVisiblePages / 2);
      const lowerBound = Math.max(1, currentPage - middlePage);
      const upperBound = Math.min(totalPages, lowerBound + maxVisiblePages - 1);

      for (let i = lowerBound; i <= upperBound; i++) {
        visiblePages.push(i);
      }

      return visiblePages;
    };

    const loadPage = (page) => {
        const params = {
          page: page,
          size: itemsPerPage,
          filter: filterList,
        };
        $.ajax({
            url: `yudas/list`,
            method: 'GET',
            data: { params: JSON.stringify(params)},
            dataType: 'json',
            success: function (paginatedData) {
                getProjects(paginatedData.data);
                renderPagination(paginatedData.last_page);

            },
            error: function (error) {
                console.error('Error loading paginated data:', error);
            }
        });
    };

    $('#perPageSelect').on('change', function () {
      itemsPerPage = parseInt($(this).val());
      currentPage = 1;  // Sayfa değiştiğinde ilk sayfaya geç
      loadPage(currentPage);
    });

    let currentPage = 1;
    loadPage(currentPage);  // İlk sayfa yüklendiğinde verileri ve pagination'ı getir
  
</script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}

{% endblock %}