{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'tabulator/dist/css/tabulator_bootstrap5.min.css' %}">
<!-- daterange picker -->
<link rel="stylesheet" href="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.css' %} ">
<link rel="stylesheet" href="{% static 'ArslanTakipApp/raltohex-background.min.css' %}">
<link rel="stylesheet" href="{% static 'ArslanTakipApp/raltohex-color.css' %}">
<link rel="stylesheet" href="{% static 'admin-lte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">
<link rel="stylesheet" href="{% static 'admin-lte/plugins/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'node_modules/file-icon-vectors/dist/file-icon-vectors.min.css' %}">
  {% include 'ArslanTakipApp/yudaBaseStyles.html' %}
  <style>
    
  </style>
{% endblock %}
{% block content %}

{% include 'ArslanTakipApp/yudaBase.html' %}

{% endblock %}

{% block extra_js %}

{% include 'ArslanTakipApp/yudaBaseScript.html' %}
<script>
  var yudaData = JSON.parse('{{ yuda_json|escapejs }}');
  var fileData = JSON.parse('{{ files_json|escapejs }}');

  oldFiles = fileData;
  UploadedFiles();
  /* ilk açıldığında yudaData ve fileData gereken yerleri dolduracak. Kaydet butonu yine aynı şekilde mi yapmalıyım */

  function loadPage() {
    const tabulators = {
        AlasimKondusyon: { tabulator: alasimTab, dataElement: '#alasimTabData' },
        YuzeyPres: { tabulator: yuzeyPresTabulator, dataElement: '#yPresTabData' },
        YuzeyEloksal: { tabulator: eloksalTabulator, dataElement: '#yEloksalTabData' },
        YuzeyBoya: { tabulator: yuzeyBoyaTabulator, dataElement: '#yBoyaTabData' },
        YuzeyAhsap: { tabulator: ahsapKaplamaTabulator, dataElement: '#yAhsapTabData' }
    };

    yudaData.forEach(y => {
        let formElements = document.getElementById("yudaForm").querySelectorAll(".kaydet");

        for (let i = 0; i < formElements.length; i++) {
            const fieldName = formElements[i].name;
            const fieldValue = y[fieldName];

            if (fieldValue != "" && fieldValue != null) {
                if (tabulators[fieldName]) {
                    const { tabulator, dataElement } = tabulators[fieldName];
                    tabulator.setData(fieldValue);
                    $(dataElement).val(JSON.stringify(tabulator.getData()));
                } else {
                    if (formElements[i].type == "radio") {
                        // Uncheck all radios in the group first
                        document.querySelectorAll(`input[name='${fieldName}']`).forEach(radio => {
                            radio.checked = false;
                        });
                        // Check the radio with the matching value
                        const matchingRadio = document.querySelector(`input[name='${fieldName}'][value='${fieldValue}']`);
                        if (matchingRadio) {
                            matchingRadio.checked = true;
                        }
                    }
                    else if (formElements[i].type == "checkbox") {
                        if (fieldValue === "Var" || fieldValue === "Temiz Kesim") {
                            formElements[i].checked = true;
                            if (fieldName == "MetreAgirlikTalebi") {
                                
                                $("#metreCheckbox").attr("checked", "checked");
                                $('#minMAT, #maxMAT').show();
                                $('#minMAT, #maxMAT').prop('required', true);
                                changeFunction();
                            }
                        } else {
                            formElements[i].checked = false;
                        } 
                    }
                    else {
                        formElements[i].value = fieldValue;
                    }
                }
                checkNull();
            }
        }

        $('#birlikteCalisan').val(y.BirlikteCalisan);
        $('#birlikteCalisan').trigger('change.select2');

        if (y['AlasimKondusyon'] != "") {
            $('#alasimTabData').prop('required', true);
            $('#AlasimKondusyonEkle').removeClass('btn-outline-danger');
            $('#AlasimKondusyonEkle').addClass('btn-outline-primary');
        }
    
        changeFunction();
    });


    };

  loadPage();
  document.querySelector("#yudaKaydet").addEventListener('click', function(){
    this.disabled = true;
    var formData = new FormData();
    formData.append("csrfmiddlewaretoken", "{{csrf_token}}");

    selectedFiles.forEach(function(file) {
        formData.append('files[]', file);
    });

    let formElements = document.getElementById("yudaForm").querySelectorAll(".kaydet");
    var values = {};
    
    for(let i = 0; i < formElements.length; i++) {
        if (formElements[i].type == "radio") {
            if($('#'+formElements[i].id).is(':checked')){
                values[formElements[i].name] = formElements[i].value;
                formData.append([formElements[i].name], formElements[i].value);
            }
        }
        else if (formElements[i].type == "checkbox" ) {
            if ($('#'+formElements[i].id).is(':checked')){
                if (formElements[i].name == "MetreAgirlikTalebi"){
                    values[formElements[i].name] = "Var";
                    formData.append([formElements[i].name], "Var");
                }
                else {
                    values[formElements[i].name] = "Temiz Kesim";
                    formData.append([formElements[i].name], "Temiz Kesim");
                };
            }
            else {
                if (formElements[i].name == "MetreAgirlikTalebi"){
                    values[formElements[i].name] = "Yok";
                    formData.append([formElements[i].name], "Yok");
                }
                else {
                    values[formElements[i].name] = "Temiz Kesim Değil";
                    formData.append([formElements[i].name], "Temiz Kesim Değil");
                };
            }
        }
        else if (formElements[i].type == "select-multiple"){
            let results = [];
            let opt;
            for (let j=0; j< formElements[i].options.length; j++){
                opt = formElements[i].options[j]
                if(opt.selected){results.push(opt.value);}
            };
            values[formElements[i].name] = results;
            formData.append([formElements[i].name], results);
        }
        else{
            values[formElements[i].name] = formElements[i].value;
            formData.append([formElements[i].name], formElements[i].value);
        }
    };


        $.ajax({
          url: '/yudakaydet',
          type: 'POST',
          data: formData,
          contentType: false,
          processData: false,
          success: function(response) {
                alert('Dosyalar başarıyla yüklendi! '+response.message);
                window.location.href = '/yudaDetail/' + response.id;
          },
          error: function(response) {
              alert('İşlem başarısız oldu. '+response.responseJSON.error);
          }
        });

    });

</script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'tabulator/dist/js/tabulator.js' %} "></script>
<script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'admin-lte/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/select2/js/select2.full.min.js' %}"></script>

{% endblock %}