{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'tabulator/dist/css/tabulator_bootstrap5.min.css' %}">
  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.css' %} ">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/select2/css/select2.min.css' %} ">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %} ">

  <style>
    .input-color {
        position: relative;
    }
    .input-color input {
        padding-left: 20px;
    }
    .input-color .color-box {
        width: 30px;
        height: 30px;
        display: inline-block;
        background-color: #ccc;
        position: absolute;
        left: 5px;
        top: 5px;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header d-flex p-0">
            <h3 class="card-title p-3">YENİ ÜRÜN DEVREYE ALMA FORMU</h3>
            <ul class="nav nav-pills ml-auto p-2">
              <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Sipariş</a></li>
              <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Alaşım ve Kondüsyon</a></li>
              <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Tolerans</a></li>
              <li class="nav-item"><a class="nav-link" href="#tab_4" data-toggle="tab">Profil</a></li>
              <li class="nav-item"><a class="nav-link" href="#tab_5" data-toggle="tab">Yüzey</a></li>
              <li class="nav-item"><a class="nav-link" href="#tab_6" data-toggle="tab">Talaşlı İmalat</a></li>
              <li class="nav-item"><a class="nav-link" href="#tab_7" data-toggle="tab">Paketleme</a></li>
            </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="card">
                        <div class="card-header">Sipariş Detayları</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                  <div class="info-box bg-light">
                                    <div class="info-box-content">
                                      <span class="info-box-text text-center text-bold">MÜŞTERİ FİRMA ADI</span>
                                      <input type="text" name="musteriFirmaAdi" id="musteriFirmaAdi" class="form-control mt-2">
                                      <!-- <span class="info-box-number text-center text-muted mb-0">var-yok</span> -->
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                  <div class="info-box bg-light">
                                    <div class="info-box-content">
                                      <span class="info-box-text text-center text-bold">SON KULLANICI FİRMA</span>
                                      <input type="text" name="sonKullaniciFirma" id="sonKullaniciFirma" class="form-control mt-2">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                  <div class="info-box bg-light">
                                    <div class="info-box-content">
                                      <span class="info-box-text text-center text-bold">PROFİLİN KULLANILDIĞI YER (KALIP DURUMU)</span>
                                      <input type="text" name="KalipDurumu" id="KalipDurumu" class="form-control mt-2">
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                  <div class="info-box bg-light">
                                    <div class="info-box-content">
                                      <span class="info-box-text text-center text-bold">MÜŞTERİ ÇİZİM NO</span>
                                      <input type="text" name="CizimNo" id="CizimNo" class="form-control mt-2">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                  <div class="info-box bg-light">
                                    <div class="info-box-content">
                                      <span class="info-box-text text-center text-bold">YILLIK PROFİL SİPARİŞİ</span>
                                      <input type="text" name="YillikProfilSiparisi" id="YillikProfilSiparisi" class="form-control mt-2">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                  <div class="info-box bg-light">
                                    <div class="info-box-content">
                                      <span class="info-box-text text-center text-bold">MÜŞTERİ ÖDEME VADESİ</span>
                                      <input type="text" name="MusteriOdemeVadesi" id="MusteriOdemeVadesi" class="form-control mt-2">
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_2">
                    <div class="card">
                        <div class="card-header">Alaşım ve Kondüsyon Detayları</div>
                        <div class="card-body">
                            <div class="row" id="alasimKondusyonRow">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                    <select name="alasimSelect" class="form-control" id="alasimSelect" onchange="selectFunction(this.value, 'kondusyonSelect', 'Alaşım', 'Diğer')">
                                        <option value="Alaşım" id="alasimSelected" selected disabled>Alaşım </option>
                                        <!-- {% for al in alasim_json %}
                                            <option value='{{al.id}}'>{{ al.Isim }}</option>
                                        {% endfor %} -->
                                    </select>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                    <select name="kondusyonSelect" class="form-control" id="kondusyonSelect" onchange="selectFunction(this.value, '', 'Kondüsyon', 'Diğer')">
                                        <option value="Kondüsyon" id="kondusyonSelected" selected disabled>Kondüsyon </option>
                                        
                                    </select>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                    <button type="button" id="AlasimKondusyonEkle" class="btn btn-outline-info" >Ekle</button>
                                    </div>
                                </div>
                                <div class="col-lg-2" id="AlaşımDiv" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="AlaşımDiger" placeholder="Alaşım" id="AlaşımDiger" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-2" id="KondüsyonDiv" style="display: none;">
                                    <div class="form-group">
                                        <input type="text" name="KondüsyonDiger" placeholder="Kondüsyon" id="KondüsyonDiger" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <div id="alasimTabulator"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_3">
                    <div class="card">
                        <div class="card-header">Tolerans Detayları</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-bold">DIN TOLERANS</span>
                                        <input type="text" name="musteriFirmaAdi" id="musteriFirmaAdi" class="form-control mt-2">
                                        <!-- <span class="info-box-number text-center text-muted mb-0">var-yok</span> -->
                                    </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-bold">BİRLİKTE ÇALIŞAN APARATI VAR MI</span>
                                        <input type="text" name="sonKullaniciFirma" id="sonKullaniciFirma" class="form-control mt-2">
                                    </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-bold">ÖNEMLİ ÖLÇÜLER VE TOLERANSLAR</span>
                                        <input type="text" name="sonKullaniciFirma" id="sonKullaniciFirma" class="form-control mt-2">
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_4">
                    <div class="card">
                        <div class="card-header">Profil Detayları</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-bold">İstenilen Boy</span>
                                            <input type="text" name="istenilenBoy" class="form-control" id="istenilenBoy">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                            <span class="info-box-text text-center text-bold">Minimum Kullanım Boyu</span>
                                            <input type="text" name="MinKullanimBoyu" class="form-control" id="MinKullanimBoyu">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <div class="row">
                                            <span class="info-box-text text-center text-bold">Metre Ağırlık Talebi</span>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="mat1" value="Var">
                                                <label class="form-check-label" for="inlineRadio1">VAR</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="mat2" value="Yok">
                                                <label class="form-check-label" for="inlineRadio2">YOK</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <input type="text" name="minMAT" id="MAT" class="form-control">
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <input type="text" name="maxMAT" id="maxMAT" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="info-box bg-light">
                                        <div class="info-box-content">
                                           <div id="profilTabulator"></div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_5">
                    <div class="card">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">Yüzey Detayları</h3>
                            <ul class="nav nav-pills ml-auto p-2">
                                <li class="nav-item"><a class="nav-link active" href="#ytab_1" data-toggle="tab">Eloksal</a></li>
                                <li class="nav-item"><a class="nav-link" href="#ytab_2" data-toggle="tab">Boya</a></li>
                                <li class="nav-item"><a class="nav-link" href="#ytab_3" data-toggle="tab">Ahşap Kaplama</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane" id="ytab_1">
                                        <div id="eloksalTab">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                    <select name="matlastirmaSelect" class="form-control" id="matlastirmaSelect" onchange="selectFunction(this.value, 'eloksalRenkSelect', 'Matlaştırma', '')">
                                                        <option value="Matlaştırma" id="matlastirmaSelected" selected disabled>Matlaştırma </option>
                                                        
                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                    <select name="eloksalRenkSelect" class="form-control" id="eloksalRenkSelect">
                                                        <option value="Renk" id="eloksalRenkSelected" selected disabled>Renk </option>
                                                        
                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                    <select name="kaplamaKalinlikSelect" class="form-control" id="eloksalKaplamaKalinligiSelect" onchange="selectFunction(this.value, '', 'Kaplama Kalınlığı', 'Diğer')">
                                                        <option value="Kaplama Kalınlığı" id="kaplamaKalinlikSelected" selected disabled>Kaplama Kalınlığı </option>
                                                        
                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group">
                                                    <button type="button" id="YuzeyEloksalEkle" class="btn btn-outline-info" >Ekle</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="info-box">
                                                        <div class="info-box-content">
                                                            <div id="eloksalTabulator"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="ytab_2">
                                        <div class="row" id="boyaTab">
                                            <div class="form-group">
                                                <div class="input-color">
                                                    <input type="text" id="colorinput" class="form-control">
                                                    <div class="row">
                                                        <div class="color-box" id="ralColorBox"></div>
                                                    </div>
                                                    <label for="ral">RAL</label>
                                                </div>
<!--                                                 <label  style="white-space: nowrap;">RAL :<input type="text" name="RAL" id="RAL" class="form-control"></label>
 -->                                                
                                            </div>
                                            <div class="form-group">
                                                <select name="turSelect" id="turSelect" class="form-control">
                                                    <option value="Tür" id="turSelected" selected disabled>Tür </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="ytab_3">
                                        <div id="ahsapTab">
                                            <div class="row">
                                                <div class="col-lg-6 form-group">
                                                    <select name="ahsapKaplamaSelect" id="ahsapKaplamaSelect" class="form-control">
                                                        <option value="Ahşap Kaplama" id="ahsapKaplamaSelected" selected disabled>Ahşap Kaplama</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-2 form-group">
                                                    <button type="button" id="ahsapKaplamaEkle" class="btn btn-outline-info">Ekle</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 info-box">
                                                    <div class="info-box-content">
                                                        <div id="ahsapKaplamaTabulator"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_6">
                    <div class="card">
                        <div class="card-header">Talaşlı İmalat Detayları</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-bold">VAR</span>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-bold">YOK</span>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-bold">MÜŞTERİ YAPACAK</span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-bold">AÇIKLAMA</span>
                                        <input type="text" name="talasliImalatAciklama" id="talasliImalatAciklama" class="form-control mt-2">
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_7">
                    <div class="card">
                        <div class="card-header">Paketleme Detayları</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-bold">STANDART PALET</span>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-bold">İHRACAT PALET</span>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-bold">ÖZEL PAKETLEME</span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-bold">AÇIKLAMA</span>
                                        <input type="text" name="talasliImalatAciklama" id="talasliImalatAciklama" class="form-control mt-2">
                                    </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>

    var deleteIcon = function(cell, formatterParams, onRendered){ 
        return "<i class='fa fa-trash'></i>";
    };

    var profilTab = new Tabulator("#profilTabulator", {
        layout:"fitColumns",
        placeholder:"Profil Detayları",
        popupContainer:true,
        movableRows:true,
        columns:[
            {rowHandle:true, formatter:"handle", title:"", headerSort:false, frozen:true, width:40, minWidth:40},
            {title:"İstenilen Standart Boy", field:"IstenilenStandartBoy"},
            {title:"Minimum Kullanım Boyu", field:"MinKullanimBoyu"},
            {title:"Min-Max Metre Ağırlık Talebi", field:"MetreAgirlikTalebiMiktar", visible:false},
            {formatter:deleteIcon, width:40, hozAlign:"center", headerSort:false ,cellClick: function (e, cell) {
                cell.getRow().delete();
            }},
        ],
    });

    var alasimTab = new Tabulator("#alasimTabulator", {
        layout:"fitColumns",
        data:[],
        movableRows:true,
        placeholder:"1. Tercih üstte olacak şekilde sıralayınız",
        columns:[
            {rowHandle:true, formatter:"handle", headerSort:false, frozen:true, width:30, minWidth:30},
            {title:"Alaşım", field:"Alasim"},
            {title:"Kondüsyon", field:"Kondusyon"},
            {title:"AlaşımID", field:"AlasimID", visible:false},
            {title:"KondüsyonID", field:"KondusyonID", visible:false},
            {formatter:deleteIcon, width:40, hozAlign:"center", headerSort:false ,cellClick: function (e, cell) {
                let data = cell.getData();
                cell.getRow().delete();}
            }
        ],
    });

    var eloksalTabulator = new Tabulator("#eloksalTabulator", {
        layout:"fitColumns",
        data:[],
        movableRows:true,
        placeholder:"1. Tercih üstte olacak şekilde sıralayınız",
        columns:[
            {rowHandle:true, formatter:"handle", headerSort:false, frozen:true, width:30, minWidth:30},
            {title:"Matlaştırma", field:"Matlastirma"},
            {title:"Renk", field:"Renk"},
            {title:"Kaplama Kalınlığı", field:"KaplamaKalinligi"},
            {formatter:deleteIcon, width:40, hozAlign:"center", headerSort:false, cellClick:function (e, cell) {
                let data = cell.getData();
                cell.getRow().delete();
            }}
        ]
    });

    var ahsapKaplamaTabulator = new Tabulator("#ahsapKaplamaTabulator", {
        layout:"fitColumns",
        data:[],
        movableRows:true,
        placeholder:"1. Tercih üste olacak şekilde sıralayınız",
        columns:[
            {rowHandle:true, formatter:"handle", headerSort:false, frozen:true, width:30, minWidth:30},
            {title:"Ahşap Kaplama", field:"ahsapKaplama"},
            {formatter:deleteIcon, width:40, hozAlign:"center", headerSort:false, cellClick:function (e, cell) {
                let data = cell.getData();
                cell.getRow().delete();
            }}
        ]
    });


    function selectFunction(objId, target, title, diger) {
        if (objId == 0){
            if(target != ""){
                selectFunction(target, target, title, "Diğer");
            }
                $('#'+ title+'Div').show();
        }else{
            if ($('#'+ title+'Div').is(':visible')){
                $('#'+ title+'Diger').val("");
                $('#'+ title+'Div').hide();
            }
            if(target != "") {
                    $.ajax({
                    url: `/yuda/${objId}`,
                    method: 'GET',
                    dataType: 'json',
                    success: function (Data) {
                        $('#'+target+'ed').nextAll().remove();
                        
                        $.each(Data, function(key, value) {
                            $('#'+target+'').append('<option value=' + value.id + '>' + value.Isim + '</option>');
                        });
                        if(diger){
                            $('#'+target+'').append('<option value="0">'+ diger +'</option>')
                        }
                    },
                    error: function (error) {
                        console.error('Error loading select data:', error);
                    }
                });
            }
        }
    };

    selectFunction(1, "alasimSelect", "Alaşım", "Diğer");
    selectFunction(20, "matlastirmaSelect", "Matlaştırma", "");
    selectFunction(59,"eloksalKaplamaKalinligiSelect", "Kaplama Kalınlığı", "");
    selectFunction(67, "turSelect", "Tür", "");
    selectFunction(73, "ahsapKaplamaSelect", "Ahşap Kaplama", "Diğer");
    /* açıldığında yüklenmesini istediğimiz selectleri yazmayı unutma */
    /* bütün selectler için arraya alıp for yap */
    /* ekleye tıklatınca tabulatore eklesin inputlardakileri de veritabanına kaydet*/

    document.getElementById("AlasimKondusyonEkle").addEventListener("click", function(){
        /* AlaşımDiger ve KondüsyonDigeri arraye alıp for döndürüp tek if else ile yapılabilir */
        let alasimID, kondusyonID, alasim, kondusyon = "";
        if (document.getElementById("AlaşımDiger").value == "") {
            alasimID = $('#alasimSelect').val();
            alasim = $('#alasimSelect option:selected').text();
        }
        else {
            alasim =$('#AlaşımDiger').val();
        }
        if(document.getElementById("KondüsyonDiger").value == ""){
            kondusyonID = $('#kondusyonSelect').val();
            kondusyon = $('#kondusyonSelect option:selected').text();
        }
        else if(document.getElementById("kondusyonSelect") == ""){
            console.log("diğer");
            kondusyon = $('#KondüsyonDiger').val();
        }
        alasimTab.addData({AlasimID:alasimID, KondusyonID:kondusyonID, Alasim:alasim, Kondusyon:kondusyon});
    });

    document.getElementById("YuzeyEloksalEkle").addEventListener("click", function(){
        let matlastirma, renk, kalinlik = "";

    });

</script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'tabulator/dist/js/tabulator.js' %} "></script>
<!-- Select2 -->
<script src="{% static 'admin-lte/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
{% endblock %}
