{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.css' %} ">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/select2/css/select2.min.css' %} ">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %} ">

{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">YENİ ÜRÜN DEVREYE ALMA FORMU</h5>
    </div>
    <form action="" method="post" id="yudaForm">
      {% csrf_token %}
    <div class="card-body" style="display: block;">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="istekYapanBolum">İSTEK YAPAN BÖLÜM</label>
            <input type="text" name="istekYapanBolum" id="istekYapanBolum" class="form-control">
          </div>
          <div class="form-group">
            <label for="istekYapanKisi">İSTEK YAPAN KİŞİ</label>
            <input type="text" name="istekYapanKisi" id="istekYapanKisi" class="form-control">
          </div>
          <div class="form-group">
            <label for="onemliYuzeyler">ÖNEMLİ YÜZEYLER (GÖRÜNEN YÜZEYLER)</label>
            <select name="onemliYuzeyler" id="onemliYuzeyler" class="form-control custom-select">
              <option value="" disabled selected>Lütfen seçim yapınız</option>
              <option value="var">VAR</option>
              <option value="yok">YOK</option>
            </select>
          </div>
          <div class="form-group">
            <label for="onemliOlculerVeToleranslar">ÖNEMLİ ÖLÇÜLER VE TOLERANSLAR</label>
            <input type="text" name="onemliOlculerVeToleranslar" id="onemliOlculerVeToleranslar" class="form-control">
          </div>
          <div class="form-group">
            <label for="cizimNo">ÇİZİM NO</label>
            <input type="text" name="cizimNo" id="cizimNo" class="form-control">
          </div>
          <div class="form-group">
            <label for="yillikProfilSiparisi">YILLIK PROFİL SİPARİŞİ</label>
            <input type="text" name="yillikProfilSiparisi" id="yillikProfilSiparisi" class="form-control">
          </div>
          <div class="form-group">
            <label for="istenilenStandartBoy">İSTENİLEN STANDART BOY</label>
            <input type="text" name="istenilenStandartBoy" id="istenilenStandartBoy" class="form-control">
          </div>
          <div class="form-group">
            <label for="minKullanimBoyu">MİN. KULLANIM BOYU</label>
            <input type="text" name="minKullanimBoyu" id="minKullanimBoyu" class="form-control">
          </div>
          <div class="form-group">
            <label for="musteriOdemeVadesi">MÜŞTERİ ÖDEME VADESİ</label>
            <input type="text" name="musteriOdemeVadesi" id="musteriOdemeVadesi" class="form-control">
          </div>
          <div class="form-group">
            <label for="talasliImalat">TALAŞLI İMALAT</label>
            <select name="talasliImalat" id="talasliImalat" class="form-control custom-select" onchange="talasFunction(this)">
              <option value="" disabled selected>Lütfen seçim yapınız</option>
              <option value="var">VAR</option>
              <option value="yok">YOK</option>
              <option value="belirtilmedi">BELİRTİLMEDİ</option>
            </select>
          </div>
          <div class="form-group" style="display: none;" id="talasliVar">
            <label for="talasliImalatBoyaYadaEloksaldan">TALAŞLI İMALAT BOYA YA DA ELOKSALDAN</label>
            <select name="talasliImalatBoyaYadaEloksaldan" id="talasliImalatBoyaYadaEloksaldan" class="select2bs4" multiple="multiple" data-placeholder="birden çok seçilebilir" style="width: 100%;">
              <option value="önce">ÖNCE</option>
              <option value="sonra">SONRA</option>
              <option value="belirtilmedi">BELİRTİLMEDİ</option>
            </select>
          </div>
          <div class="form-group">
            <label for="musteriYuzeyVeyaTalasliIslem">MÜŞTERİ YÜZEY VEYA TALAŞLI İŞLEM YAPIYOR MU?</label>
            <select name="musteriYuzeyVeyaTalasliIslem" id="musteriYuzeyVeyaTalasliIslem" class="select2bs4" multiple="multiple" data-placeholder="birden çok seçilebilir" style="width: 100%;">
              <option value="eloksal">ELOKSAL</option>
              <option value="boya">BOYA</option>
              <option value="mekanikIslem">MEKANİK İŞLEM</option>
              <option value="yapmıyor">YAPMIYOR</option>
              <option value="belirtilmedi">BELİRTİLMEDİ</option>
            </select>

          </div>
          <div class="form-group">
            <label for="birlikteCalisanAparati">BİRLİKTE ÇALŞAN APARATI</label>
            <select name="birlikteCalisanAparati" id="birlikteCalisanAparati" class="form-control custom-select">
              <option value="" disabled selected>Lütfen seçim yapınız</option>
              <option value="kendisiIleCalisir">KENDİSİ İLE ÇALIŞIR</option>
              <option value="var">VAR</option>
              <option value="yok">YOK</option>
            </select>
          </div>
          <div class="form-group">
            <label for="ozelPaketleme">ÖZEL PAKETLEME</label>
            <select name="ozelPaketleme" id="ozelPaketleme" class="form-control custom-select" onchange="ozelVarFunction(this)">
              <option value="" disabled selected>Lütfen seçim yapınız</option>
              <option value="var">VAR</option>
              <option value="yok">YOK</option>
            </select>
          </div>
          <div class="form-group" style="display: none;" id="ozelVar">
            <label for="ozelPaketAciklama">ÖZEL PAKET AÇIKLAMA</label>
            <input type="text" name="ozelPaketAciklama" id="ozelPaketAciklama" class="form-control">
          </div>

        </div>

        <div class="col-lg-6">
          <div class="form-group">
            <label for="musteriFirmaAdi">MÜŞTERİ FİRMA ADI</label>
            <input type="text" name="musteriFirmaAdi" id="musteriFirmaAdi" class="form-control">
          </div>
          <div class="form-group">
            <label for="sonKullaniciFirma">SON KULLANICI FİRMA</label>
            <input type="text" name="sonKullaniciFirma" id="sonKullaniciFirma" class="form-control">
          </div>
          <div class="form-group">
            <label for="kalipDurumu">PROFİLİN KULLANILDIĞI YER (KALIP DURUMU)</label>
            <input type="text" name="kalipDurumu" id="kalipDurumu" class="form-control">
          </div>
          <div class="form-group">
            <label for="billetCinsi">BİLLET CİNSİ</label>
            <select name="billetCinsi" id="billetCinsi" class="form-control custom-select" onchange="billetFunction(this)">
              <option value="" disabled selected>Lütfen seçim yapınız</option>
              <option value="6060">6060</option>
              <option value="6063">6063</option>
              <option value="6060-90">6060-90</option>
              <option value="6463">6463</option>
              <option value="6082">6082</option>
              <option value="6005">6005</option>
              <option value="6013">6013</option>
              <option value="6061">6061</option>
              <option value="6060-B">6060-B</option>
              <option value="6060-90B">6060-90B</option>
              <option value="6005-B">6005-B</option>
              <option value="6082-B">6082-B</option>
              <option value="DIGER">DİĞER</option>
            </select>
          </div>
          <div class="form-group" style="display: none;" id="billetVar">
            <label for="billetDiger">DİĞER</label>
            <input type="text" name="billetDiger" id="billetDiger" class="form-control">
          </div>
          <div class="form-group">
            <label for="kondusyon">KONDÜSYON</label>
            <select name="kondusyon" id="kondusyon" class="form-control custom-select" onchange="kondusyonFunction(this)">
              <option value="" disabled selected>Lütfen seçim yapınız</option>
              <option value="T5">T5</option>
              <option value="T6">T6</option>
              <option value="T66">T66</option>
              <option value="F18">F18</option>
              <option value="F22">F22</option>
              <option value="F25">F25</option>
              <option value="F31">F31</option>
              <option value="DIGER">DİĞER</option>
            </select>
          </div>
          <div class="form-group" style="display: none;" id="kondusyonVar">
            <label for="kondusyonDiger">DİĞER</label>
            <input type="text" name="kondusyonDiger" id="kondusyonDiger" class="form-control">
          </div>
          <div class="form-group">
            <label for="dinToleransi">DIN TOLERANSI</label>
            <select name="dinToleransi" id="dinToleransi" class="form-control custom-select" onchange="toleransFunction(this)">
              <option value="" disabled selected>Lütfen seçim yapınız</option>
              <option value="tsEn755">TS EN 755</option>
              <option value="tsEn12020">TS EN 12020</option>
              <option value="DIGER">DİĞER</option>
            </select>
          </div>
          <div class="form-group" style="display: none;" id="toleransVar">
            <label for="toleransDiger">DİĞER</label>
            <input type="text" name="toleransDiger" id="toleransDiger" class="form-control">
          </div>
          <div class="form-group">
            <label for="yuzeyDurumu">YÜZEY DURUMU</label>
            <select name="yuzeyDurumu" id="yuzeyDurumu" class="select2bs4" multiple="multiple" data-placeholder="birden çok seçilebilir" style="width: 100%;" onchange="yuzeyFunction()">
              <option value="sadecePres">SADECE PRES</option>
              <option value="eloksalli">ELOKSALLI</option>
              <option value="boyali">BOYALI</option>
            </select>
          </div>
          <div class="form-group">
            <label for="metreAgirlikTalebi">METRE AĞIRLIK TALEBİ</label>
            <select name="metreAgirlikTalebi" id="metreAgirlikTalebi" class="form-control custom-select" onchange="matFunction(this)">
              <option value="" disabled selected>Lütfen seçim yapınız</option>
              <option value="var">VAR</option>
              <option value="yok">YOK</option>
            </select>
          </div>
          <div class="form-group" style="display: none;" id="minMAT">
            <label for="minMATDeger">MİNİMUM DEĞER</label>
            <input type="text" name="minMATDeger" id="minMATDeger" class="form-control">
          </div>
          <div class="form-group" style="display: none;" id="maxMAT">
            <label for="maxMATDeger">MAXİMUM DEĞER</label>
            <input type="text" name="maxMATDeger" id="maxMATDeger" class="form-control">
          </div>
          <div class="form-group" style="display: none;" id="aski">
            <label for="askiIzi">ASKI İZİ</label>
            <select name="askiIzi" id="askiIzi" class="form-control custom-select">
              <option value="" disabled selected>Lütfen seçim yapınız</option>
              <option value="kesilecek">KESİLECEK</option>
              <option value="kesilmeyecek">KESİLMEYCEK</option>
              <option value="belirtilmedi">BELİRTİLMEDİ</option>
            </select>
          </div>
          <div class="form-group">
            <label for="folyo">FOLYO</label>
            <select name="folyo" id="folyo" class="form-control custom-select">
              <option value="" disabled selected>Lütfen seçim yapınız</option>
              <option value="var">VAR</option>
              <option value="yok">YOK</option>
            </select>
          </div>
          <div class="form-group">
            <label for="bariyerleme">BARİYERLEME</label>
            <select name="bariyerleme" id="bariyerleme" class="form-control custom-select">
              <option value="" disabled selected>Lütfen seçim yapınız</option>
              <option value="var">VAR</option>
              <option value="yok">YOK</option>
            </select>
          </div>

          
        </div>

      </div>
      <div class="row">
        <div class="form-group">
          <label for="exampleInputFile">File input</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="exampleInputFile">
              <label class="custom-file-label" for="exampleInputFile">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="">Upload</span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div id="actions" class="row">
        <div class="col-lg-6">
          <div class="btn-group w-100">
            <span class="btn btn-success colfileinput-button dz-clickable">
              <i class="fas fa-plus"></i>
              <span>Dosya Ekle</span>
            </span>
            <button type="submit" class="btn btn-primary col start">
              <i class="fas fa-upload"></i>
              <span>Yükle</span>
            </button>
            <button type="reset" class="btn btn-warning col cancel">
              <i class="fas fa-times-circle"></i>
              <span>İptal Et</span>
            </button>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div class="fileupload-process w-100">
            <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
              <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
            </div>
          </div>
        </div>
        <div id="previews" class="table table-striped files"></div>
      </div> -->
    </div>

    </form>
    <div class="card-footer">
      <button type="button" class="btn btn-primary" id="btnKaydet">Kaydet</button>
    </div>
  </div>
</div>

</div>
{% endblock %}

{% block extra_js %}
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
    
  });

  function talasFunction(selectObj) {
    let value = selectObj.value;
    if (value == 'var'){
      $('#talasliVar').show();
    }
    else {
      $('#talasliVar').hide();
      $('#talasliImalatBoyaYadaEloksaldan').val(null).trigger("change");
    }
  };

  function ozelVarFunction(selectObj) {
    let value = selectObj.value;
    if (value == 'var'){
      $('#ozelVar').show();
    }
    else {
      $('#ozelVar').hide();
      $('#ozelPaketAciklama').val(null).trigger("change");
    }
  };

  function billetFunction(selectObj) {
    let value = selectObj.value;
    if (value == 'DIGER'){
      $('#billetVar').show();
    }
    else {
      $('#billetVar').hide();
      $('#billetDiger').val(null).trigger("change");
    }
  };

  function kondusyonFunction(selectObj) {
    let value = selectObj.value;
    if (value == 'DIGER'){
      $('#kondusyonVar').show();
    }
    else {
      $('#kondusyonVar').hide();
      $('#kondusyonDiger').val(null).trigger("change");
    }
  };

  function toleransFunction(selectObj) {
    let value = selectObj.value;
    if (value == 'DIGER'){
      $('#toleransVar').show();
    }
    else {
      $('#toleransVar').hide();
      $('#toleransDiger').val(null).trigger("change");
    }
  };

  function matFunction(selectObj) {
    let value = selectObj.value;
    if (value == 'var'){
      $('#minMAT').show();
      $('#maxMAT').show();
    }
    else {
      $('#minMAT').hide();
      $('#maxMAT').hide();
      $('#minMATDeger').val(null).trigger("change");
      $('#maxMATDeger').val(null).trigger("change");
    }
  };

  function yuzeyFunction() {
    let value = $('#yuzeyDurumu').select2("val");
    if(value.includes('eloksalli')) {
      $('#aski').show();
    }
    else {
      $('#aski').hide();
      $('#askiIzi').val(null).trigger("change");
    }
  };
  
  document.getElementById("btnKaydet").addEventListener("click", function(){
    console.log($('#yudaForm').serialize());
    sendPost();
  });
  function sendPost() {
    $.ajax({
        url: '/yuda/ekle',
        type: 'post',
        data: $('#yudaForm').serialize(),
        success: function(){
            alert("Yeni Ürün Devreye Alma Formu Kaydedildi!");
        },
        error: function (error) {
          console.error('Error posting data:', error);
        }
    });
  };



</script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<!-- Select2 -->
<script src="{% static 'admin-lte/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
{% endblock %}
