{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.css' %} ">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/select2/css/select2.min.css' %} ">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %} ">
  <link rel="stylesheet" href="{% static 'node_modules/file-icon-vectors/dist/file-icon-vectors.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/summernote/summernote-bs4.css' %}">
  <style>
    .hide {
      display: none;
    }
    .custom-file-input ~ .custom-file-label::after {
        content: "Gözat";
    }
    .fiv-cla, .fiv-viv, .fiv-sqo { font-size: 3.5em; }
    .overflow {
        display: block;
        white-space: nowrap;
        width: 120px; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #onayChart {
      width: 50px;
      height: 50px;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1>Yeni Ürün Devreye Alma Formu</h1>
  <div class="card" id="yudaCard">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <div class="row">
        <!-- sipariş, alaşım kondüsyon, tolerans, yüzey (pres, eloksal, boya, ahşap arrayler), talaşlı imalat, paketleme -->
        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content" id="siparisDiv">
                  <span class="info-box-text text-center text-muted">SİPARİŞ</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted">ALAŞIM VE KONDÜSYON</span>
                  <span class="info-box-number text-center text-muted mb-0">Et kalınlığı 1 mm</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted">TOLERANSLAR</span>
                  <span class="info-box-number text-center text-muted mb-0">3 ton / ay<span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted">YÜZEY</span>
                  <span class="info-box-number text-center text-muted mb-0">var-yok-belirtilmedi</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted">TALAŞLI İMALAT</span>
                  <span class="info-box-number text-center text-muted mb-0">6063</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="info-box bg-light">
                <div class="info-box-content">
                  <span class="info-box-text text-center text-muted">PAKETLEME</span>
                  <span class="info-box-number text-center text-muted mb-0">T6<span>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <!-- dosyalar -->
        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
          <h3 class="text-primary"><i class="fa fa-file"></i> DOSYALAR</h3>
          <p class="text-muted">Yuda No ..-...-.. ile ilişkili dosyalar</p>
          <br>
          <h5 class="text-muted">Proje dosyaları</h5>
          <ul class="list-unstyled">
            <li>
              <a href="" class="btn-link text-secondary mr-1"><!-- <span class="fiv-cla fiv-icon-${fileType} border-right-0 rounded-left"></span> --><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a> <!-- dosya uzantılarına göre icon getir -->
              <i class="fa fa-history" title="Revize Geçmişi" style="cursor: pointer;" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
      </div>


    </div>

  </div>
  <!-- yorumlar -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Paylaşılanlar</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Daralt">
          <i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12" id="yorumCol">
            
        </div>
      </div>
    </div>
  </div>
  <!-- yorum yazma (richtext) -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Yorum Yap</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Daralt">
          <i class="fas fa-minus"></i></button>
      </div>
    </div> <!-- yorum cardına bir bölüm daha eklenecek onay anket -->
    <div class="card-body" id="yorumCard">
      <div class="row" style="height: 265px;">
        <div class="col-12 col-md-12 col-lg-10 order-2 order-md-1" id="yorumTextCol">
          <textarea class="textarea" name="yorumText" id="yorumText" placeholder=" . . . "
                          style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
        </div>
        <div class="col-12 col-md-12 col-lg-4 order-2 order-md-1" id="dosyaEkleCol" style="height: 265px;display: none;">
          <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="Dosyalar" id="fileInput" lang="tr" multiple>
                <label class="custom-file-label" for="fileInput" style="overflow: hidden;">Dosyaları Seçin</label>
            </div>
            <div class="input-group-append">
                <span class="input-group-text" id="dosyaTemizle" onclick="DosyaTemizle()">Temizle</span>
            </div>
          </div>
          <div id="fileTitles" class="form-group border border-secondary rounded" style="height: 215px ;overflow-y: scroll; overflow-x:hidden;"></div>
        </div>
        <div class="callout callout-info col-12 col-md-12 col-lg-2 order-2 order-md-1" style="height: 255px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <p style="font-weight: bold;">ONAY ANKETİ</p>
          <div style="display: inline-block;">
            <label style="display: inline-block;">
              <input type="radio" name="onay" id="onayRadio" value="onay"> ONAY
            </label>
            <label style="display: inline-block;">
              <input type="radio" name="onay" id="redRadio" class="ml-2" value="ret"> RET 
            </label>
            <button type="button" class="btn btn-sm btn-outline-primary ml-2" id="btnOnayAnket" onclick="onayAnketGonder()" disabled>gönder</button>
          </div>
          <br/>
          <div class="chart-container" style="position: relative; height:150px; width:200px;">
            <canvas id="onayChart"></canvas>
          </div>
        </div>
      </div>
      <i class="fas fa-link ml-1 mr-2" onclick="DosyaEkle()"></i>
      <button type="button" class="btn btn-primary" id="yorumPaylas" onclick="yorumPaylas()">Paylaş</button>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  var data = JSON.parse('{{ yuda_json|escapejs }}');
  var files = JSON.parse('{{ files_json|escapejs }}');
  var comments = JSON.parse('{{ comment_json|escapejs }}');

  const cardYuda = $('#yudaCard');
  function LoadDetail() {

    cardYuda.empty();  // Önceki verileri temizle
    var i = data[0];
    const yudaHeader = $('<div class="card-header"></div>').html(`
        <h3 class="card-title"> ${i.YudaNo}</h3>
        <div class="card-tools">
          <h5 class="card-title">Tarih:  ${i.Tarih} </h5>
          <h5 class="card-title mr-2 ml-2"> | </h5>
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Daralt">
            <i class="fas fa-minus"></i></button>
        </div>
      `);
    cardYuda.append(yudaHeader);

    const yudaBody = $('<div class="card-body"></div>').html(`
    <div class="row" id="yudaRow">
      <!-- sipariş, alaşım kondüsyon, tolerans, yüzey (pres, eloksal, boya, ahşap arrayler), talaşlı imalat, paketleme -->
      <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
        <div class="row">
          <div class="col-12 col-sm-4">
            <div class="info-box bg-light h-100">
              <div class="info-box-content" id="siparisDiv">
                <span class="info-box-text text-center text-muted">SİPARİŞ</span>
                <span class="info-box-number text-center text-muted mb-0">Müşteri Firma Adı: ${i.MusteriFirmaAdi || " - - "}</span>
                <span class="info-box-number text-center text-muted mb-0">Son Kullancı Firma: ${i.SonKullaniciFirma || " - - "}</span>
                <span class="info-box-number text-center text-muted mb-0">Kullanım Alanı: ${i.KullanimAlani || " - - "}</span>
                <span class="info-box-number text-center text-muted mb-0">Profil Siparişi: ${i.ProfilSiparisi || " - - "}</span>
                <span class="info-box-number text-center text-muted mb-0">Ödeme Vadesi: ${i.MusteriOdemeVadesi || " - - "}</span>
                <span class="info-box-number text-center text-muted mb-0">Çizim No: ${i.CizimNo || " - - "}</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="info-box bg-light h-100">
              <div class="info-box-content">
                <span class="info-box-text text-center text-muted">ALAŞIM VE KONDÜSYON</span>
                <span class="info-box-number text-center text-muted mb-0" style="overflow: auto">${i.AlasimKondusyon || " - - "}</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="info-box bg-light h-100">
              <div class="info-box-content">
                <span class="info-box-text text-center text-muted">TOLERANSLAR</span>
                <span class="info-box-number text-center text-muted mb-0">${i.DinTolerans || " - - "}<span>
                <span class="info-box-number text-center text-muted mb-0">${i.BirlikteCalisan || " - - "}<span>
                <span class="info-box-number text-center text-muted mb-0">Metre Ağırlık Talebi ${i.MetreAgirlikTalebi || " - - "}<span>
                <span class="info-box-number text-center text-muted mb-0">Önemli Ölçüler: ${i.OnemliOlculer || " - - "}<span>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-12">
            <div class="info-box bg-light">
              <div class="info-box-content">
                <span class="info-box-text text-center text-muted">YÜZEY</span>
                <span class="info-box-text text-center text-muted">Pres:</span>
                <span class="info-box-number text-center text-muted mb-0">${i.YuzeyPres || " - - "}</span>
                <hr>
                <span class="info-box-text text-center text-muted">Eloksal:</span>
                <span class="info-box-number text-center text-muted mb-0">${i.YuzeyEloksal || " - - "}
                <hr>
                <span class="info-box-text text-center text-muted">Boya:</span>
                </span><span class="info-box-number text-center text-muted mb-0">${i.YuzeyBoya || " - - "}</span>
                <hr>
                <span class="info-box-text text-center text-muted">Ahşap Kaplama:</span>
                <span class="info-box-number text-center text-muted mb-0">${i.YuzeyAhsap || " - - "}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="info-box bg-light h-100">
              <div class="info-box-content">
                <span class="info-box-text text-center text-muted">TALAŞLI İMALAT</span>
                <span class="info-box-number text-center text-muted mb-0">${i.TalasliImalat || " - - "} <br> Açıklama: ${i.TalasliImalatAciklama || " - - "}</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="info-box bg-light h-100">
              <div class="info-box-content">
                <span class="info-box-text text-center text-muted">PAKETLEME</span>
                <span class="info-box-number text-center text-muted mb-0">${i.Paketleme || " - - "} <br> Açıklama: ${i.PaketlemeAciklama || " - - "}<span>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2" id="yudaDosya" style="position: relative;">
        <h3 class="text-primary"><i class="fa fa-file"></i> DOSYALAR</h3>
        <p class="text-muted">${i.YudaNo} ile ilişkili dosyalar</p>
        <br>
        <h5 class="text-muted">Proje dosyaları</h5>
        <ul class="list-unstyled" id="dosyaList"">
          <li style="font-weight:bold; font-size:2em; cursor:pointer;" onclick="dosyaFunc(this)">Teknik Resim</li>
          <ul class="list-unstyled dosyalar hide" id="teknik"></ul>
          <li style="font-weight:bold; font-size:2em; cursor:pointer;" onclick="dosyaFunc(this)">Şartname</li>
          <ul class="list-unstyled dosyalar hide" id="sart"></ul>
          <li style="font-weight:bold; font-size:2em; cursor:pointer;" onclick="dosyaFunc(this)">Paketleme Talimatı</li>
          <ul class="list-unstyled dosyalar hide" id="paket"></ul>
          <li style="font-weight:bold; font-size:2em; cursor:pointer;" onclick="dosyaFunc(this)">Diğer</li>
          <ul class="list-unstyled dosyalar hide" id="digerDos"></ul>
        </ul>
      </div>
      
    </div>

    `);
    cardYuda.append(yudaBody);

    const teknikList = $('#teknik');
    const sartList = $('#sart');
    const paketList = $('#paket');
    const digerDosList = $('#digerDos');
    
    files.forEach(f => {
      if (f.FileTitle == "Teknik Resim") {
        const teknikDos = $('<li style="font-size:1.5em"></li>').html(`
              <a href="/media/${f.File}" target="_blank" class="btn-link text-secondary mr-1"><i class="far fa-fw fa-file-word"></i> ${f.File.substring(6)} </a>
            <i class="fa fa-history" title="Revize Geçmişi" style="cursor: pointer;" aria-hidden="true"></i>
        `);
        teknikList.append(teknikDos);
      }
      else if(f.FileTitle == "Şartname") {
        const sartDos = $('<li style="font-size:1.5em"></li>').html(`
              <a href="/media/${f.File}" target="_blank" class="btn-link text-secondary mr-1"><i class="far fa-fw fa-file-word"></i> ${f.File.substring(6)} </a>
              <i class="fa fa-history" title="Revize Geçmişi" style="cursor: pointer;" aria-hidden="true"></i>
        `);
        sartList.append(sartDos);
      }
      else if (f.FileTitle == "Paketleme Talimatı") {
        const paketDos = $('<li style="font-size:1.5em"></li>').html(`
              <a href="/media/${f.File}" target="_blank" class="btn-link text-secondary mr-1"><i class="far fa-fw fa-file-word"></i> ${f.File.substring(6)} </a>
              <i class="fa fa-history" title="Revize Geçmişi" style="cursor: pointer;" aria-hidden="true"></i>
        `);
        paketList.append(paketDos);
      }
      else {
        const digerDos = $('<li style="font-size:1.5em"></li>').html(`
              <a href="/media/${f.File}" target="_blank" class="btn-link text-secondary mr-1"><i class="far fa-fw fa-file-word"></i> ${f.File.substring(6)} </a>
              <i class="fa fa-history" title="Revize Geçmişi" style="cursor: pointer;" aria-hidden="true"></i>
        `);
        digerDosList.append(digerDos);
      }
    });

  };

  function dosyaFunc(e) {
    $(e).next('ul').toggle();
  };

  const yorumCol = $('#yorumCol');
  function LoadComments() {
    yorumCol.empty();
    comments.forEach(c => {
      const yorumlar = $('<div class="post"></div>').html(`
            <div class="user-block">
              <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
              <span class="username" style="color: blue;">
                ${c.KullaniciAdi}
              </span>
              <span class="description">${c.Tarih}</span>
            </div>
            <!-- /.user-block -->
            <p>
              ${c.Aciklama}
            </p>
      `);
      c.cfiles.forEach(cf => {
        const cfiles = $('<p></p>').html(`
              <a href="/media/${cf.File}" target="_blank" class="link-black text-sm"><i class="fas fa-link mr-1"></i>  ${cf.File.substring(6)}</a>
        `);
        yorumlar.append(cfiles);
      });
      
      /* yorumların dosyalarını nasıl eklemeliyim?? dosyaları yorumlar constuına değilde başka bir const ile eklesem? */
      yorumCol.append(yorumlar);
      
    });
    
  };
 
  function DosyaEkle() {
    let changedClass = "col-12 col-md-12 col-lg-6 order-2 order-md-1";
    document.getElementById('yorumTextCol').setAttribute("class", changedClass);
    $('#dosyaEkleCol').show();
  };
  
  var selectedFiles = [];
  $('#fileInput').on('change', function(e) {
    Array.from(e.target.files).forEach(function(newFile) {
        if (!fileAlreadySelected(newFile)) {
            selectedFiles.push(newFile);
        }
    });
    updateFileList();
  });

  function fileAlreadySelected(newFile) {
      return selectedFiles.some(function(existingFile) {
          return newFile.name === existingFile.name && newFile.size === existingFile.size;
      });
  }

  function updateFileList() {
    var fileTitles = $('#fileTitles');
    fileTitles.empty(); // Önceki başlık alanlarını temizle

    var row = $('<div class="row"></div>');
    fileTitles.append(row);

    selectedFiles.forEach(function(file, index){
        let fileType = file.name.split(".").pop().toLowerCase();
        var column = $(
            `<div class="col-md-6 mt-3">
                <div class="mp-2 d-flex ml-2 mr-2 justify-content-between border rounded">
                    <span class="fiv-cla fiv-icon-${fileType} border-right-0" rounded-left"></span>
                    <div class="p-1 flex-grow-1">
                        <label class="overflow">${file.name}</label>
                        <select class="form-control kaydet" name="fileTitles[]">
                            <option value="Teknik Resim">Teknik Resim</option>
                            <option value="Şartname">Şartname</option>
                            <option value="Paketleme Talimatı">Paketleme Talimatı</option>
                            <option value="Diger">Diğer</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-lg rounded-right" onclick="removeFile(${index})">
                        <i class="fas fa-times fa-spin-hover fa-lg text-danger"></i>
                    </button>
                </div>
            </div>`
        );

        row.append(column);

        if ((index + 1) % 2 === 0 && index + 1 < selectedFiles.length) {
            row = $('<div class="row"></div>');
            fileTitles.append(row);
        }
    });

  };

  window.removeFile = function(index) {
      selectedFiles.splice(index, 1);
      updateFileList();
  };

  function DosyaTemizle(){
      selectedFiles = [];
      updateFileList();
  };

  function yorumPaylas(){
    var yorumData = new FormData();
    var textareaValue = $('.textarea').summernote('code');
    yorumData.append("csrfmiddlewaretoken", "{{csrf_token}}");
    yorumData.append("formID", data[0].id);
    yorumData.append("yorum", textareaValue);
    selectedFiles.forEach(function(file) {
      yorumData.append('yfiles', file);
    });
    //dosya yüklerken önceki dosya yükleme gibi olmalı title işaretlenmeli
    
    $.ajax({
            url: '/yudaDetailComment',
            type: 'POST',
            data: yorumData,
            contentType: false,
            processData: false,
            success: function(response) {
                // Başarılı yükleme sonrası işlemler
                window.location.reload();
            },
            error: function(response) {
                // Hata durumunda işlemler
                alert('Yorum kaydedilemedi. '+response.responseJSON.error);
            }
    });

  };

  LoadDetail();
  LoadComments();

  $(function () {
    // Summernote
    $('.textarea').summernote({
      disableResizeEditor: true,
      height:200,
      toolbar: [
        //['misc', ['undo', 'redo']],
        ['style', ['bold', 'italic', 'underline']],
        ['font', ['superscript', 'subscript']],
        ['fontsize', ['fontsize']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']],
        ['table'],
        ['custom', ['specialchars']],
      ]
    });
    
  });
  

  var anketSecimi  = "";
  // Use event delegation for dynamically added elements
  $(document).on('change', 'input[type=radio][name=onay]', function() {
      document.getElementById("btnOnayAnket").disabled = false;
      anketSecimi = this.value;
  });

  function onayAnketGonder() {

    const params = {
          yId: data[0].id,
          secim: anketSecimi,
    };

    $.ajax({
        url: `/yudaDetailAnket`,
        method: 'GET',
        data: { params: JSON.stringify(params)},
        dataType: 'json',
        success: function (sonuc) {
            //canvas data değişecek
            voteChart.data.datasets[0].data = [sonuc.onay, sonuc.ret];
            voteChart.update();
        },
        error: function (error) {
            console.error('Error loading poll results:', error);
        }
    });

  }

  const onayVotes = JSON.parse('{{ onay|escapejs }}');
  const retVotes = JSON.parse('{{ ret|escapejs }}');
  const voteChartCanvas = document.getElementById('onayChart').getContext('2d');

  const voteChart = new Chart(voteChartCanvas, {
      type: 'pie',
      data: {
          labels: ['ONAY', 'RET'],
          datasets: [{
              label: 'Vote Rates',
              data: [onayVotes, retVotes],
              backgroundColor: [
                  'rgba(54, 162, 235, 0.8)', // Blue color for ONAY renkleri değiştir!!
                  'rgba(255, 99, 132, 0.8)' // Red color for RET ne renk olsa
              ],
              borderWidth: 1
          }]
      },
      options: {
        resize: true,
      }
  });

</script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<!-- Select2 -->
<script src="{% static 'admin-lte/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- Summernote -->
<script src="{% static 'admin-lte/plugins/summernote/summernote-bs4.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/summernote/plugin/specialchars/summernote-ext-specialchars.js' %}"></script>
<script src="{% static 'admin-lte/plugins/chart.js/Chart.min.js' %}"></script>
{% endblock %}