{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    sidebar-collapse
  {% endblock %}
{% endblock %}

{% load static %}
{% load guardian_tags %}

{% block title %}
  Arslan Alüminyum
{% endblock %}

{% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" href="{% static 'ArslanTakipApp/icons.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.css' %} ">
  <style>
    #applyFilter {
        display: block;
        width: 100%;
    }
  </style>

{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="card">
    <div class="card-header">
      <h3 class="card-title" style="font-weight: bold;">YENİ ÜRÜN DEVREYE ALMA FORMLARI</h3>
      <div class="card-tools">
          <a class="btn btn-tool" data-toggle="tooltip" title="Silinenler" href="deletedYudas">
            <i class="fas fa-trash"></i></button></a>
          <a class="btn btn-tool" data-toggle="tooltip" title="Filtrele" id="filterButton">
            <i class="fas fa-filter"></i></button></a>
          <a class="btn btn-tool" data-toggle="tooltip" title="Ekle" href="yuda">
            <i class="fas fa-plus"></i></button>
          </a>
      </div>
      <div class="modal fade" id="filterPanelModal" tabindex="-1" aria-labelledby="searchModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Filtre</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="filterPan">
                <!-- Filter options -->
                <div class="row">
                  <div class="form-group col-lg-6">
                    <label for="yudaNoFilter">Yuda No: </label>
                    <input type="text" id="yudaNoFilter" name="yudaNoFilter" class="form-control mb-2">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="musteriFirmaFilter">Müşteri Firma: </label>
                    <input type="text" id="musteriFirmaFilter" name="musteriFirmaFilter" class="form-control mb-2">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-6">
                    <label for="musteriTemsilcisiSelect">Müşteri Temsilcisi: </label>
                    <select class="form-control mb-2" id="musteriTemsilcisiSelect" name="musteriTemsilcisiSelect" data-placeholder="Seçim Yapınız"></select>
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="islemFilter">İşlem Var Mı: </label>
                    <select class="select2bs4 form-control mb-2" multiple="multiple" id="islemFilter" name="islemFilter" data-placeholder="Seçim Yapınız" style="width: 100%;">
                      <option></option> 
                      <option value="Boya">Boya</option>
                      <option value="Eloksal">Eloksal</option>
                      <option value="Mekanik Islem">Mekanik İşlem</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-6">
                    <label for="dosyaFilter">Dosya Adı: </label>
                    <input type="text" id="dosyaFilter" name="dosyaFilter" class="form-control mb-2">
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="cizimFilter">Çizim No: </label>
                    <input type="text" id="cizimFilter" name="cizimFilter" class="form-control mb-2">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-6 mb-2">
                    <label for="tarihFilter">Tarih: </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="far fa-calendar-alt"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control float-right" name="tarihFilter" data-field="Tarih" id="tarihFilter">
                    </div>
                  </div>
                  <div class="form-group col-lg-6 mb-2">
                    <label for="guncelTarihFilter">Son Yorum: </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="far fa-calendar-alt"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control float-right" name="guncelTarihFilter" data-field="GüncelTarih" id="guncelTarihFilter">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-6 mt-2">
                    <label for="bolumFilter">Bölüm: </label>
                    <select class="form-control mb-2" id="bolumSelect" name="bolumSelect" data-placeholder="Seçim Yapınız">
                      <option value=""></option>
                      <option value="Boyahane Bolumu">Boya</option>
                      <option value="Eloksal Bolumu">Eloksal</option>
                      <option value="Kaliphane Bolumu">Kalıphane</option>
                      <option value="Kalite Bolumu">Kalite</option>
                      <option value="Mekanik Islem Bolumu">Mekanik İşlem</option>
                      <option value="Paketleme Bolumu">Paketleme</option>
                      <option value="Planlama Bolumu">Planlama</option>
                      <option value="Pres Bolumu">Pres</option>
                      <option value="Yurt Disi Satis Bolumu">Yurt Dışı Satış</option>
                      <option value="Yurt Ici Satis Bolumu">Yurt İçi Satış</option>
                    </select>
                  </div>
                  <div class="form-group col-lg-6 mt-2">
                    <label for="bolumOnayFilter">Bölümün Onay Durumu: </label>
                    <select class="form-control mb-2" id="bolumOnaySelect" name="bolumOnaySelect" data-placeholder="Seçim Yapınız" disabled>
                      <option value="All">Hepsi</option>
                      <option value="True">Onay</option>
                      <option value="False">Ret</option>
                      <option value="None">Belirsiz</option>
                    </select>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="btnTemizle" class="btn btn-secondary">Temizle</button>
              <button type="button" id="applyFilter" class="btn btn-primary">Filtre Uygula</button>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="card-body">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        #
                    </th>
                    <th style="width: 7%">
                        YUDA
                    </th>
                    <th style="width: 11%;">
                        Müşteri Firma
                    </th>
                    <th style="width: 9%;">
                        Çizim No
                    </th>
                    <th style="width: 10%;">
                        Müşteri Temsilcisi
                    </th>
                    <th style="width: 37%;">
                        Onay
                    </th>
                    <th style="width: 8%" class="text-center">
                        Durum
                    </th>
                    <th style="width: 7%">
                        Son Yorum
                    </th>
                    <th style="width: 10%">
                    </th>
                </tr>
            </thead>
            <tbody id="yudaTBody">

            </tbody>
        </table>
        <br>
        <div class="pagination-container">
            <div class="row ml-1">
            <select id="perPageSelect" class="form-control col-lg-1">
              <option value="7" selected>7</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="40">40</option>
              <option value="100">100</option>
              <option value="150">150</option>
              <option value="200">200</option>
              <!-- Diğer seçenekleri ekleyebilirsiniz -->
            </select>
            <ul class="pagination col-lg-11"></ul>
            </div>
          </div>
    </div>
</div>
</div>
{% endblock %}

{% block extra_js %} 
<script>
  let itemsPerPage = 7;  // Başlangıçta varsayılan değer
  let filterList = [];
  const tableBody = $('#yudaTBody');
  const bolumSelect = document.getElementById("bolumSelect");
  const bolumOnaySelect = document.getElementById("bolumOnaySelect");

  bolumSelect.addEventListener("change", function() {
    if (bolumSelect.value !== "") {
      // Eğer bolumSelect boş değilse, bolumOnaySelect'i aktif hale getir
      bolumOnaySelect.disabled = false;
    } else {
      // Eğer bolumSelect boşsa, bolumOnaySelect'i disabled yap
      bolumOnaySelect.disabled = true;
    }
  });

  function saveState() {
    const state = {
        filterList: filterList,
        currentPage: currentPage,
        itemsPerPage: itemsPerPage
    };
    console.log(currentPage);
    sessionStorage.setItem('yudaListState', JSON.stringify(state));
  }

  function restoreState() {
    const state = JSON.parse(sessionStorage.getItem('yudaListState'));
    if (state) {
        filterList = state.filterList;
        itemsPerPage = state.itemsPerPage;
        $('#perPageSelect').val(itemsPerPage).trigger('change'); // Update items per page dropdown
        currentPage = state.currentPage;
        applyFiltersFromState(); // Apply filters to UI components based on stored state
        loadPage(currentPage); 
    }
  }

  function applyFiltersFromState() {
    console.log(filterList)
    $('#yudaNoFilter').val(filterList.find(f => f.field === 'YudaNo')?.value || '');
    $('#musteriFirmaFilter').val(filterList.find(f => f.field === 'MusteriFirmaAdi')?.value || '');
    $('#dosyaFilter').val(filterList.find(f => f.field === 'Dosya')?.value || '');
    $('#cizimFilter').val(filterList.find(f => f.field === 'CizimNo')?.value || '');

    const islemFilterValues = filterList.find(f => f.field === 'Islem')?.value || [];
    $('#islemFilter').val(islemFilterValues).trigger('change');
    const musteriTemsilcisiSelect = filterList.find(f => f.field === 'YudaAcanKisi_id')?.value || '';
    $('#musteriTemsilcisiSelect').val(musteriTemsilcisiSelect).trigger('change');
    const bolumSelectState = filterList.find(f => f.type === 'BolumOnayFilter')?.field || '';
    console.log(bolumSelectState)
    $('#bolumSelect').val(bolumSelectState).trigger('change');
    const bolumOnaySelectState = filterList.find(f => f.type === 'BolumOnayFilter')?.value || '';
    if (bolumOnaySelectState != '') {
      $( "#bolumOnaySelect" ).prop( "disabled", false );
    }
    $('#bolumOnaySelect').val(bolumOnaySelectState).trigger('change');
    const tarihFilter = filterList.find(f => f.field === 'Tarih');
    if (tarihFilter) {
        const tarihPicker = $('#tarihFilter').data('daterangepicker');
        tarihPicker.setStartDate(new Date(tarihFilter.type));
        tarihPicker.setEndDate(new Date(tarihFilter.value));
        $('#tarihFilter').val(tarihPicker.startDate.format('DD-MM-YYYY') + ' | ' + tarihPicker.endDate.format('DD-MM-YYYY'));
    }

    const guncelTarihFilter = filterList.find(f => f.field === 'GüncelTarih');
    if (guncelTarihFilter) {
        const guncelTarihPicker = $('#guncelTarihFilter').data('daterangepicker');
        guncelTarihPicker.setStartDate(new Date(guncelTarihFilter.type));
        guncelTarihPicker.setEndDate(new Date(guncelTarihFilter.value));
        $('#guncelTarihFilter').val(guncelTarihPicker.startDate.format('DD-MM-YYYY') + ' | ' + guncelTarihPicker.endDate.format('DD-MM-YYYY'));
    }
  }

  let currentPage =1;
  $(document).ready(function() {
    restoreState();
    loadPage(currentPage); // Load page based on restored state
  });

  $('#filterButton').click(function() {
      $('#filterPanelModal').modal('show');
  });

  var tarihFilterList = {};
  var guncelTarihFilterList = {}; 
  $('#tarihFilter').on('apply.daterangepicker', function(ev, picker) {
    var start = picker.startDate;
    var end = picker.endDate;
    tarihFilterList ={ field: "Tarih", type: start.format('YYYY-MM-DD'), value: end.format('YYYY-MM-DD')};
    $( "#tarihFilter" ).val(start.format('DD-MM-YYYY') + ' | '+ end.format('DD-MM-YYYY'));
  });
  $('#tarihFilter').on('cancel.daterangepicker', function(ev, picker) {
    tarihFilterList ={};
    $( "#tarihFilter" ).val('');
  });

  $('#guncelTarihFilter').on('apply.daterangepicker', function(ev, picker) {
    var start = picker.startDate;
    var end = picker.endDate;
    guncelTarihFilterList ={ field: "GüncelTarih", type: start.format('YYYY-MM-DD'), value: end.format('YYYY-MM-DD')};
    $( "#guncelTarihFilter" ).val(start.format('DD-MM-YYYY') + ' | '+ end.format('DD-MM-YYYY'));
  });
  $('#guncelTarihFilter').on('cancel.daterangepicker', function(ev, picker) {
    guncelTarihFilterList ={};
    $( "#guncelTarihFilter" ).val('');
  });
  $('#applyFilter').click(function() {
      const yudaNoFilter = $('#yudaNoFilter').val();
      const musteriFirmaFilter = $('#musteriFirmaFilter').val();
      const islemFilter = $('#islemFilter').val();
      const musteriTemsilcisiSelect = $('#musteriTemsilcisiSelect').val();
      const bolumVal = bolumSelect.value;
      const bolumOnayVal = bolumOnaySelect.value;
      const dosyaFilter = $('#dosyaFilter').val();
      const cizimFilter = $('#cizimFilter').val();
      const tarihFilter = $('#tarihFilter').val();
      const guncelTarihFilter = $('#guncelTarihFilter').val();
      filterList = [];

      if (yudaNoFilter != "") {
        filterList.push({ field: 'YudaNo', type:'like', value: yudaNoFilter });
      };
      if (musteriFirmaFilter != ""){
        filterList.push({ field: 'MusteriFirmaAdi', type:'has', value: musteriFirmaFilter });
      };
      if (islemFilter.length != 0){
        if (islemFilter[0] != '') {
          filterList.push({ field: 'Islem', type:'like', value: islemFilter });
        }
        else if (islemFilter[0] == '' && islemFilter.length != 1){
          filterList.push({ field: 'Islem', type:'like', value: islemFilter });
        }
      };
      if (musteriTemsilcisiSelect != null && musteriTemsilcisiSelect != ""){
        filterList.push({ field: 'YudaAcanKisi_id', type:'=', value: musteriTemsilcisiSelect });
      };
      if (bolumOnayVal != null && bolumOnayVal != "" && bolumVal != null && bolumVal != ""){
        filterList.push({ field: bolumVal, type:'BolumOnayFilter', value: bolumOnayVal });
      };
      if (dosyaFilter != "") {
        filterList.push({ field: 'Dosya', type:'like', value: dosyaFilter });
      };
      if (cizimFilter != "") {
        filterList.push({ field: 'CizimNo', type:'like', value: cizimFilter });
      };
      if (tarihFilter != "") {
        filterList.push(tarihFilterList);
      }
      if (guncelTarihFilter != "") {
        filterList.push(guncelTarihFilterList);
      }
      
      loadPage(1);
      saveState();
      $('#filterPanelModal').modal('hide');
  });

  document.getElementById('btnTemizle').addEventListener('click', () => {
    $('#yudaNoFilter, #musteriFirmaFilter, #musteriTemsilcisiSelect, #islemFilter, #bolumSelect, #bolumOnaySelect, #cizimFilter, #dosyaFilter, #tarihFilter').val("");
    $( "#bolumOnaySelect" ).prop( "disabled", true );
    $('#islemFilter').val([]).trigger('change');
    sessionStorage.removeItem('yudaListState');
  });

  $('.select2bs4').select2({
      theme: 'bootstrap4',
      allowClear: true
    });

  $('#tarihFilter, #guncelTarihFilter').daterangepicker({
    "locale": {
      "format": "DD-MM-YYYY",
      "separator": " | ",
      "applyLabel": "Uygula",
      "cancelLabel": "İptal Et",
      "fromLabel": "From",
      "toLabel": "To",
      "customRangeLabel": "Custom",
      "weekLabel": "H",
      "daysOfWeek": [
          "Pa",
          "Pt",
          "Sa",
          "Ça",
          "Pe",
          "Cu",
          "Ct"
      ],
      "monthNames": [
          "Ocak",
          "Şubat",
          "Mart",
          "Nisan",
          "Mayıs",
          "Haziran",
          "Temmuz",
          "Ağustos",
          "Eylül",
          "Ekim",
          "Kasım",
          "Aralık"
      ],
      "firstDay": 1,
      
    },"autoUpdateInput": false,
  });

  function getTemsilci(data){
    $('#musteriTemsilcisiSelect').empty();
    $('#musteriTemsilcisiSelect').append('<option value="" selected> </option>');
    $.each(data, function(key, value) {
        $('#musteriTemsilcisiSelect').append('<option value=' + value.id + '>' + value.full_name + '</option>');
    });
  }

  function getProjects(pData){
    var data = pData.data;

      tableBody.empty();  // Önceki verileri temizle
      data.forEach(item => {
        let durumlar = item.durumlar;
          let html1 = `
          <td>
              #
          </td>
          <td>
              <a href="yudaDetail/${item.id}" style="color: black;">
                  ${item.YudaNo}
              </a>
              <br/>
              <small>
                  ${item.Tarih}
              </small>
          </td>
          <td>
              <a>${item.MusteriFirmaAdi}</a>
          </td>
          <td>
              <a>${item.CizimNo}</a>
          </td>
          <td>
              <a>${item.MusteriTemsilcisi}</a>
          </td>
          <td class="project_progress">`;
          Object.entries(durumlar).forEach(([group, status]) => {
            if (group != "Ust Yonetim") {
              html1 += `<span class="badge badge-${status}">${group}</span>`
            }
          })
          html1 += `
          </td>
          <td class="project-state">
            `
            let yudadurum = "";
            if (item.OnayDurumu == "Reddedildi") {
              yudadurum = 'danger';
            }
            else if (item.OnayDurumu == "Onaylandı") {
              yudadurum = 'success';
            }
            else {
              yudadurum = 'warning';
            }
            html1 +=
              `<span class="badge badge-${yudadurum}">${item.OnayDurumu}</span>`
            html1 +=
            `
          </td>
          <td>
              <a>${item.GüncelTarih}</a>
          </td>
          <td class="project-actions text-right">
              <a class="btn btn-primary btn-sm" href="yudaCopy/${item.id}" data-toggle="tooltip" title="Kopyala">
                  <i class="fas fa-clone">
                  </i>
              </a>
              <a class="btn btn-primary btn-sm" href="yudaDetail/${item.id}" data-toggle="tooltip" title="Görüntüle">
                  <i class="fas fa-eye">
                  </i>
              </a>
                  <a class="btn btn-info btn-sm" href="yudaEdit/${item.id}" data-toggle="tooltip" title="Düzenle">
                      <i class="fas fa-pencil-alt">
                      </i>
                  </a>
                  <a class="btn btn-info btn-sm" href="yudaDelete/${item.id}" data-toggle="tooltip" title="Sil">
                      <i class="fas fa-trash">
                      </i>
                  </a>
          </td>
          `;
          const row = $('<tr></tr>').html(html1); // hemen silinmesin uyarı ve onay verilsin 
          tableBody.append(row);
      });
  };

  const renderPagination = (totalPages) => {
    const paginationUl = $('.pagination');
    paginationUl.empty();  // Önceki pagination'ı temizle

    const prevButton = `
    <li class="page-item prev ${currentPage === 1 ? 'disabled' : ''}">
          <a class="page-link" href="#" aria-label="Previous" style="color: #96B6C5;">
              <span aria-hidden="true">&laquo;</span>
          </a>
      </li>
    `;
    
    const nextButton = `
    <li class="page-item next ${currentPage === totalPages ? 'disabled' : ''}">
          <a class="page-link" href="#" aria-label="Next" style="color: #96B6C5;">
              <span aria-hidden="true">&raquo;</span>
          </a>
      </li>
    `;

    paginationUl.append(prevButton);

    const visiblePages = calculateVisiblePages(totalPages);

    for (let i = 1; i <= totalPages; i++) {
      if (i === 1 || i === totalPages || visiblePages.includes(i)) {
        const liClass = i === currentPage ? 'page-item active' : 'page-item';
        const li = `<li class="${liClass}"><a class="page-link" href="#" style="color: #96B6C5;">${i}</a></li>`;
        paginationUl.append(li);
      } else if (i === visiblePages[0] - 1 || i === visiblePages[visiblePages.length - 1] + 1) {
        paginationUl.append(`
          <li class="page-item disabled">
            <span class="page-link" style="color: #96B6C5;">...</span>
          </li>
        `);
      }
    }

    paginationUl.append(nextButton);

    paginationUl.find('.page-link').on('click', function (e) {
      const parentLi = $(this).closest('.page-item');

      if (parentLi.hasClass('disabled')) {
        return;
      }

      if (parentLi.hasClass('prev')) {
        currentPage = Math.max(1, currentPage - 1);
      } else if (parentLi.hasClass('next')) {
        currentPage = Math.min(totalPages, currentPage + 1);
      } else {
        currentPage = parseInt($(this).text());
      }

      loadPage(currentPage);
      saveState();
    });
  };

  const calculateVisiblePages = (totalPages) => {
    const visiblePages = [];
    const maxVisiblePages = 20; // You can adjust this value

    const middlePage = Math.floor(maxVisiblePages / 2);
    const lowerBound = Math.max(1, currentPage - middlePage);
    const upperBound = Math.min(totalPages, lowerBound + maxVisiblePages - 1);

    for (let i = lowerBound; i <= upperBound; i++) {
      visiblePages.push(i);
    }

    return visiblePages;
  };

  const loadPage = (page) => {
    currentPage = page;
    const params = {
      page: page,
      size: itemsPerPage,
      filter: filterList,
    };
    $.ajax({
        url: `yudas/list`,
        method: 'GET',
        data: { params: JSON.stringify(params)},
        dataType: 'json',
        success: function (paginatedData) {
            getProjects(paginatedData);
            renderPagination(paginatedData.last_page);
            getTemsilci(paginatedData.temsil)
        },
        error: function (error) {
            console.error('Error loading paginated data:', error);
        }
    });
  };

  $('#perPageSelect').on('change', function () {
    itemsPerPage = parseInt($(this).val());
    currentPage = 1;  // Sayfa başına sayısı değiştiğinde ilk sayfaya geç
    loadPage(currentPage);
  });

  $('a[href^="/yudas"]').on('click', function() { //Yuda Listesi linkine tıkladığında state kaldırılsın
    sessionStorage.removeItem('yudaListState');
  });

</script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'admin-lte/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/daterangepicker/daterangepicker.js' %}"></script>
{% endblock %}