{% extends 'adminlte/base.html' %}
{% block body_class %}
  {% block bodyclass %}
    layout-top-nav
  {% endblock %}
{% endblock %}

{% load static %}
{% load guardian_tags %}

{% block title %}
  Kalıphane
{% endblock %}

{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
<style>
    
</style>
{% endblock %}

{% block content %}
<div >

</div>
{% endblock %}

{% block extra_js %} 
<script>

</script>
{% endblock %}

{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}

{% endblock %}