{% extends 'adminlte/base.html' %}

{% load static %}

{% block title %}Arslan Alüminyum Lokasyon{% endblock %}

{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'treeselectjs/dist/treeselectjs.css' %}" />

{% endblock %}
{% block content %}
    
<h1>~~YAPIM AŞAMASINDA~~</h1>

<div class="container-fluid-lg-12">
  <h1 class="col-lg-11">Arslan Alüminyum Stok Kartı</h1>
  <div class="row">
    <div class="container-fluid col-lg-12">
      <div class="card container-fluid " id="stok_karti">
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-lg-7">
              <div class="form-group">
                <label>Depo</label>
                <select class="form-control select2-lg" style="width: 100%;">
                  <option selected="selected">HAM Mlz.ler (İlk Maddeler)</option>
                  <option>YARIMAMUL (Aramamül) Mallar</option>
                  <option>MAMUL (Bitmiş Ürünler)</option>
                  <option>TİCARİ MALLAR</option>
                  <option>YARDIMCI İMALAT MALZEMELERİ</option>
                  <option>MLZ. TAŞIYICILAR (Kasa/Amb./Palet)</option>
                  <option>FİRE ve HURDA Mlz.ler</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <div class="form-group">
                <label>Tür</label>
                <select class="form-control select2-lg" style="width: 100%;">
                  <option selected="selected">HAM Mlz.ler (İlk Maddeler)</option>
                  <option>YARIMAMUL (Aramamül) Mallar</option>
                  <option>MAMUL (Bitmiş Ürünler)</option>
                  <option>TİCARİ MALLAR</option>
                  <option>YARDIMCI İMALAT MALZEMELERİ</option>
                  <option>MLZ. TAŞIYICILAR (Kasa/Amb./Palet)</option>
                  <option>FİRE ve HURDA Mlz.ler</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <div class="example">
                
              </div>
            </div>
          </div>
          <div class="row">
            <span id="deneme"></span>
            <h2></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {% for i in data %}
                    <option value="{{i.locationName}}">{{i.locationName}}</option>
                  {% endfor %} -->

{% endblock %}

{% block javascript %}

{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/select2/js/select2.full.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/inputmask/min/jquery.inputmask.bundle.min.js' %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="{% static 'treeselectjs/dist/treeselectjs.mjs' %}"></script>
<!-- Page script -->
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

  });

  var options = JSON.parse('{{ data|escapejs }}');
/*   var treeselect = new Treeselect({
    parentHtmlContainer: document.querySelector('.example'),
    options: options,
    isSingleSelect: false,
  });

  treeselect.srcElement.addEventListener('input', (e) => {
    console.log(e.detail)
  });
 */


  /*var tree = JSON.parse('{{ data|escapejs }}');
   function makeTreeOption(tree) {
    let ouput =''
    for (let i = 0 ; i < tree.length ; i++){
      ouput += `<optgroup label="${tree[i].locationName}" value="${tree[i].locationName}">`;
      if (tree[i]._children) {
        tree[i]._children.forEach(_children => {
          if (_children._children) {
            ouput += makeTreeOption(_children);
          } else {
            ouput += `<option>${_children.locationName}</option>`;
          }
        });
      }
      ouput += `</optgroup>`;
    };
    
    document.getElementById("deneme").innerText = ouput;
    return ouput;
  }; 
  document.getElementById("datas").innerHTML = makeTreeOption(tree);*/
  

</script>
{% endblock %}
