{% extends 'adminlte/base.html' %}
{% block body_class %}{% block bodyclass %}sidebar-collapse {% endblock %}{% endblock %}

{% load static %}

{% block title %}Arslan Alüminyum Lokasyon{% endblock %}

{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

  <link rel="stylesheet" type="text/css"  href="{% static 'node_modules/treeselectjs/dist/treeselectjs.css' %}"></script>
{% endblock %}
{% block content %}
    
<h1>~~YAPIM AŞAMASINDA~~</h1>

<div class="container-fluid-lg-12">
  <h1 class="col-lg-11">Arslan Alüminyum Stok Kartı</h1>
  <div class="row">
    <div class="container-fluid col-lg-12">
      <div class="card container-fluid " id="stok_karti">
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-lg-7">
              <div class="form-group">
                <label>Depo</label>
                <select class="form-control select2-lg" style="width: 100%;">
                  <option selected="selected">HAM Mlz.ler (İlk Maddeler)</option>
                  <option>YARIMAMUL (Aramamül) Mallar</option>
                  <option>MAMUL (Bitmiş Ürünler)</option>
                  <option>TİCARİ MALLAR</option>
                  <option>YARDIMCI İMALAT MALZEMELERİ</option>
                  <option>MLZ. TAŞIYICILAR (Kasa/Amb./Palet)</option>
                  <option>FİRE ve HURDA Mlz.ler</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <div class="form-group">
                <label>Tür</label>
                <select class="form-control select2-lg" style="width: 100%;">
                  <option selected="selected">HAM Mlz.ler (İlk Maddeler)</option>
                  <option>YARIMAMUL (Aramamül) Mallar</option>
                  <option>MAMUL (Bitmiş Ürünler)</option>
                  <option>TİCARİ MALLAR</option>
                  <option>YARDIMCI İMALAT MALZEMELERİ</option>
                  <option>MLZ. TAŞIYICILAR (Kasa/Amb./Palet)</option>
                  <option>FİRE ve HURDA Mlz.ler</option>
                </select>
              </div>
            </div>
          </div>      
          <div class="row">    
          <div id="data" class="demo"></div>
          </div>
          <div class="row">
            <span id="deneme2"></span>
          </div>
          <div class="row">
            <span id="deneme3"></span>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <div class="example" id="example">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <div class="example2" id="example2">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7">
          <div class="example5">
            <label>Birim</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7">
          <div class="example3">
            <label>Ambalaj Birimi</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7">
          <div class="example4">
            <label>Paket İçi Miktar</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

{% include 'adminlte/lib/_scripts.html' %}
<script src="{% static 'admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin-lte/plugins/select2/js/select2.full.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static 'admin-lte/plugins/moment/moment.min.js' %}"></script>

<script type="text/javascript" src="{% static 'node_modules/treeselectjs/dist/treeselectjs.umd.js' %}"></script>
<!-- Page script -->
<script>

  function getChildren(groupValue) {
    return $.ajax({
      url: '',
      method: 'GET',
      dataType: 'json'
    });
  };

  function initTS(optionsData) {
    const domElement = document.querySelector('.example') ;
    const treeselect = new Treeselect({
      parentHtmlContainer: domElement,
      value: [],
      options: optionsData,
      isSingleSelect: true,
    });

    treeselect.srcElement.addEventListener('input', (e) => {
      console.log('secilen deger')
    });
  };



/*   $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

  }); */

  //var data = JSON.parse('{{ data|escapejs }}');

/*  const options = JSON.parse('{{ data|escapejs }}');
   var domElement = document.querySelector('.example') 
  const treeselect = new Treeselect({
    parentHtmlContainer: domElement,
    isSingleSelect: true,
    options: options,
  });

  treeselect.srcElement.addEventListener('input', (e) => {
    console.log('Selected value:', e.detail),
    $.ajax({
      type:'GET',
      url:'deneme', 
      data: {id:e.detail},
       success: function(result){
        console.log(result);
        treeselect.options = result;
        treeselect.mount();
        treeselect.toggleOpenClose();
    }});
    
  }); */
  
  



</script>
{% endblock %}
